[2017-10-27 22:36] amoradi commented on #538
@Peradon You got it!

[2017-10-27 22:37] amoradi commented on #537
@rgehan It's all yours! Thanks!

[2017-10-27 22:39] amoradi commented on #532
You got it @aziznatour!

[2017-10-27 22:45] amoradi commented on #528
@kathnakon Thanks! It's all yours!

[2017-10-27 23:01] EvilEpicCoder commented on #546
I start work on this.

[2017-10-27 23:20] sebassdc opened #551 "Implement arrayMult function"
There is currently a method called `arrayMult` that lives in `/lib/arrayMult.js`.
It is incomplete and needs to be fixed!

This method should not modify the original array.
It will ignore anything that is not a number.
It will take an array of numbers an return the result of all the items multiplied.
Ex:
[code]
### Acceptance Criteria:
1. Running `yarn test arrayMult` results in tests passing.
2.

[2017-10-27 23:23] jbharat commented on #549
@BlakeGuilloud I would like to work on this

[2017-10-27 23:26] jbharat commented on #545
@BlakeGuilloud I would like to work on this

[2017-10-27 23:33] sebassdc commented on #551
Requires  #550  to be merged first

[2017-10-27 23:34] sebassdc commented on #501
This doesn't have a skeleton

[2017-10-28 00:22] amoradi commented on #501
@sebassdc It looks like it is misnamed `getBiconditional.test.js`. Feel free to change it to the correct name! Apologies!

[2017-10-28 00:25] amoradi commented on #545
@jbharat Have at it! 🎃

[2017-10-28 00:40] BlakeGuilloud commented on #549
You got it @jbharat !

[2017-10-28 00:42] #543 closed

[2017-10-28 00:45] #537 closed

[2017-10-28 00:46] #509 closed

[2017-10-28 00:47] #474 closed

[2017-10-28 00:48] #469 closed

[2017-10-28 00:50] #540 closed

[2017-10-28 00:51] #500 closed

[2017-10-28 01:37] WilliamSpruyt commented on #536
"@BlakeGuilloud I would like to work on this"

[2017-10-28 01:42] sebassdc commented on #501
@amoradi its my fault its already merged i doesn't check correctly. Sorry :/

[2017-10-28 01:54] sebassdc opened #553 "Implement isHeterogram function"
There is currently a method called `isHeterogram` that lives in `/lib/isHeterogram.js`.
It is incomplete and needs to be fixed!

This function will only accept strings.
It should return true if all the letters in the string are unique (ignoring whitespaces)
Ex:

[code]

### Acceptance Criteria:
1. Running `yarn test isHeterogram` results in tests passing.
2. You have written a skeleton method for

[2017-10-28 01:55] sebassdc commented on #553
Requires #552 to be merged first

[2017-10-28 02:22] BlakeGuilloud commented on #536
It's yours @WilliamSpruyt ! Thanks

[2017-10-28 02:24] #456 closed

[2017-10-28 02:37] BlakeGuilloud commented on #507
Is this something you could take on @FranceJ ? Or should it be broken out into several issues?

[2017-10-28 03:12] davidkwan95 opened #554 "Fix isEmpty function"
There is currently a method called `isEmpty` that lives in `/lib/isEmpty.js`.
It is incomplete and needs to be fixed!

 isEmpty is a function that receives either an array or object which returns true when it is empty.
An array is empty when it has length === 0, i.e. []
An object is empty when it has no keys, i.e. {}

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests pa

[2017-10-28 05:24] #545 closed

[2017-10-28 05:36] jbharat opened #557 "Fix groupBy function"
There is currently a method called `groupBy` that lives in `/lib/groupBy.js`.
It is incomplete and needs to be fixed!

`groupBy` takes an Array and creates a new object composed of keys generated from running each element in the Array through test function. The corresponding value of each key is an array of elements responsible for generating the keys. 'test' function takes one argument.

### Acce

[2017-10-28 05:53] bhargodevarya commented on #554
I am taking this

[2017-10-28 06:07] jbharat commented on #553
@BlakeGuilloud I would like to work on this

[2017-10-28 06:33] janclarin commented on #554
Sorry @bhargodevarya, I should've called this 😓

[2017-10-28 06:47] arrizalamin opened #562 "Fix pluck function"
There is currently a method called `pluck` that lives in `/lib/pluck.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test pluck` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Optional:

[2017-10-28 06:47] arrizalamin commented on #562
Requires #563 to be merged first

[2017-10-28 06:48] alangak commented on #554
#Hacktoberfest @Infosys

[2017-10-28 06:50] rinkal-rohara commented on #551
#551 @BlakeGuilloud I would like to work on this

[2017-10-28 07:08] SamHowie opened #565 "Fix partition function"
There is currently a method called `partition` that lives in `/lib/partition.js`.
It is incomplete and needs to be fixed!

The partition function takes an array and splits it into slices of a given length.

for example:

[code]

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have writt

[2017-10-28 07:09] SamHowie commented on #565
Requires #564 to be merged first

[2017-10-28 07:14] SamHowie opened #566 "Fix takeUntil function"
There is currently a method called `takeUntil` that lives in `/lib/takeUntil.js`.
It is incomplete and needs to be fixed!

The takeUntil function returns a slice of an array from the arrays first element, until a given predicate returns true.

For example:

[code]

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someo

[2017-10-28 07:15] SamHowie commented on #566
Requires #561 to be merged first

[2017-10-28 07:45] SamHowie opened #568 "Fix largest function"
There is currently a method called `largest` that lives in `/lib/largest.js`.
It is incomplete and needs to be fixed!

The largest function takes an array and ordering function as parameters, and returns the largest item in the array.

For example:

[code]

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else

[2017-10-28 07:46] SamHowie commented on #568
Requires #567 to be merged first

[2017-10-28 08:43] deB4SH commented on #524
oh sorry i forgot about leaving a comment that i wanted to work on this :-(

[2017-10-28 14:16] Thomasvdam commented on #546
I'd like to take a stab at this.

[2017-10-28 15:10] newbazz commented on #69
Is this issue closed?

[2017-10-28 15:10] newbazz commented on #168
I would like to work on this.

[2017-10-28 15:48] BlakeGuilloud commented on #69
Hey @newbazz ! This issue will never be closed as there is always room for improvement. Feel free to browse through some of the methods and if you feel like you can improve anything, do it! Thanks!!

[2017-10-28 15:49] #524 closed

[2017-10-28 15:53] #501 closed

[2017-10-28 15:58] #549 closed

[2017-10-28 15:58] #542 closed

[2017-10-28 15:59] #511 closed

[2017-10-28 16:01] #557 closed

[2017-10-28 16:01] #538 closed

[2017-10-28 16:02] #551 closed

[2017-10-28 16:04] #535 closed

[2017-10-28 16:06] #546 closed

[2017-10-28 16:07] Peradon opened #589 "Fix arrayMean function"
There is currently a method called `arrayMean` that lives in `/lib/arrayMean.js`.
It is incomplete and needs to be fixed!

This method will return 2-digit mean value of the numbered array, which can be either int or float, and throw an error if the argument is invalid. e.g. arrayMean([151,3,56,76,4,3]) => 48.43

### Acceptance Criteria:
1. Running `yarn test arrayMean` results in tests passing.
2.

[2017-10-28 16:07] #536 closed

[2017-10-28 16:09] BlakeGuilloud commented on #553
Hey @jbharat ! It has been merged in. Hack away!!

[2017-10-28 16:10] BlakeGuilloud commented on #534
This is ready to go!

[2017-10-28 16:14] sebassdc commented on #5
Will this continue in some way after halloween?

[2017-10-28 16:15] yugoccp commented on #589
@BlakeGuilloud I would like to work on this

[2017-10-28 16:18] BlakeGuilloud commented on #589
Cool deal @yugoccp !

[2017-10-28 16:23] BlakeGuilloud commented on #168
Hey @newbazz ! Looks like this already got merged in. If you feel you can improve it, go for it!

[2017-10-28 16:23] #168 closed

[2017-10-28 16:24] BlakeGuilloud commented on #146
Opening this back up

[2017-10-28 16:24] #304 closed

[2017-10-28 16:24] #349 closed

[2017-10-28 16:25] BlakeGuilloud commented on #326
Opening this back up.

[2017-10-28 16:26] BlakeGuilloud commented on #353
Opening this back up.

[2017-10-28 16:26] BlakeGuilloud commented on #381
Hey @BrainMaestro ! Sorry for the late response. Yes it's still open. You still want to work on it?

[2017-10-28 16:27] BlakeGuilloud commented on #385
Opening this back up.

[2017-10-28 16:28] BlakeGuilloud commented on #420
Opening this back up. @devninja89 if you still want to work on it, ping me and i'll mark in progress again. Thanks!

[2017-10-28 16:29] #433 closed

[2017-10-28 16:29] #450 closed

[2017-10-28 16:30] #526 closed

[2017-10-28 16:31] BlakeGuilloud commented on #5
Hey @sebassdc ! Yeah of course it will continue. I imagine things will slow down and we might get a little more strict on what we allow in. i.e. proper jsdocs, more test suites, etc.. I'll also be doing an audit on the project and seeing where we can improve methods  / get rid of duplicate methods. I'm glad you like it!

[2017-10-28 16:35] yugoccp commented on #589
Hi @BlakeGuilloud! Maybe i'm missing something... The mean value of [151,3,56,76,4,3] should be 48.83, not 48.43 as described on test. Right?

[2017-10-28 16:37] BlakeGuilloud commented on #408
Opening this back up.

[2017-10-28 16:39] BlakeGuilloud commented on #589
Hey @yugoccp - yes you are correct. Sorry about that. I try my best to test all cases but sometimes they get through. great catch!

[2017-10-28 16:42] Peradon commented on #589
Hi @yugoccp and @BlakeGuilloud Sorry about the test, I miss check there.

[2017-10-28 16:42] yugoccp commented on #589
All right! =)

[2017-10-28 16:45] jaymcgrath commented on #420
I'm grabbing this one

[2017-10-28 16:51] WilliamSpruyt opened #591 "Fix volumeOfCone Function"
There is currently a method called `volumeOfCone` that lives in `/lib/volumeOfCone.js`.
It is incomplete and needs to be fixed!

It takes the radius of the base and the height of a cone and returns the volume. It should throw an error for an invalid type.

### Acceptance Criteria:
1. Running `yarn test volumeOfCone` results in tests passing.
2. You have written a skeleton method for someone else t

[2017-10-28 16:59] BlakeGuilloud commented on #420
you got it @jaymcgrath !

[2017-10-28 17:00] #554 closed

[2017-10-28 17:01] #420 closed

[2017-10-28 17:05] janclarin opened #593 "Fix reverseMap function"
There is currently a method called `reverseMap` that lives in `/lib/reverseMap.js`.
It is incomplete and needs to be fixed!

It reverses the key-value pairings of a Map to be value-key pairings.
[code]

### Acceptance Criteria:
1. Running `yarn test reverseMap` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your sk

[2017-10-28 17:09] sebassdc commented on #5
I'll stay here to check what can we do :D

[2017-10-28 17:11] #517 closed

[2017-10-28 17:26] jamesg1 commented on #593
Hi @janclarin I would like to take on this issue and complete it.

[2017-10-28 17:31] emilyanndavis commented on #566
This one looks fun. I'll take it, @BlakeGuilloud !

[2017-10-28 17:32] bhargodevarya opened #594 "Fix spellNumber function"
There is currently a method called `spellNumber` that lives in `/lib/spellNumber.js`.
It is incomplete and needs to be fixed!

It spells the number that has been passed to it.
In case of a decimal number, it rounds up the number if the precision is about .55 i.e.
123.56 becomes 124 and below it becomes 123, spelled, one hundred twenty four and one hundred twenty four respectively.

### Acceptance

[2017-10-28 17:35] BlakeGuilloud commented on #593
Sounds good @jamesg1 ! Thanks

[2017-10-28 17:35] BlakeGuilloud commented on #566
You got it @emilyanndavis !

[2017-10-28 18:09] jhdoak commented on #565
I'll give this one a shot.

[2017-10-28 18:12] BlakeGuilloud commented on #565
Sounds good @jhdoak !

[2017-10-28 18:37] viniciuskneves commented on #591
I would like to try this one :smile:

[2017-10-28 18:59] davcs86 commented on #591
Sorry @viniciuskneves, I just created a pull request for this one, I didn't read your comment before.

[2017-10-28 19:00] #591 closed

[2017-10-28 19:05] ktilcu commented on #283
Looks like those issues are closed @babhishek21 . Should we close this up now?

[2017-10-28 19:08] davcs86 opened #596 "Fix isHappyNumber function"
There is currently a method called `isHappyNumber` that lives in `/lib/isHappyNumber.js`.
It is incomplete and needs to be fixed!

According to [wikipedia](https://en.wikipedia.org/wiki/Happy_number):

### Acceptance Criteria:
1. Running `yarn test isHappyNumber` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your

[2017-10-28 19:30] xxnatc opened #598 "Fix convertBytesToBits function"
There is currently a method called `convertBytesToBits` that lives in `/lib/convertBytesToBits.js`.
It is incomplete and needs to be fixed!

The method should take a number in bytes and return the equivalent in bits. More information about bits and bytes can be found [here](https://en.wikipedia.org/wiki/Units_of_information).

### Acceptance Criteria:
1. Running `yarn test convertBytesToBits` resu

[2017-10-28 19:31] davcs86 commented on #594
I'm gonna work on this. Please mark it as in progress.

[2017-10-28 20:11] fionn-mac commented on #353
Hello!
I've added a pull request for this issue :)

[2017-10-28 20:11] jaymcgrath opened #600 "fix convertMetersToInches"
There is currently a method called `convertMetersToInches` that lives in `/lib/convertMetersToInches.js`.
It is incomplete and needs to be fixed!

This method takes a value in meters and returns it converted to inches.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests

[2017-10-28 20:21] BlakeGuilloud commented on #594
you got it :)

[2017-10-28 20:34] LuanAraldi commented on #600
I'll do it

[2017-10-28 20:47] BlakeGuilloud commented on #600
👍

[2017-10-28 22:01] #600 closed

[2017-10-28 22:03] #589 closed

[2017-10-28 22:05] LuanAraldi opened #604 "Fix convertInchesToMeters function"
There is currently a method called convertInchesToMeters that lives in `/lib/convertInchesToMeters.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any

[2017-10-28 22:12] ylorenzana commented on #604
I will gladly take this on! @BlakeGuilloud would you please mark this as in progress?

[2017-10-28 22:28] keawade commented on #146
@BlakeGuilloud I would like to work on this

[2017-10-28 22:35] Soben commented on #596
I'm taking a look at this. Need to brush up on my math functions.

[2017-10-28 22:51] davcs86 commented on #594
Done :)

[2017-10-28 22:52] davcs86 commented on #596
hehe @Soben, Math is fun! :)

[2017-10-28 22:54] aerohitk commented on #568
@BlakeGuilloud I would like to work on this, if that's alright?

[2017-10-28 23:03] #598 closed

[2017-10-28 23:04] BlakeGuilloud commented on #604
You got it @ylorenzana !

[2017-10-28 23:05] BlakeGuilloud commented on #596
You got it @Soben

[2017-10-28 23:06] BlakeGuilloud commented on #568
Yeah of course @aerohitk !

[2017-10-28 23:16] Soben commented on #562
I'll give this a shot as well, if you don't mind.

My only thing was that coming up with the Skeleton methods. I have zero ideas right now but I'll create one if need be.

[2017-10-28 23:17] Soben commented on #562
Hah, ok, just realized the BOLD TEXT ON THESE. yea... I'll have to fix my other request, too.

[2017-10-28 23:18] kylevv commented on #326
@BlakeGuilloud I'll work on this if that's alright.

[2017-10-28 23:19] BlakeGuilloud commented on #326
@kylevv ! It's yours. Thanks!

[2017-10-28 23:20] BlakeGuilloud commented on #562
Hey @Soben ! I'll mark as in progress, but yeah- make sure you come up w/ a new method! It keeps the project going :) Thanks!

[2017-10-28 23:44] jaymcgrath opened #610 "Fix convertGigabytesToBits function"
There is currently a method called `convertGigabytesToBits` that lives in `/lib/convertGigabytesToBits.js`.
It is incomplete and needs to be fixed!

Help it pass the tests by adding some logic!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton

[2017-10-28 23:45] saiftase commented on #530
I think I'll work on this.

[2017-10-29 00:02] ylorenzana opened #612 "Fix primeNumbersUpTo function"
There is currently a method called `primeNumbersUpTo` that lives in `/lib/primeNumbersUpTo.js`.
It is incomplete and needs to be fixed!

primeNumbersUpTo takes a positive integer n and returns a list of all prime numbers up to n.

### Acceptance Criteria:
1. Running `yarn test primeNumbersUpTo` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have

[2017-10-29 00:03] ylorenzana commented on #612
Requires #611  to be merged first.

[2017-10-29 00:17] BlakeGuilloud commented on #530
Sounds good @saiftase ! Thanks!

[2017-10-29 00:19] #604 closed

[2017-10-29 01:07] Javiercerna commented on #610
Can I take this one? Thanks

[2017-10-29 01:36] jbharat commented on #534
@BlakeGuilloud I would like to work on this

[2017-10-29 01:37] #596 closed

[2017-10-29 01:38] #146 closed

[2017-10-29 01:41] #566 closed

[2017-10-29 01:46] #565 closed

[2017-10-29 01:46] BlakeGuilloud commented on #610
Yeah, absolutely. Thank you

[2017-10-29 01:47] BlakeGuilloud commented on #534
Cool deal @jbharat !! Thanks

[2017-10-29 02:18] caffeinewriter commented on #612
Almost done with this :)

[2017-10-29 02:32] kylevv opened #616 "Fix debounce function"
There is currently a method called `debounce` that lives in `/lib/debounce.js`.
It is incomplete and needs to be fixed!

Debounce takes a callback function and wait time (ms) as arguments and returns a debounced version of the callback function.  A debounced function will only invoke the original callback after the specified amount of time has elapsed without subsequent invocations of the debounce

[2017-10-29 02:32] kylevv commented on #616
Requires #615  to be merged first.

[2017-10-29 02:51] caffeinewriter opened #618 "Fix allUniqueChars function"
There is currently a method called `allUniqueChars` that lives in `/lib/allUniqueChars.js`.
It is incomplete and needs to be fixed!

`allUniqueChars` takes a string, and returns true if the string contains only unique characters, false if it contains duplicates, and throws an error on invalid/unexpected input.

### Acceptance Criteria:
1. Running `yarn test allUniqueChars` results in tests passing

[2017-10-29 02:52] caffeinewriter commented on #618
Requires #617 to be merged first.

[2017-10-29 03:05] jbharat opened #621 "Fix escapeRegExp function"
There is currently a method called `escapeRegExp` that lives in `/lib/escapeRegExp.js`.
It is incomplete and needs to be fixed!

This function should escape the RegExp special characters "^", "$", "", ".", "*", "+", "?", "(", ")", "[", "]", "{", "}", and "|" in string.

### Acceptance Criteria:
1. Running `yarn test escapeRegExp` results in tests passing.
2. You have written a skeleton method for

[2017-10-29 03:05] jbharat commented on #621
Requires #620 to be merged

[2017-10-29 03:11] #612 closed

[2017-10-29 03:12] #326 closed

[2017-10-29 03:14] #593 closed

[2017-10-29 03:14] yugoccp opened #622 "Fix arrayUppercase"
There is currently a method called `arrayUppercase` that lives in `/lib/arrayUppercase.js`.
It is incomplete and needs to be fixed!

arrayUppercase takes an array of strings, and returns an array with uppercased strings, and throws an error on invalid/unexpected input.

Ex.: arrayUppercase(["hello", "world"]) => ["HELLO", "WORLD"]

### Acceptance Criteria:
1. Running `yarn test <methodName>` resul

[2017-10-29 03:16] #553 closed

[2017-10-29 03:18] #594 closed

[2017-10-29 03:20] #562 closed

[2017-10-29 03:23] jamesg1 commented on #622
I would like to do this one, thanks.

[2017-10-29 03:25] keawade opened #623 "Fix hex2dec method"
There is currently a method called `hex2dec` that lives in `/lib/hex2dec.js`.
It is incomplete and needs to be fixed!

The method takes in a hex string and converts it to a decimal number.

### Acceptance Criteria:
1. Running `yarn test hex2dec` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4

[2017-10-29 03:27] jamesg1 opened #624 "Fix Smallest Function"
There is currently a method called `smallest` that lives in `/lib/smallest.js`.
It is incomplete and needs to be fixed!

The smallest functions takes in an array and an ordering function as parameters, and returns the smallest item in the array.

For example:
``` expect(largest([5, 4, 1, 3, 8], (a, b) => a < b)).toBe(1);```

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in t

[2017-10-29 03:29] BlakeGuilloud commented on #622
You got it.

[2017-10-29 03:38] masterhuck commented on #623
I would like to work on this.

[2017-10-29 03:53] emilyanndavis opened #626 "Fix weaveArrays method"
There is currently a method called `weaveArrays` that lives in `/lib/weaveArrays.js`.
It is incomplete and needs to be fixed!

`weaveArrays` takes two arrays and combines them into a new array by alternating values from the first and second arrays.

The resulting array should begin with the first element from the first array, followed by the first element from the second array, then the second ele

[2017-10-29 03:53] BlakeGuilloud commented on #623
You got it.

[2017-10-29 04:14] JH108 commented on #624
I have started on this issue.

[2017-10-29 04:48] KevBelisle commented on #626
I'll take this one if it's available!

[2017-10-29 04:55] jamesg1 opened #629 "Fix convertBytesToKilobytes method"
There is currently a method called `convertBytesToKilobytes` that lives in `/lib/convertBytesToKilobytes.js`.
It is incomplete and needs to be fixed!

The method should take a number in bytes and return the equivalent in Kilobytes. More information about bits and bytes can be found [here](https://web.stanford.edu/class/cs101/bits-gigabytes.html).

### Acceptance Criteria:
1. Running `yarn test con

[2017-10-29 04:56] jamesg1 commented on #629
Dependent on PR #628 being merged first.

[2017-10-29 05:06] jamesg1 commented on #618
Hi I'd like do this one, thanks!

[2017-10-29 05:15] #622 closed

[2017-10-29 05:16] BlakeGuilloud commented on #626
You got it @KevBelisle !

[2017-10-29 05:27] jbharat opened #632 "Fix kebabCase function"
There is currently a method called `kebabCase` that lives in `/lib/kebabCase.js`.
It is incomplete and needs to be fixed!

This function returns the kebabCase of a string

### Acceptance Criteria:
1. Running `yarn test kebabCase` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn

[2017-10-29 05:28] jbharat commented on #632
requires #630 to be merged

[2017-10-29 06:13] jamesg1 commented on #632
Hi I would like to do this one, Thanks

[2017-10-29 06:32] newbazz commented on #629
![image](https://user-images.githubusercontent.com/25884863/32141231-0ba70cc2-bca1-11e7-9208-0368239d0bc7.png)y
can anyone help me out am i facing this error.

[2017-10-29 06:41] jamesg1 commented on #629
Hey @newbazz you need to update your node version as it is out of date for yarn. You can install node from here https://nodejs.org/en/download/ or use node version manager https://github.com/creationix/nvm so you can switch between node versions easily.

[2017-10-29 07:04] jamesg1 opened #638 "Fix convertPetabytesToGigabytes"
There is currently a method called `convertPetabytesToGigabytes ` that lives in `/lib/convertPetabytesToGigabytes.js`.
It is incomplete and needs to be fixed!

The method should take a number of Petabytes and return the equivalent in Gigabytes. More information about bits and bytes can be found [here](https://web.stanford.edu/class/cs101/bits-gigabytes.html).

### Acceptance Criteria:
1. Running `

[2017-10-29 07:06] jamesg1 commented on #638
Requires #618 to be merged first.

[2017-10-29 07:12] MSSR-code commented on #629
I've updated the node as specified about but I'm getting a similar error
![screenshot 28](https://user-images.githubusercontent.com/20289525/32141444-9f0b5d60-bca6-11e7-93ad-7293bbbf9f1d.png)

[2017-10-29 07:38] newbazz commented on #638
I would like to work on this.

[2017-10-29 08:09] jamesg1 opened #640 "countCharOccuranceInString"
There is currently a method called `countCharOccuranceInString` that lives in `/lib/countCharOccuranceInString.js`.
It is incomplete and needs to be fixed!

This method takes in a string and value to be found within the string, then it should count and return the number of times it has occurred within the string.

### Acceptance Criteria:
1. Running `yarn test countCharOccuranceInString ` results

[2017-10-29 08:10] jamesg1 commented on #640
#632 PR should be closed before this one.

[2017-10-29 08:38] jbharat commented on #616
@BlakeGuilloud I want to work on this.

[2017-10-29 09:19] Thomasvdam opened #642 "Fix length"
There is currently a method called `length` that lives in `/lib/length.js`.
It is incomplete and needs to be fixed!

It should return the length of a list, which can be an array or a string in this case.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding you

[2017-10-29 09:30] stspasow commented on #642
I would like to work on this.

[2017-10-29 10:38] jsjain007 commented on #621
@BlakeGuilloud  I would like to work on this. Thanks.

[2017-10-29 11:08] jsjain007 commented on #621
Hi @jbharat the test cases you have for the `escapeRegExp` are wrongly put in parenthesis as in it should be `expect(escapeRegExp("4^2")).toEqual("4\^2");` but instead it is `expect(escapeRegExp("4^2").toEqual("4\^2"));`  Though I will fix it in my PR.

[2017-10-29 13:52] Soben opened #645 "Fix isEmailAddress"
There is currently a method called `isEmailAddress` that lives in `/lib/isEmailAddress.js`.
It is incomplete and needs to be fixed!

`isEmailAddress` is a function to return true or false if the email is a valid address. Checks for support for special characters like +

### Acceptance Criteria:
1. Running `yarn test isEmailAddress` results in tests passing.
2. You have written a skeleton method fo

[2017-10-29 13:53] Soben commented on #645
@davcs86 , you told me you wanted to know when this one was available.

[2017-10-29 14:00] Soben opened #646 "Fix hamming"
There is currently a method called `hamming` that lives in `/lib/hamming.js`.
It is incomplete and needs to be fixed!

The simplest and most common type of nucleic acid mutation is a point mutation, which replaces one base with another at a single nucleotide.

By counting the number of differences between two homologous DNA strands taken from different genomes with a common ancestor, we get a meas

[2017-10-29 15:06] emerali commented on #646
I'd like to work on this

@BlakeGuilloud

[2017-10-29 17:14] #534 closed

[2017-10-29 17:15] BlakeGuilloud commented on #632
You got it @jamesg1

[2017-10-29 17:19] #618 closed

[2017-10-29 17:20] BlakeGuilloud commented on #629
Hey @MSSR-code - it looks like you haven't run `yarn install` in your ganon repo. Jest is a dependency we use for our unit tests, so you must first install it. Try running `yarn` or `yarn install` and then run your tests.

[2017-10-29 17:22] BlakeGuilloud commented on #646
You got it @emerali

[2017-10-29 17:32] davcs86 commented on #645
Yep, thanks @Soben

[2017-10-29 17:51] hyades commented on #381
Can I jump in?

[2017-10-29 17:53] kylevv commented on #640
@BlakeGuilloud  I'll work on this one!

[2017-10-29 18:16] kylevv commented on #5
Hey @BlakeGuilloud , is it ok to submit pull requests for new skeletons + tests without working an existing issue to increase the pool size of available methods to work for everyone?

[2017-10-29 18:28] csjiang commented on #385
Hi @BlakeGuilloud , is it all right if I work on this? Thanks!

[2017-10-29 18:30] BlakeGuilloud commented on #381
Go for it @hyades !

[2017-10-29 18:31] BlakeGuilloud commented on #5
Yeah absolutely @kylevv ! Thanks!!

[2017-10-29 18:34] #610 closed

[2017-10-29 18:35] BlakeGuilloud commented on #385
Hey @csjiang - you got it. Marking as In Progress

[2017-10-29 18:37] BlakeGuilloud commented on #642
You got it @stspasow !

[2017-10-29 18:38] BlakeGuilloud commented on #638
@newbazz - I commented on some of the PRs you opened. You need to make sure to include a skeleton method for someone else to work on whenever you submit a PR. Please review the Contributing Guide for more details. Thanks!

[2017-10-29 18:54] jhdoak opened #648 "Fix arrayRand"
There is currently a method called `arrayRand ` that lives in `/lib/arrayRand.js`.
It is incomplete and needs to be fixed!

This function takes an array and should return one random item from that array.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding you

[2017-10-29 19:16] jhdoak commented on #640
I'll take this one.

[2017-10-29 19:26] #623 closed

[2017-10-29 19:27] BlakeGuilloud commented on #640
Sounds good @jhdoak !

[2017-10-29 20:12] jsjain007 opened #651 "fix method findAndRemove"
There is currently a method called `findAndRemove` that lives in `/lib/findAndRemove.js`.
It is incomplete and needs to be fixed!

It finds and removes all occurrences of the given second argument number if present in the array and returns the modified array else returns false if no such element was found in the array.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests

[2017-10-29 20:18] kylevv opened #652 "Fix throttle function"
There is currently a method called `throttle` that lives in `/lib/throttle.js`.
It is incomplete and needs to be fixed!

Throttle takes a callback function and wait time (ms) and returns a throttled version of the callback.
A throttled function can only invoke the original callback as frequently as is specified by the 'wait' argument.

### Acceptance Criteria:
1. Running `yarn test throttle` resul

[2017-10-29 20:21] jsjain007 commented on #651
Assuming request #653 is merged.

[2017-10-29 20:24] jturinetti commented on #648
@BlakeGuilloud I can take this one.

[2017-10-29 20:26] BlakeGuilloud commented on #648
Thanks!!

[2017-10-29 20:30] BlakeGuilloud commented on #5
How cool is this? This little project made the Highest Pull Request Count Repos for hacktoberfest! Pretty sweet.

![image](https://user-images.githubusercontent.com/14660993/32147991-58343ab8-bcc6-11e7-96d8-227e9d2de6ed.png)

[2017-10-29 20:32] #621 closed

[2017-10-29 20:32] masterhuck opened #655 "Fix nthPrime"
There is currently a method called `nthPrime` that lives in `/lib/nthPrime.js`.
It is incomplete and needs to be fixed!

It returns the nth prime number starting with 2.

### Acceptance Criteria:
1. Running `yarn test nthPrime` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn li

[2017-10-29 20:33] #624 closed

[2017-10-29 20:35] BlakeGuilloud commented on #616
You got it @jbharat . thanks

[2017-10-29 20:41] jhdoak commented on #651
I'd like to try this one, if that's ok.

[2017-10-29 21:21] BlakeGuilloud commented on #651
Yeah man. Absolutely

[2017-10-29 21:23] #646 closed

[2017-10-29 21:24] #640 closed

[2017-10-29 21:24] #385 closed

[2017-10-29 21:34] jhdoak opened #657 "Fix scramble"
There is currently a method called `scramble` that lives in `/lib/scramble.js`.
It is incomplete and needs to be fixed!

Scramble should take a string or array, and return a scrambled version of that string or array. It should be prevented from ever returning the original string or array (in the rare case that it gets scrambled in a way that matches input, it should be re-scrambled before returnin

[2017-10-29 21:37] ryr3 commented on #408
Hey! I'd like to work on this.

[2017-10-29 21:37] emerali opened #658 "Fix Shannon Entropy"
There is currently a method called `shannonEntropy` that lives in `/lib/shannonEntropy.js`.
It is incomplete and needs to be fixed!

The method computes the Shannon Entropy of a discrete random variable specified by either a list or a map from objects to their respective probabilities.

Entropy is a measure of the average amount of information a random variable
  contains. (Here, we'll limit our a

[2017-10-29 21:40] jhdoak commented on #657
I just thought of the edge case of a string or array with all the same values (for example, 'aaaa' or [1, 2, 3, 4]). Wondering how this should be handled. Maybe a string or array containing one repeated value should this throw an error message saying it's unsortable? If so, we would also need an error message to say it should be length 2 or higher, since something like "a" or [1] would trigger the

[2017-10-29 21:48] jturinetti opened #660 "fix toPigLatin"
There is currently a method called `toPigLatin` that lives in `/lib/toPigLatin.js`.
It is incomplete and needs to be fixed!

Convert an input string to Pig Latin.  Pig Latin takes all leading consonants from the beginning of a word, moves them to the end of the word, then appends "ay" to the end of the word.  If the word begins with "qu", those 2 letters should be moved together.

Examples:
pig ->

[2017-10-29 21:50] jturinetti commented on #660
Skeleton method will be available once PR #648 is merged.

[2017-10-29 22:09] Javiercerna opened #663 "Fix formatSeconds function"
There is currently a method called `formatSeconds` that lives in `/lib/formatSeconds.js`.
It is incomplete and needs to be fixed!

formatSeconds takes an input of seconds and formats it following the convention HH:MM:SS.

### Acceptance Criteria:
1. Running `yarn test formatSeconds` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tes

[2017-10-29 22:14] antonioalmeida commented on #655
@BlakeGuilloud , I'm working on this issue

[2017-10-29 22:15] BlakeGuilloud commented on #408
You got it @ryr3 ! Thanks

[2017-10-29 22:49] #648 closed

[2017-10-29 22:50] #568 closed

[2017-10-29 22:51] #381 closed

[2017-10-29 22:51] BlakeGuilloud commented on #655
Sounds good @antonioalmeida

[2017-10-29 22:53] #629 closed

[2017-10-29 22:55] csjiang opened #665 "Fix curryPartial"
There is currently a method called `curryPartial` that lives in `/lib/curryPartial.js`.
It is incomplete and needs to be fixed!

Inspired by [this Codewars kata](https://codewars.com/kata/currying-vs-partial-application), `curryPartial` is a generic function that allows either currying (see `/lib/curry.js`) or partial application (see `/lib/partial.js`).

### Acceptance Criteria:
1. Running `yarn

[2017-10-29 23:05] antonioalmeida opened #667 "Fix isWebsite"
There is currently a method called `isWebsite` that lives in `/lib/isWebsite.js`.
It is incomplete and needs to be fixed!

isWebsite verifies is a given String is a valid website. It returns true if it is or false otherwise.

### Acceptance Criteria:
1. Running `yarn test isWebsite` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tes

[2017-10-29 23:17] AndreFCruz commented on #660
I'll work on this issue

[2017-10-29 23:18] jamesg1 commented on #629
@MSSR-code Make sure to read the Readme - https://github.com/BlakeGuilloud/ganon/blob/master/README.md

[2017-10-29 23:27] TheWillG opened #668 "Fix convertKilowattsToHorsepower function"
There is currently a method called convertKilowattsToHorsepower that lives in /lib/convertKilowattsToHorsepower.js.
It is incomplete and needs to be fixed!

The method should take a number in kilowatts and return the equivalent in horsepower.

Acceptance Criteria:

Running yarn test convertKilowattsToHorsepower results in tests passing.
You have written a skeleton method for someone else to work o

[2017-10-29 23:55] CharlesStocky commented on #665
I'd like to work on this if no one else is.

[2017-10-30 00:17] #655 closed

[2017-10-30 00:18] BlakeGuilloud commented on #660
Sounds good @AndreFCruz !

[2017-10-30 00:19] BlakeGuilloud commented on #665
Sounds good @CharlesStocky !

[2017-10-30 00:21] ryr3 opened #670 "Fix isHarshad"
There is currently a method called isHarshad that lives in `/lib/isHarshad.js`.
It is incomplete and needs to be fixed!

This method checks if a number is a Harshad number or not. A Harshad number is an integer which is divisible by the sum of its digits.

### Acceptance Criteria:
1. Running `yarn test isHarshad` results in tests passing.
2. You have written a skeleton method for someone else to w

[2017-10-30 00:21] #408 closed

[2017-10-30 00:30] AndreFCruz opened #671 "Fix countConsonants method"
There is currently a method called `countConsonants ` that lives in `/lib/<methodName>.js`.
It is incomplete and needs to be fixed!

This methods receives a string as input and returns the number of consonants in the given string.

### Acceptance Criteria:
1. Running `yarn test countConsonants ` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You hav

[2017-10-30 00:39] guilhermecomum commented on #670
Let me try this ;)

[2017-10-30 01:00] TheWillG commented on #670
@guilhermecomum just saw you commented on this.  Give the newly created convertWattsToBTUPerHour a try ;).

[2017-10-30 01:02] TheWillG opened #674 "fix convertWattsToBTUPerHour function"
There is currently a method called convertWattsToBTUPerHour that lives in /lib/convertWattsToBTUPerHour.js.
It is incomplete and needs to be fixed!

This methods receives a number in Watts as input and returns the conversion into BTUs/hour as a number.

Acceptance Criteria:

Running yarn test convertWattsToBTUPerHour results in tests passing.
You have written a skeleton method for someone else to

[2017-10-30 01:09] #660 closed

[2017-10-30 01:12] venividivici440 commented on #668
I'll work on this.

[2017-10-30 01:23] #670 closed

[2017-10-30 03:06] KevinBruland commented on #663
@BlakeGuilloud I would like to work on this.

[2017-10-30 03:07] davcs86 opened #678 "fix vectorSum function"
There is currently a method called `vectorSum` that lives in `/lib/vectorSum.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test vectorSum` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5

[2017-10-30 04:21] venividivici440 opened #681 "fix calculateBMI method"
There is currently a method called `calculateBMI` that lives in `/lib/calculateBMI.js`.
It is incomplete and needs to be fixed!
This method takes height in inches and weight in pounds and returns BMI to one decimal point

### Acceptance Criteria:
1. Running `yarn test calculateBMI` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written test

[2017-10-30 04:22] KevBelisle commented on #678
I'll do this once PR #677 gets merged in

[2017-10-30 04:56] KevBelisle commented on #678
I've got a pull request ready for vectorSum's implementation

[2017-10-30 09:38] gballesteros10 opened #687 "Fix innerJoin function"
There is currently a method called `innerJoin` that lives in `/lib/innerJoin.js`.
It is incomplete and needs to be fixed!

`innerJoin` accepts two arrays and returns an array that contains items existing in both.

### Acceptance Criteria:
1. Running `yarn test innerJoin` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surroundi

[2017-10-30 11:28] jbharat opened #689 "fix deepSearch function"
There is currently a method called `deepSearch` that lives in `/lib/deepSearch.js`.
It is incomplete and needs to be fixed!

deepSearch searches through an object/array and return a list of all objects that match the test function

### Acceptance Criteria:
1. Running `yarn test deepSearch` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have writ

[2017-10-30 11:29] jbharat commented on #689
#688 should be merged first

[2017-10-30 13:51] #674 closed

[2017-10-30 13:54] #645 closed

[2017-10-30 13:55] #626 closed

[2017-10-30 13:57] #668 closed

[2017-10-30 13:58] #663 closed

[2017-10-30 14:01] astone123 opened #690 "Fix convertLitersToQuarts method"
There is currently a method called `convertLitersToQuarts` that lives in `/lib/convertLitersToQuarts.js`.
It is incomplete and needs to be fixed!

This method takes a number in liters and returns that value in quarts.

### Acceptance Criteria:
1. Running `yarn test convertLitersToQuarts` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have writte

[2017-10-30 14:04] ktilcu commented on #671
@astone you have this one.

[2017-10-30 14:08] ktilcu commented on #353
I merged it.

[2017-10-30 14:08] #353 closed

[2017-10-30 14:10] #616 closed

[2017-10-30 14:11] ktilcu commented on #689
#688 is merged

[2017-10-30 14:16] JH108 opened #691 "Map Collection Method"
There is currently a method called `mapCollection` that lives in `/lib/mapCollection.js`.
It is incomplete and needs to be fixed!

This method should be able to map either an array or an object.  Please examine the test file for example use cases.

### Acceptance Criteria:
1. Running `yarn test mapCollection` results in tests passing.
2. You have written a skeleton method for someone else to work

[2017-10-30 14:34] rossdeane commented on #690
@BlakeGuilloud I'd like to take this one :)

[2017-10-30 14:46] BlakeGuilloud commented on #690
You got it @rossdeane

[2017-10-30 14:48] KevBelisle opened #692 "Fix isNull method"
There is currently a method called `isNull` that lives in `/lib/isNull.js`.
It is incomplete and needs to be fixed!

The method should return `true` if the value passed in is `null`, and false if it receives anything else (including other "falsy" values like 0, undefined, false, etc).

### Acceptance Criteria:
1. Running `yarn test isNull` results in tests passing.
2. You have written a skeleton m

[2017-10-30 14:51] Naman-sopho commented on #687
@gballesteros10
I am on it :)

[2017-10-30 14:58] mkp13 commented on #692
I'll have this one.

[2017-10-30 15:01] blitzerpl commented on #681
I can do it ;)

[2017-10-30 17:53] amoradi commented on #691
I'll take this one! Thanks @JH108 #Texas

[2017-10-30 17:55] amoradi commented on #692
Thanks @mkp13. Go for it! 🎃

[2017-10-30 19:49] stspasow commented on #658
I would like to work on this.

[2017-10-30 20:07] gracemgately commented on #689
@BlakeGuilloud I know Hacktoberfest is coming to a close, but I would like to work on this!

[2017-10-30 20:34] BlakeGuilloud commented on #689
you got it @gracemgately ! I will continue to maintain this repo as long as we have contributors. Thanks!

[2017-10-30 20:47] KevBelisle commented on #678
Submitted PR #702 with vectorSum implementation and vectorDotProduct skeleton.

[2017-10-30 22:03] #690 closed

[2017-10-30 22:03] #692 closed

[2017-10-30 22:05] #681 closed

[2017-10-30 22:06] #638 closed

[2017-10-30 22:07] KevinBruland opened #704 "Fix abbreviateFirstName Method"
There is currently a method called `abbreviateFirstName` that lives in `/lib/abbreviateFirstName.js`.
It is incomplete and needs to be fixed!

This method expects a string containing a first and last name in order to convert into an abbreviated format with capitalized names. For example, "john smith" is returned as "J. Smith". You need to make sure it throws an error when it does not receive a str

[2017-10-30 22:08] #678 closed

[2017-10-30 22:09] #657 closed

[2017-10-30 22:10] BlakeGuilloud commented on #658
You got it @stspasow ! Thanks

[2017-10-30 22:24] thancock20 opened #705 "Fix countDigits method"
There is currently a method called `countDigits` that lives in `/lib/countDigits.js`.
It is incomplete and needs to be fixed!

This method should take a string, and return the number of digits in the string.
e.g. `countDigits("The answer is 42, but 0 people know the question")` should return `3`.

### Acceptance Criteria:
1. Running `yarn test countDigits` results in tests passing.
2. You have wri

[2017-10-30 22:34] J4unty opened #706 "Fix caesarDecode"
There is currently a method called `caesarDecode` that lives in `/lib/caesarDecode.js`.
It is incomplete and needs to be fixed!

Implement a Function that converts a given Text encrypted with the Caesar Cypher to the normal plain text.

### Acceptance Criteria:
1. Running `yarn test caesarDecode` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You ha

[2017-10-30 23:00] cherealnice commented on #705
Hi, I'd like to work on this!

[2017-10-31 00:30] JedraPeake commented on #704
@BlakeGuilloud I would like to work on this

[2017-10-31 00:33] BlakeGuilloud commented on #704
You got it @JedraPeake !

[2017-10-31 00:44] BlakeGuilloud commented on #705
Hey @cherealnice - I made a comment in your PR. Gonna mark this as 'in progress' for now.

[2017-10-31 01:09] astone123 commented on #706
I'll take this one

[2017-10-31 01:20] #671 closed

[2017-10-31 01:22] ktilcu commented on #706
@astone123 you got it.

[2017-10-31 01:47] cherealnice commented on #705
My mistake, I just update the PR :)

[2017-10-31 02:34] JedraPeake opened #713 "Fix volumeOfSphere Method"
There is currently a method called `volumeOfSphere` that lives in `/lib/volumeOfSphere.js`.
It is incomplete and needs to be fixed!

This method expects a number containing a  sphere's radius. You then need to calculate the Spheres volume using this radius. You need to make sure it throws an error when it does not receive a number, or the radius is negative.

### Acceptance Criteria:
1. Running `y

[2017-10-31 02:39] JedraPeake commented on #713
requires #712 to be merged

[2017-10-31 02:40] mkp13 opened #715 "Count vowels method"
There is currently a method called `countVowels` that lives in `/lib/countVowels.js`.
It is incomplete and needs to be fixed!

Receives a string as input and returns the number of vowels on it.

### Acceptance Criteria:
1. Running `yarn test countVowels` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton

[2017-10-31 04:00] lucaspbordignon commented on #715
@BlakeGuilloud I would like to work on this issue!

[2017-10-31 04:52] kylevv opened #718 "Fix promisify function"
There is currently a method called `promisify` that lives in `/lib/promisify.js`.
It is incomplete and needs to be fixed!

Promisify takes an asynchronous function that uses node style callbacks and returns a function that will return a promise instead.

### Acceptance Criteria:
1. Running `yarn test promisify` results in tests passing.
2. You have written a skeleton method for someone else to wor

[2017-10-31 04:53] kylevv commented on #718
Requires #717 to be merged first.

[2017-10-31 05:11] josephmcasey commented on #652
I'll pick this one up!

[2017-10-31 05:18] BlakeGuilloud commented on #715
You got it.

[2017-10-31 05:21] BlakeGuilloud commented on #652
Thanks @josephmcasey !

[2017-10-31 08:17] josephmcasey commented on #652
@kylevv , thanks for the throttle function! I submitted a pull request #720 . Looking forward to my review!

[2017-10-31 08:31] saelili opened #721 "Fix convertInchesToYards"
There is currently a method called `convertInchesToYards` that lives in `/lib/convertInchesToYards.js`.
It is incomplete and needs to be fixed!

This method expects a number as input (inches) and should return a number (yards) with up to two decimal places. You need to make sure it throws an error when the input is not a number.
### Acceptance Criteria:
1. Running `yarn test <methodName>` results

[2017-10-31 09:17] rossdeane opened #723 "Fix convertTablespoonsToTeaspoons method"
There is currently a method called convertInchesToYards that lives in /lib/convertTablespoonsToTeaspoons.js.
It is incomplete and needs to be fixed!

This method expects a number as input (tablespoons) and should return a number (teaspoons). You need to make sure it throws an error when the input is not a number, or when the number is negative.

Acceptance Criteria:

Running yarn test convertTable

[2017-10-31 14:17] KevBelisle opened #729 "vectorDotProduct function"
There is currently a method called `vectorDotProduct` that lives in `/lib/vectorDotProduct.js`.
It is incomplete and needs to be fixed!

vectorDotProduct takes 2 vectors of the same length and returns their vector dot product.

### Acceptance Criteria:
1. Running `yarn test vectorDotProduct` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have wr

[2017-10-31 16:41] stspasow opened #732 "Fix surfaceAreaOfSphere Method"
There is currently a method called `surfaceAreaOfSphere` that lives in `/lib/surfaceAreaOfSphere.js`.
It is incomplete and needs to be fixed!

This method expects a the sphere's radius as input. You then need to calculate the surface area using this radius. You need to make sure it throws an error when the radius is negative.

### Acceptance Criteria:
1. Running `yarn test surfaceAreaOfSphere` res

[2017-10-31 16:42] stspasow commented on #732
Requires #714  to be merged.

[2017-10-31 16:44] josephmcasey opened #733 "Discussion: enhancing the monadic `is` method"
## Context

This repositories largest collection of functions are `is[Something]` functions. I would like to start a discussion on improving the utility of the `is` function and reducing reliance on individual `is` methods. My aim in this discussion is to close the issue once further action on the `is` method has been discussed.

## Format of current is methods

The typical is format in this repos

[2017-10-31 17:19] babhishek21 commented on #283
Hmm, I think a few more eligible methods might be left. I guess, we can close this for now and refer this as and when we cook up new issues that are similar.

[2017-10-31 17:19] #283 closed

[2017-10-31 17:29] J4unty commented on #732
I'd like to do this one.

[2017-10-31 17:46] J4unty commented on #721
I'll do this one. 👍

[2017-10-31 19:55] J4unty opened #736 "Fix nextPrime"
There is currently a method called `nextPrime` that lives in `/lib/nextPrime.js`.
It is incomplete and needs to be fixed!

Add a method that finds the next Prime from a given number. For examples look at `/test/nextPrime.test.js`

### Acceptance Criteria:
1. Running `yarn test nextPrime` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have writte

[2017-10-31 20:35] #705 closed

[2017-10-31 20:36] #632 closed

[2017-10-31 20:37] #651 closed

[2017-10-31 20:38] #706 closed

[2017-10-31 20:38] #704 closed

[2017-10-31 20:40] #658 closed

[2017-10-31 20:45] #687 closed

[2017-10-31 20:47] #721 closed

[2017-10-31 21:20] BlakeGuilloud commented on #733
Hey @josephmcasey - I think you bring up a great point here. There is a TON of duplicated code that could be cleaned up to follow better patterns like you are mentioning. As the initial scope of this project was to get everyone involved, I have been extremely lenient oh what I let into the project. However, as Hacktoberfest comes to an end, I would love to start beefing up the library, enhancing m

[2017-10-31 21:47] NoahT commented on #732
@BlakeGuilloud I would like to work on this

[2017-10-31 21:51] BlakeGuilloud commented on #732
You got it @NoahT !

[2017-10-31 22:29] aerohitk commented on #736
@BlakeGuilloud may I tackle this?

[2017-10-31 22:34] lmauromb commented on #713
I can work on this :)

[2017-10-31 22:34] BlakeGuilloud commented on #736
Yea absolutely @aerohitk - thanks!

[2017-10-31 22:39] BlakeGuilloud commented on #713
Sounds good @lmauromb !

[2017-10-31 22:58] jhdoak opened #738 "Fix Acronym"
There is currently a method called `acronym` that lives in `/lib/acronym.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test acronym` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Opti

[2017-10-31 23:18] lmauromb opened #742 "Fix volumeOfPyramid Method"
There is currently a method called `volumeOfPyramid` that lives in `/lib/volumeOfPyramid.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test volumeOfPyramid` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors

[2017-10-31 23:21] lmauromb commented on #738
I can work on this :)

[2017-10-31 23:39] josephmcasey commented on #733
Congratulations on being one of the top Hacktoberfest projects! @BlakeGuilloud you've done an excellent job in creating, managing and leading this project!

I would definitely be up for getting tagged in future pull requests that may fall into this category!

[2017-10-31 23:45] ltetzlaff commented on #667
@BlakeGuilloud I would like to work on this

[2017-11-01 00:00] BlakeGuilloud commented on #738
Sounds good @lmauromb  !

[2017-11-01 00:02] BlakeGuilloud commented on #733
Thanks man!! It's been really fun. I started with `sum`, `difference`, `product`, and `quotient` and the community did the rest of the work.

[2017-11-01 00:03] BlakeGuilloud commented on #667
You got it @ltetzlaff !

[2017-11-01 00:57] saelili commented on #742
@BlakeGuilloud I would like to work on this

[2017-11-01 01:02] #713 closed

[2017-11-01 01:03] BlakeGuilloud commented on #742
Hey @saelili - I JUST merged it in, so you may have to pull in the latest master, but i'll mark as in progress. Thanks!

[2017-11-01 01:07] ltetzlaff commented on #729
@BlakeGuilloud I would like to work on this

[2017-11-01 02:59] lmauromb opened #749 "Fix Titleize"
There is currently a method called `titleize` that lives in `/lib/titleize.js`.
It is incomplete and needs to be fixed!

Ex.
man from the boondocks -> Man From The Boondocks

### Acceptance Criteria:
1. Running `yarn test titleize` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yar

[2017-11-01 03:02] BlakeGuilloud commented on #452
I'm going to open this back up 💃

[2017-11-01 03:27] damon-myers commented on #452
@BlakeGuilloud, I'll take care of this!

[2017-11-01 04:04] damon-myers opened #751 "Implement NormalizeTwoDimensionalVector"
There is currently a method called `normalizeTwoDimensionalVector` that lives in `/lib/normalizeTwoDimensionalVector.js`.
It is incomplete and needs to be fixed!

The method should return a normalized representation of a vector which can be found by:
1. Finding the length of the vector
2. Dividing the components of the vector by the length of the vector

### Acceptance Criteria:
1. Running `yarn t

[2017-11-01 05:02] emilyanndavis commented on #723
I'll take this one @BlakeGuilloud !

[2017-11-01 22:56] #732 closed

[2017-11-01 22:57] #736 closed

[2017-11-01 22:57] #691 closed

[2017-11-01 22:58] #652 closed

[2017-11-01 22:58] #689 closed

[2017-11-01 22:59] #715 closed

[2017-11-01 23:00] #667 closed

[2017-11-01 23:00] #729 closed

[2017-11-01 23:01] #742 closed

[2017-11-01 23:02] #738 closed

[2017-11-01 23:03] #723 closed

[2017-11-01 23:06] BlakeGuilloud commented on #452
Hey @damon-myers ! Make a quick change request in your PR. Resolve the  linting error and we can get this in! Thanks!

[2017-11-01 23:07] BlakeGuilloud commented on #718
Can't believe no one has taken this yet!

[2017-11-01 23:11] BlakeGuilloud commented on #532
Opening this back up.

[2017-11-01 23:46] J4unty opened #754 "Fix findPrimeFactorsOfProduct"
There is currently a method called `findPrimeFactorsOfProduct` that lives in `/lib/findPrimeFactorsOfProduct.js`.
It is incomplete and needs to be fixed!

Write a Function that returns the two prime factors of a given Product. E.g: 6 => [2,3]; 21 => [3,7];

(For more information on input checking and other test cases look at `/test/findPrimeFactorsOfProduct.test.js`)

### Acceptance Criteria:
1. R

[2017-11-02 00:21] amoradi opened #755 "Fix arrayPop function"
There is currently a method called `arrayPop` that lives in `/lib/arrayPop.js`.
It is incomplete and needs to be fixed!

`arrayPop` pops off last item in Array (Strings are viable too) without mutating. Pass the `mutate` param as `true` to mutate.

### Acceptance Criteria:
1. Running `yarn test arrayPop` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3

[2017-11-02 00:36] ltetzlaff opened #756 "Fix nearestPoint"
There is currently a method called `nearestPoint` that lives in `/lib/nearestPoint.js`.
It is incomplete and needs to be fixed!

Given a point p and an array of other points, find the one that's closest to p.
* If the dimensions mismatch it should throw "Invalid arguments".

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method

[2017-11-02 00:38] ltetzlaff opened #757 "Fix signedAngle"
There is currently a method called `signedAngle` that lives in `/lib/signedAngle.js`.
It is incomplete and needs to be fixed!

Return the angle in degrees with the smallest possible absolute value

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skele

[2017-11-02 01:01] aerohitk opened #759 "Fix previousPrime"
There is currently a method called `previousPrime` that lives in `/lib/previousPrime.js`.
It is incomplete and needs to be fixed!

Add a function that returns the previous prime number from a given number. (7 => 5)

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surr

[2017-11-02 05:45] emilyanndavis opened #760 "Fix randomInRange method"
There is currently a method called `randomInRange` that lives in `/lib/randomInRange.js`.
It is incomplete and needs to be fixed!

`randomInRange` returns a random integer that falls within a given range, inclusive of the `min` and `max` integers provided. For example, `randomInRange(10, 15)` could return 10, 11, 12, 13, 14, or 15.

### Acceptance Criteria:
1. Running `yarn test randomInRange` res

[2017-11-02 06:13] emilyanndavis commented on #5
@BlakeGuilloud I just wanted to say thanks for starting this project and for actively maintaining it even as the number of participants and pull requests skyrocketed. I'm so glad I found out about Hacktoberfest and then stumbled upon this project because it is a fantastic example of how thorough, approachable documentation (including contributing guidelines!) can help lower barriers to getting inv

[2017-11-02 06:57] BlakeGuilloud commented on #5
Hey thanks @emilyanndavis !! I really appreciate all of the contributions you have made to the project. I'm really happy with the way it turned out, and I hope that you continue to stay involved with it! If you have any suggestions and / or critiques, please feel free to share them here or directly to me at blake.guilloud@gmail.com!

[2017-11-02 09:27] jmknoll commented on #760
@BlakeGuilloud I would like to work on this

[2017-11-02 13:26] gracemgately opened #761 "Fix minAbsoluteDifference function"
There is currently a method called `minAbsoluteDifference` that lives in `/lib/minAbsoluteDifference.js`.
It is incomplete and needs to be fixed!

Given an array of integers, this function returns the minimum absolute difference between any two elements (that do not equal each other) in the array.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have w

[2017-11-02 16:45] josephmcasey opened #762 "Fix isSymbol"
There is currently a method called `isSymbol` that lives in `/lib/isSymbol.js`.
It is incomplete and needs to be fixed!

`isSymbol` returns true if the value is a Symbol and false for any other type.

### Acceptance Criteria:
1. Running `yarn test isSymbol` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skelet

[2017-11-03 07:09] saelili opened #764 "Fix abbreviateMiddleName"
There is currently a method called `abbreviateMiddleName` that lives in `/lib/abbreviateMiddleName.js`.
It is incomplete and needs to be fixed!

This function expects an input with three names (first, middle, last) and returns the full name with an abbreviated middle initial, properly capitalized.
 eg. 'Leslie Barbara Knope' should return 'Leslie B. Knope'
 eg. 'ann meredith perkeins' should retur

[2017-11-03 12:35] jmknoll commented on #760
@emilyanndavis What are you testing for with this assertion?

`expect(() => randomInRange(1.0, 10)).toThrow()`

javaScript doesn't differentiate between floats and ints, so for all intents and purposes `1.0 === 1`

Or is there something that I'm missing here?

[2017-11-03 14:30] jmknoll opened #766 "fix volumeOfCylinder"
There is currently a method called `volumeOfCylinder` that lives in `/lib/volumeOfCylinder.js`.
It is incomplete and needs to be fixed!

This function expects two dimensions of a cylinder (height and radius of base) as inputs, and returns the volume of the cylinder.

### Acceptance Criteria:
1. Running `yarn test volumeOfCylinder` results in tests passing.
2. You have written a skeleton method for

[2017-11-03 16:57] fionn-mac opened #767 "Fix hammingDistance"
There is currently a method called `hammingDistance` that lives in `/lib/hammingDistance.js`.
It is incomplete and needs to be fixed!

The function expects two strings of equal length and calculates the hamming distance between them.

### Acceptance Criteria:
1. Running `yarn test hammingDistance` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You h

[2017-11-03 17:11] emilyanndavis commented on #760
Oops. You're absolutely right @jmknoll ! That test was _supposed_ to make sure the first param is an integer but, as you've pointed out, JavaScript doesn't care whether it's 1 or 1.00000. Feel free to change that 1.0 to something that _won't_ be evaluated as equivalent to an integer. Good catch!

[2017-11-04 04:37] jmknoll commented on #760
All good. I had already commented out the test by the time I submitted the PR implementing this function, but I think the other parameter tests are sufficient enough to cover for this one.

[2017-11-04 15:03] #452 closed

[2017-11-04 16:49] jsjain007 commented on #767
@BlakeGuilloud  I would like to work on this

[2017-11-05 12:33] jsjain007 opened #768 "Fix getArrayElementCount method"
There is currently a method called `getArrayElementCount` that lives in `/lib/getArrayElementCount.js`.
It is incomplete and needs to be fixed!

First argument should be array and second arg can be a number or an array.
If first arg is number it returns the number of occurrences of that number.
If second arg is array it returns the combined sum of number of occurrences of elements in array.

For e

[2017-11-05 12:38] jsjain007 commented on #768
Assuming PR #769 gets merged.

[2017-11-06 02:57] #767 closed

[2017-11-07 23:24] davcs86 opened #771 "Refactor code"
Hi @BlakeGuilloud,

If you have in mind to build a better structured library with this, please count on me.

Ideas: Lodash, MathJS, MomentJS, etc.

[2017-11-08 01:02] maribelduran commented on #5
@BlakeGuilloud I also wanted to thank you for creating this repo to help beginners like me! By contributing to your repo, I learned to fork, clone, made changes, and submitted a pull request to someone else's project. I also loved being able to create tests with jest.

After  I submitted my pull request to this repo, I got the confidence to look for other open source projects and started contribut

[2017-11-10 07:36] jsjain007 commented on #749
Hi @BlakeGuilloud  I would like to work on this.

[2017-11-11 22:22] #528 closed

[2017-11-11 22:22] #764 closed

[2017-11-11 22:25] BlakeGuilloud commented on #5
That's awesome to hear @maribelduran !! That natural disaster project sounds great! Good luck!

[2017-11-12 01:05] BlakeGuilloud commented on #749
Hey @jsjain007 ! You got it.

[2017-11-12 09:42] jsjain007 opened #773 "Area of Frustum of Cone"
There is currently a method called `areaOfFrustum` that lives in `/lib/areaOfFrustum.js`.
It is incomplete and needs to be fixed!

Function return the area of frustum of cone given upper and lower radius and the height of cone.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have writt

[2017-11-12 09:47] jsjain007 commented on #773
Assuming #774 gets merged first

[2017-11-12 11:23] jsjain007 commented on #5
@BlakeGuilloud  I would really like to thank you for providing this great opportunity for first time contributors like me who wanted to contribute to the open source. Hoping to contribute even more to this repo. And thanks for being supportive.

[2017-11-13 16:52] ktilcu commented on #771
@davcs86 What do you have in mind?

[2017-11-16 15:23] #749 closed

[2017-11-18 13:09] jsjain007 commented on #759
Hey @BlakeGuilloud  I would like to work on this. Also can modify one more of the function `isPrime` which is a better implementation

[2017-11-19 05:57] jsjain007 opened #775 "Surface area of Frustum"
There is currently a method called `surfaceAreaOfFrustum` that lives in `/lib/surfaceAreaOfFrustum.js`.
It is incomplete and needs to be fixed!

It expects 3 args smaller radius r1, bigger radius r2 and height h with a fourth optional parameters to return Total surface area or Lateral Surface Area.
By default method will return Total Surface Area .

### Acceptance Criteria:
1. Running `yarn test <

[2017-11-19 19:09] #759 closed

[2017-11-24 17:49] jsjain007 opened #777 "Insufficient and unequal methods for common 3-d objects"
There are currently some methods called `SurfaceAreaOf..` or `VolumeOf..` that may live in `/lib/*.js`.
They are incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print

[2017-11-24 17:51] jsjain007 commented on #777
Hi @BlakeGuilloud I would like to work on this issue so that we can close #775 #773 and #766 and complete collection of such methods for common 3D objects in the Ganon library

[2017-12-08 09:34] chotuaashiq commented on #761
@BlakeGuilloud  @gracemgately  I want to work on this issue.

[2017-12-12 17:15] jsjain007 commented on #777
Thanks @BlakeGuilloud  I will try to complete the methods as soon as possible.

[2018-01-04 07:43] arturoromeroslc commented on #718
I can take a stab at it.

[2018-01-04 16:09] ktilcu commented on #718
@arturoromeroslc Have fun!

[2018-01-22 18:36] bhargodevarya commented on #755
I would like to work on this.
So if the mutate is true, the last element from the array should be removed ? Does this mean that a new array of size n-1 with n-1 elements ??
Also, what should be the behavior if the array is empty or null ??

[2018-02-28 13:29] #762 closed

[2018-03-13 22:29] mwangialfred commented on #766
@BlakeGuilloud I would like to work on this.
Thanks Alfred

[2018-03-13 23:36] BlakeGuilloud commented on #766
You got it!

[2018-03-15 13:11] mwangialfred commented on #766
I did not get time to work on this last night. I will work on it today.

[2018-04-25 05:11] #733 closed

[2018-06-18 23:30] #771 closed

[2018-10-02 03:42] mtso opened #782 "Fix distance"
There is currently a method called `distance` that lives in `/lib/distance.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test distance.test.js` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the conso

[2018-10-02 03:47] mtso opened #784 "Fix distanceN"
There is currently a method called `distanceN` that lives in `/lib/distanceN.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test distanceN.test.js` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the co

[2018-10-02 06:15] anurag-rai commented on #530
Hey, if this is up for grabs, I'd like to work on it

[2018-10-02 15:53] ktilcu commented on #530
@anurag-rai go for it!

[2018-10-02 15:55] #782 closed

[2018-10-02 16:56] crhallberg commented on #784
I'm on it.

[2018-10-03 16:30] #784 closed

[2018-10-03 16:32] crhallberg opened #787 "Remove Statistical Outliers"
As of #785, there is currently a method called `removeOutliers` that lives in `/lib/removeOutliers.js`.
It is incomplete and needs to be fixed!

Using mean and standard deviations, this function filters out numbers that are more than a specified number of standard deviations away from the mean (default 1).

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. Y

[2018-10-03 16:42] anurag-rai commented on #787
Hi, I'd like to work on this. I'm new here so having a difficulty understanding how creating another skeleton works.

[2018-10-03 18:39] crhallberg commented on #787
Hello! There are full instructions in the [contributing guide](https://github.com/BlakeGuilloud/ganon/blob/master/CONTRIBUTING.md). Essentially, you complete my skeleton and then you make a challenge for the next person. This involves:

1. Making a new file in lib/ with a function
2. Writing a test that enforces the expected outcomes of your new function.

Once you make a pull request for completi

[2018-10-03 19:00] anurag-rai commented on #787
Aweomse. I'm already working on this then.

[2021-09-29 18:06] zidingz opened #807 "How to get in touch regarding a security concern"
Hey there!

I belong to an open source security research community, and a member (@yetingli) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practic

[2021-10-13 14:57] jacksjm opened #809 "Bhaskara"
There is currently a method called `bhaskara` that lives in `/lib/bhaskara.js`.
It is incomplete and needs to be fixed!

It expects 3 arguments: value of a, value of b, and value of c, and expects to return either a tuple [x, x'] or a single value if delta is 0.

### Acceptance Criteria:
1. Running `yarn test bhaskara` results in tests passing.
2. You have written a skeleton method for someone els

[2021-10-15 04:52] jacksjm opened #811 "fix averageSpeed method"
There is currently a method called `averageSpeed` that lives in `/lib/averageSpeed.js`.
It is incomplete and needs to be fixed!

It expects 2 arguments: distance and time, and expects to return average speed.

### Acceptance Criteria:
1. Running `yarn test averageSpeed` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surroundin