[2017-10-16 21:58] BlakeGuilloud opened #1 "Fix the Sum method."
There is currently a method called `Sum` that lives in `/lib/sum.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test sum` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-16 22:04] BlakeGuilloud opened #2 "Fix the Difference method."
There is currently a method called `difference` that lives in `/lib/difference.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test difference` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-16 22:05] BlakeGuilloud opened #3 "Fix the Quotient method"
There is currently a method called `Quotient` that lives in `/lib/quotient.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test quotient` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-16 22:08] BlakeGuilloud opened #4 "Fix the Product method"
There is currently a method called `product` that lives in `/lib/product.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test product` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-16 22:19] dudmacedo commented on #1
I'm working on it

[2017-10-16 22:20] chromaticity commented on #4
would love to take a crack at it. I'll let you know what comes up

[2017-10-16 22:20] hugoduraes commented on #2
Working on this one.

[2017-10-16 22:20] BlakeGuilloud commented on #1
Great- Thanks @dudmacedo !

[2017-10-16 22:21] BlakeGuilloud commented on #2
Thanks @hugoduraes !

[2017-10-16 22:21] BlakeGuilloud commented on #4
Thanks @chromaticity !

[2017-10-16 22:23] BlakeGuilloud opened #5 "Feedback"
For anyone who thinks of ideas to improve what I am trying to accomplish here, or just has a comment about it! I hope the README was clear enough!

[2017-10-16 22:27] brycereynolds commented on #3
Just added a PR for this ticket https://github.com/BlakeGuilloud/ganon/pull/6

[2017-10-16 22:27] brycereynolds commented on #1
Haha so I PR'd all the open tickets, and in that five minutes it looks like they've all been claimed :)

[2017-10-16 22:27] brycereynolds commented on #1
Anyhow this is out there..
https://github.com/BlakeGuilloud/ganon/pull/6

[2017-10-16 22:29] BlakeGuilloud commented on #3
Cool @brycereynolds ! If you still want to work on this, the quotient is all yours! Just make sure you push up something for someone else!

[2017-10-16 22:37] #2 closed

[2017-10-16 22:38] BlakeGuilloud opened #9 "Fix the Square method"
There is currently a method called `square` that lives in `/lib/square.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test square` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-16 22:41] hugoduraes commented on #9
I'll pick it up! :)

[2017-10-16 22:41] BlakeGuilloud commented on #9
Sounds good @hugoduraes !

[2017-10-16 22:47] brycereynolds commented on #3
K will push momentarily...

[2017-10-16 22:56] #9 closed

[2017-10-16 22:56] brycereynolds commented on #3
Ok added xor method...

https://github.com/BlakeGuilloud/ganon/pull/11

[2017-10-16 23:02] #3 closed

[2017-10-16 23:02] BlakeGuilloud opened #12 "Fix the Xor method"
There is currently a method called `xor` that lives in `/lib/xor.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test xor` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-16 23:03] BlakeGuilloud opened #13 "Fix the Exponent method"
There is currently a method called `exponent` that lives in `/lib/exponent.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test exponent` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-16 23:04] hugoduraes commented on #12
Dibs :)

[2017-10-16 23:07] BlakeGuilloud opened #14 "Fix the Abs method"
There is currently a method called `Abs` that lives in `/lib/abs.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test abs` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-16 23:10] Wulingoh commented on #14
i will take a look at it.

[2017-10-16 23:11] BlakeGuilloud commented on #14
Sounds good @Wulingoh !

[2017-10-16 23:11] Wulingoh commented on #13
I will give this a go too.

[2017-10-16 23:12] BlakeGuilloud commented on #13
Just please make sure to include a skeleton method + test for each method you fix! These can be anything useful!

[2017-10-16 23:34] maribelduran commented on #5
Hi! Adding an "already assigned" or "taken" label would help to see which ones are already assigned instead of looking through comments to see if someone is already working on an issue :)

[2017-10-16 23:34] maribelduran commented on #5
Also thanks for putting this together!

[2017-10-16 23:36] BlakeGuilloud commented on #5
Thanks @maribelduran !! I will do that! Definitely should have thought of that one 😂

[2017-10-16 23:37] #4 closed

[2017-10-16 23:38] #12 closed

[2017-10-16 23:39] BlakeGuilloud opened #18 "Fix Remainder method"
There is currently a method called `remainder` that lives in `/lib/remainder.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test remainder` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-16 23:39] BlakeGuilloud commented on #18
@maribelduran - Want to take this one on?

[2017-10-16 23:41] dudmacedo commented on #1
Solved, PR #17

[2017-10-16 23:42] maribelduran commented on #18
@BlakeGuilloud Yes I'll take it! Thank you!

[2017-10-16 23:57] BlakeGuilloud opened #20 "Fix SquareRoot method"
There is currently a method called `squareRoot` that lives in `/lib/squareRoot.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test squareRoot` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-16 23:58] hugoduraes commented on #20
Dibs

[2017-10-16 23:59] smoholkar commented on #20
can I take a look at this ?

[2017-10-17 00:02] #20 closed

[2017-10-17 00:02] hugoduraes commented on #20
@smoholkar I've already submitted a PR for this one. But you can pick the new method I've added on this PR! 👍

[2017-10-17 00:02] BlakeGuilloud opened #22 "Fix Increment method"
There is currently a method called `increment` that lives in `/lib/increment.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test increment` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 00:02] BlakeGuilloud commented on #20
@smoholkar Will you take on https://github.com/BlakeGuilloud/ganon/issues/22 please?

[2017-10-17 00:03] BlakeGuilloud commented on #22
@smoholkar Feel free to claim this one if you like!

[2017-10-17 00:05] smoholkar commented on #22
sure I'll take it @BlakeGuilloud

[2017-10-17 00:07] BlakeGuilloud commented on #22
Great, thanks!!

[2017-10-17 01:12] #22 closed

[2017-10-17 01:12] BlakeGuilloud commented on #14
@Wulingoh Sorry I just merged in someone else's fix for this! Feel free to improve what they did if you would like!

[2017-10-17 01:13] #1 closed

[2017-10-17 01:14] BlakeGuilloud opened #26 "Fix Contain method"
There is currently a method called `contain` that lives in `/lib/contain.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test contain` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 01:15] BlakeGuilloud opened #27 "Fix Factorial method"
There is currently a method called `factorial` that lives in `/lib/factorial.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test factorial` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 01:21] Wulingoh commented on #14
Hi that's fine. I am now working on exponent method. I am very new to JavaScript and still learning. Hope I can finish the other issue.

[2017-10-17 01:22] BlakeGuilloud opened #28 "Implement a linter to enforce code style"
We need to bring in a tool like [eslint](https://eslint.org/) to make sure we maintain a certain style for this codebase. I'd like the initial implementation to be very basic and discussions surrounding rules can take place in this issue.

### Acceptance Criteria:
1. Running `yarn lint` should lint the codebase and print errors where they are found.

[2017-10-17 01:25] iamnapo commented on #27
I'll work on it 😃

[2017-10-17 01:25] BlakeGuilloud commented on #27
Great thanks @iamnapo ! It's all yours. Just be sure to create a new skeleton method for someone else to work on!

[2017-10-17 01:27] BlakeGuilloud commented on #14
I'll definitely wait on you to get that one in! Take your time

[2017-10-17 01:27] #14 closed

[2017-10-17 01:59] #27 closed

[2017-10-17 02:00] BlakeGuilloud opened #32 "Fix fibonacci method"
There is currently a method called `fibonacci ` that lives in `/lib/fibonacci.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test fibonacci` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 02:47] ncaron commented on #26
I'll take a shot at this.

[2017-10-17 02:48] BlakeGuilloud commented on #26
All yours @ncaron ! Thanks. Just be sure to write something for someone else to take on when you finish the contain issue!!

[2017-10-17 02:57] BlakeGuilloud commented on #26
Resolved.

[2017-10-17 02:57] #26 closed

[2017-10-17 02:58] ncaron opened #34 "Fix Last method"
There is currently a method called `last` that lives in `/lib/last.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test last` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 03:03] BlakeGuilloud opened #36 "Fix Alphabetize function"
There is currently a method called `alphabetize` that lives in `/lib/alphabetize.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test alphabetize` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 03:03] BlakeGuilloud opened #37 "Fix Reverse function"
There is currently a method called `reverse` that lives in `/lib/reverse.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test reverse` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 03:19] #32 closed

[2017-10-17 03:33] BlakeGuilloud opened #40 "Fix Pythagorean method"
There is currently a method called `pythagorean` that lives in `/lib/pythagorean.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test pythagorean` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 03:35] h93xV2 commented on #36
I am going to start working on this.

[2017-10-17 03:36] ncaron commented on #28
I created a PR for basic linting, forgot to mention here I was working on it 😅

[2017-10-17 03:37] h93xV2 commented on #40
I will start working on this.

[2017-10-17 03:37] BlakeGuilloud commented on #28
cool deal @ncaron I'll take a look at it now!

[2017-10-17 03:38] BlakeGuilloud commented on #40
Awesome- Thanks @h93xV2 !

[2017-10-17 03:40] #28 closed

[2017-10-17 03:57] smehta11 commented on #36
I'd be happy to take this on.

[2017-10-17 03:57] BlakeGuilloud commented on #36
Go for it @smehta11 !

[2017-10-17 04:01] mmartinsky opened #44 "Fix gcd method"
There is currently a method called `gcd` that lives in `/lib/gcd.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test gcd` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 04:03] BlakeGuilloud opened #45 "fix decrement function"
There is currently a method called `decrement` that lives in `/lib/decrement.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test decrement` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 04:21] BlakeGuilloud commented on #5
At the end of Day 1 we're at [npm version 2.0.4](https://www.npmjs.com/package/ganon) with 23 merged in Pull Requests from 14 contributors! Thanks everyone!

[2017-10-17 04:36] #40 closed

[2017-10-17 04:42] GabrielFabian commented on #5
@BlakeGuilloud just wanted to say I think this is a tremendous way to welcome beginners to the open source community while also promoting Hacktoberfest!

Great idea and excellent execution. :+1:

[2017-10-17 04:46] smehta11 commented on #36
Resolved by #48.

[2017-10-17 04:46] BlakeGuilloud commented on #36
Thanks!

[2017-10-17 04:46] #36 closed

[2017-10-17 04:47] BlakeGuilloud opened #49 "Fix prime function"
There is currently a method called `prime` that lives in `/lib/prime.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test prime` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 04:47] BlakeGuilloud commented on #5
Thanks @GabrielFabian !

[2017-10-17 04:59] UmenR commented on #45
Hi the tests for decrement are wrong they have the increment function. do you mind if i change it?

[2017-10-17 04:59] BlakeGuilloud commented on #45
Not at all! Go for it

[2017-10-17 05:44] Phlegz commented on #49
@BlakeGuilloud Hi :) Is there a way that I could add an "in progress" label to any of the open issues so nobody else would work on it at the same time? Thanks.

[2017-10-17 07:34] shinning91 commented on #44
Taking a look at this now

[2017-10-17 07:40] grigori-gru commented on #37
I'll try it

[2017-10-17 11:00] aimananees commented on #44
I get this error, when i run yarn test gcd
TypeError: gcd is not a function
      at Object.<anonymous>.test (test/gcd.test.js:4:10)
      at process._tickCallback (internal/process/next_tick.js:103:7)
Only fifth test-case is passing

[2017-10-17 15:44] mmartinsky commented on #44
Add it as a require in the index file?

[2017-10-17 16:16] Dnguye92 commented on #45
First-time Hacktoberfest-er here. Is this only available to one person to take a crack at these or can anyone make a pull request and give it a shot? @BlakeGuilloud

[2017-10-17 17:39] aimananees commented on #44
Made changes to index.js file. Please review my pull request.

[2017-10-17 19:56] BlakeGuilloud commented on #18
Nice work @maribelduran ! Closing this out.

[2017-10-17 19:56] #18 closed

[2017-10-17 19:57] BlakeGuilloud commented on #49
Nice wokr @Phlegz ! Closing this out.

[2017-10-17 19:57] #49 closed

[2017-10-17 21:03] Wulingoh commented on #13
Hi, I have resolved this issue with skeleton method. Are you able to merge it?

[2017-10-17 21:07] BlakeGuilloud commented on #13
Hey @Wulingoh ! I am seeing a merge conflict with your pull request: https://github.com/BlakeGuilloud/ganon/pull/56/files

Please pull in the latest master, push it up, and I will merge away! The merge conflict is most likely someone adding a new function to the `lib/index.js` file!

Thanks for your contribution!

[2017-10-17 21:24] BlakeGuilloud commented on #44
@aimananees You are going to need to pull down the latest master, resolve the merge conflicts, and push it back up. I'm going to remove your other Pull Requests and keep this one #65  open until the conflicts are resolved. Thanks!

[2017-10-17 21:33] andreasgruenh opened #68 "Fix without function"
There is currently a method called `without` that lives in `/lib/without.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test without` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 21:34] #13 closed

[2017-10-17 21:53] DanielSauve commented on #68
I think I'd like to give this a shot!

[2017-10-17 21:54] BlakeGuilloud commented on #68
Cool deal @DanielSauve ! I'll mark it as "in progress" until you make a PR. Thanks!

[2017-10-17 22:05] BlakeGuilloud opened #69 "Improve Existing Methods"
There are plenty of methods that could be improved upon, more clearly documented, or contain a better suite of tests surrounding them. Please feel free to jump in and help clean up some existing methods where you see fit!

Two great examples of well documented methods with great tests surrounding them are `permute.js` and `combinations.js`. Shoutout to @andreasgruenh for the work he did surroundin

[2017-10-17 22:09] BlakeGuilloud opened #70 "firstUniqueChar Method"
There is currently a method called `firstUniqueChar` that lives in `/lib/firstUniqueChar.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test firstUniqueChar` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 22:10] BlakeGuilloud opened #71 "Fix Average method"
There is currently a method called `average` that lives in `/lib/average.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test average` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 22:11] BlakeGuilloud opened #72 "Fix fibonacci method || test"
There is currently a method called `fibonacci` that lives in `/lib/fibonacci.js`.
Something is wrong and the test is failing! I could use a hand figuring out what's going on- it could be the test itself.

### Acceptance Criteria:
1. Running `yarn test fibonacci` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the tim

[2017-10-17 22:12] BlakeGuilloud opened #73 "Fix floor method"
There is currently a method called `floor` that lives in `/lib/floor.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test floor` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 22:13] BlakeGuilloud opened #74 "Fix Median method"
There is currently a method called `median` that lives in `/lib/median.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test median` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 22:47] LSBOSS commented on #74
@BlakeGuilloud I would like to tackle this problem :)

[2017-10-17 23:12] brycereynolds commented on #71
Added https://github.com/BlakeGuilloud/ganon/pull/76

[2017-10-17 23:29] BlakeGuilloud commented on #74
Go for it @LSBOSS !

[2017-10-17 23:30] BlakeGuilloud commented on #71
Thanks @brycereynolds ! I'll take a look now and close out after merging in!

[2017-10-17 23:32] #71 closed

[2017-10-17 23:34] #68 closed

[2017-10-17 23:34] edgardmota commented on #73
Hi, @BlakeGuilloud ! Can I have this? Thanks!

[2017-10-17 23:36] BlakeGuilloud commented on #73
![image](https://user-images.githubusercontent.com/14660993/31694462-6d978b88-b372-11e7-83c8-c0517d137b45.png)

[2017-10-17 23:36] edgardmota commented on #72
Hi... can I have this one too? I've already asked for the #73 issue! Thanks! :smile:

[2017-10-17 23:39] BlakeGuilloud commented on #72
Hey @edgardmota ! Sure. Just remember to please build out a skeleton for a new problem for each existing one you fix! That way we can keep this chain going!

[2017-10-17 23:40] DanielSauve opened #78 "Fix Ceiling Method"
There is currently a method called `ceiling` that lives in `/lib/ceiling.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test ceiling` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 23:41] #74 closed

[2017-10-17 23:44] LSBOSS opened #79 "Fix clamp method"
There is currently a method called `clamp` that lives in `/lib/clamp.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test clamp` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-17 23:46] victorsch commented on #78
Hey, I'd like to take on this issue.

[2017-10-17 23:52] BlakeGuilloud commented on #78
Go for it @victorsch !

[2017-10-18 00:02] epesco commented on #70
hey @BlakeGuilloud ! hoping to grab this issue

[2017-10-18 00:03] BlakeGuilloud commented on #70
@epesco ! It's all yours!!

[2017-10-18 00:03] Wulingoh commented on #79
Hi there,
I am happy to take a look at it.

Cheers,
wulingoh

[2017-10-18 00:04] BlakeGuilloud commented on #79
Cool deal. I'll mark as in progress! Thanks!

[2017-10-18 00:12] erinesco commented on #70
Awesome! thanks for the fast response

[2017-10-18 00:45] BlakeGuilloud opened #80 "Setup a precommit-hook for linting"
We need to prevent people from committing code that doesn't follow our linting rules, as we already have 34 eslint errors! We should implement a hook that runs when a user attempts to commit code to make sure they have followed all of our rules.

I do not know much about precommit hooks, but from my understanding there are plenty of packages out there to solve this issue- this is the first one I f

[2017-10-18 00:59] luisvillalba commented on #80
I can do that, happy to help

[2017-10-18 01:00] BlakeGuilloud commented on #80
Awesome @luisvillalba ! Feel free to take it in any direction you want. Like I mentioned, I'm pretty unfamiliar with the process. Thanks!!

[2017-10-18 03:45] luisvillalba opened #83 "Remove .DS_Store files and gitignore them"
Remove .DS_Store files since it doesn't make sense to have it in the repo, it should be ignored as well

### Acceptance Criteria:
None .DS_Store should be in the repo

[2017-10-18 03:47] luisvillalba commented on #83
I'm doing this

[2017-10-18 15:08] luisvillalba commented on #83
Can you tag this as a hacktoberfest issue?

[2017-10-18 15:09] luisvillalba commented on #69
I can work on this

[2017-10-18 15:25] BlakeGuilloud commented on #83
Shore.

[2017-10-18 15:35] #80 closed

[2017-10-18 15:57] #83 closed

[2017-10-18 16:38] luisvillalba opened #88 "Fix and function"
Function should return true if both arguments are true; false otherwise.

### Acceptance Criteria:
- 'yarn test and' should pass

[2017-10-18 16:39] luisvillalba commented on #88
I'll do this later today

[2017-10-18 16:53] aimananees commented on #44
33a7eb8 Merged with latest master 👍

[2017-10-18 19:25] andreasgruenh commented on #45
Hey @Dnguye92 we will wait 24 hours after the first person called dips on the issue, after that, we will merge the first PR that can be merged without conflicts.

[2017-10-18 19:33] andreasgruenh opened #91 "Add linting rule for quotes"
Many pull requests use different forms of quotes, this problem can be fixed with a [linting rule](https://eslint.org/docs/rules/quotes)

We want all quotes to use double quotes (") except the places, where template literals (`) are used for templates.

**Acceptance Criteria:**

- Running `yarn run lint` should not yield any errors after adding the quotes rule.

[2017-10-18 19:56] andreasgruenh commented on #91
@robeau no changes required, thanks a lot :)

[2017-10-18 19:56] #91 closed

[2017-10-18 21:11] #45 closed

[2017-10-18 21:25] BlakeGuilloud opened #95 "Clean up the README"
We currently have a single README containing all of our documentation. This should be broken out into chunks to make it easier for Contributors to contribute and for Users to consume.

This will involve:
1. Our Objective
2. Documentation on how to install and use the package in other projects.
3. A CONTRIBUTING.md

[2017-10-18 22:00] BlakeGuilloud opened #97 "Fix Nor function."
There is currently a method called `nor` that lives in `/lib/nor.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test nor` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-18 22:02] BlakeGuilloud opened #98 "Fix RemoveLast function"
There is currently a method called `removeLast` that lives in `/lib/removeLast.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test removeLast` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-18 23:24] #79 closed

[2017-10-18 23:53] alcar commented on #98
Hello! I'd like to take this one!

[2017-10-19 00:03] BlakeGuilloud commented on #98
Awesome @alcar !! Go for it. Just be sure to include a skeleton method for someone else to work on. I'm going to apply the 'in progress' label to it. This reserves the Issue for 24 hours. Thank you!

[2017-10-19 00:27] edgardmota commented on #73
Fixed on PR #99

[2017-10-19 00:35] edgardmota commented on #72
The PR #99 also correct this test. I wasn't planning to pull them all together but it seems I'm still lacking some experience on Git/Github

[2017-10-19 00:36] #98 closed

[2017-10-19 00:36] BlakeGuilloud commented on #73
Great work man! Thanks for the contrib!

[2017-10-19 00:36] #73 closed

[2017-10-19 00:36] BlakeGuilloud commented on #72
No worries. It has been merged into master! thanks

[2017-10-19 00:36] #72 closed

[2017-10-19 00:45] BlakeGuilloud commented on #97
Hey @melissa3000 - I saw that you tried to ping me somewhere in the codebase. I can't find exactly where your comment is, but I assume it hast to do with this function? I'll put the in progress label on this, but if you could confirm that this is the issue you want to work on! Thanks!!

[2017-10-19 01:10] melissa3000 commented on #97
Thanks! I ended up switching to the min.js function, so you can remove the inprogress on this one. I'm still trying to add a new skeleton issue for the next person and am new to contributing so if it doesn't work correctly please let me know.

[2017-10-19 01:11] BlakeGuilloud commented on #97
Great! Thanks, lets move this conversation to your PR https://github.com/BlakeGuilloud/ganon/pull/101 - I mentioned a skeleton method in there. Thanks!

[2017-10-19 01:18] BlakeGuilloud opened #103 "Updates to Travis CI"
So I merged in a travis CI config and realized it may be counter intuitive in this project. The objective of this project is to have broken tests for someone else to fix. So the build should always fail.

Does anyone know if there are ways to configure travis to run our linter instead of run tests?

cc. @shawnhwei

[2017-10-19 01:21] #37 closed

[2017-10-19 01:22] melissa3000 commented on #97
Thanks! I added tests for isEven.test.js.

Thanks so much for creating a beginner-friendly project! Please let me know if I missed anything else.

[2017-10-19 01:27] BlakeGuilloud commented on #103
I actually figured it out! For reference you can put something like this in the .travis.yml file

script:
  - "npm run lint"

[2017-10-19 01:27] shawnhwei commented on #103
I guess you have a point haha. I just imagined one day it would be cool to see the icon turn green.

In regards to your question, Travis can be setup to run an arbitrary build script and deploy a release to Github.

[2017-10-19 01:29] BlakeGuilloud commented on #103
I know. I <3 icons

[2017-10-19 01:40] BlakeGuilloud commented on #103
Whoops @shawnhwei ! I accidentally merged in the wrong icon. It was pointed at your fork 😂 "https://travis-ci.org/shawnhwei/ganon.svg?branch=master"

[2017-10-19 01:42] #103 closed

[2017-10-19 01:42] shawnhwei commented on #103
Oh that would be my mistake...

[2017-10-19 01:43] BlakeGuilloud commented on #103
No worries! Got it fixed and that green icon!

[2017-10-19 01:43] BlakeGuilloud commented on #103
One day we need to get that "prettier" icon in there too.

[2017-10-19 04:23] BlakeGuilloud commented on #97
Hey @melissa3000 ! Judging by your pull requests I see that you may have tackled this issue; however, I'm seeing some weirdness in regards to there being multiple branches opened up with multiple pull requests. I am going to close them all out, and if you don't mind working on getting all everything you have done (fixing this issue + creating a skeleton method) into a single PR, I would be happy t

[2017-10-19 04:43] BlakeGuilloud opened #110 "Fix SwapCase method"
There is currently a method called `swapCase` that lives in `/lib/swapCase.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test swapCase` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-19 04:44] BlakeGuilloud opened #111 "Fix UpperCase method"
There is currently a method called `upperCase` that lives in `/lib/upperCase.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test upperCase` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-19 04:52] BlakeGuilloud opened #112 "asdf"
There is currently a method called `endsWith` that lives in `/lib/endsWith.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test endsWith` results in tests passing.

#### Please include the skeleton of a new method + an accompanying test for someone else to work on at the time of creating a pull request!

[2017-10-19 04:52] #112 closed

[2017-10-19 04:53] BlakeGuilloud opened #113 "Fix EndsWith method"
There is currently a method called `endsWith` that lives in `/lib/endsWith.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test endsWith` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

###

[2017-10-19 04:54] BlakeGuilloud opened #114 "Fix indexOf method"
There is currently a method called `indexOf` that lives in `/lib/indexOf.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test indexOf` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Pl

[2017-10-19 05:04] BlakeGuilloud opened #116 "Fix Rot13 method"
There is currently a method called `rot13 ` that lives in `/lib/rot13.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test rot13` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Please

[2017-10-19 05:04] BlakeGuilloud opened #117 "Fix isEven method"
There is currently a method called `isEven` that lives in `/lib/isEven.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test isEven` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Pleas

[2017-10-19 05:18] BlakeGuilloud commented on #97
This guy is back open!

[2017-10-19 05:22] BlakeGuilloud opened #119 "Create our logo!!"
It's a silly request, but I thought I would throw it out there! It would be awesome if we had some sort of logo to represent the project. I know absolutely nothing about designing or shipping a logo, so this is completely up to the contributor! Feel free to take it however you would like.

[2017-10-19 05:30] abhigyank commented on #111
I'd like to be assigned on this issue.

[2017-10-19 05:31] csleong98 commented on #119
What are the requirements for the logo

[2017-10-19 05:31] BlakeGuilloud commented on #111
It's yours @abhigyank !! I will apply the "in progress" label for the next 24 hours. If you need more time, feel free to reach out! Thanks!

[2017-10-19 05:33] BlakeGuilloud commented on #119
I have no clue. The name Ganon is inspired from The Legend of Zelda franchise. I know absolutely nothing about designing or shipping a logo, so this is completely up to the contributor! Feel free to take it however you would like.

[2017-10-19 05:34] csleong98 commented on #119
ikr XD alright since it is inspire Zelda i'll create 1 base on the Ganon's face a simple icon

[2017-10-19 05:35] BlakeGuilloud commented on #119
You're awesome @csleong98 !!!!! I'll make sure and give you a nice shoutout in the readme!

[2017-10-19 05:39] csleong98 commented on #119
alright thx

[2017-10-19 05:45] #95 closed

[2017-10-19 06:03] abhigyank commented on #111
@BlakeGuilloud while running 'yarn test upperCase' I am getting this error as test fails -> ' TypeError: uppercase is not a function'.
What could be the possible reason?

[2017-10-19 06:03] ramyaa commented on #113
Taking this!

[2017-10-19 06:04] BlakeGuilloud commented on #111
That is most likely being caused by the function not being properly exported from “lib/index.js” fake a look in that file and confirm the method you are working on is there

[2017-10-19 06:24] BlakeGuilloud commented on #111
Thank you @abhigyank

[2017-10-19 06:24] #111 closed

[2017-10-19 06:29] #113 closed

[2017-10-19 06:47] nidhihooda commented on #117
I would like to be assigned this.

[2017-10-19 07:24] ksjc1995 commented on #110
@BlakeGuilloud I would like to work on this.

[2017-10-19 08:24] calpa commented on #114
@BlakeGuilloud I would like to work on this.

[2017-10-19 10:07] aimananees commented on #44
5372533 Merged with latest master

[2017-10-19 10:13] andreasgruenh commented on #114
Thanks for fixing this! :)

[2017-10-19 10:13] #114 closed

[2017-10-19 10:28] abhigyank opened #129 "Fix isOdd method"
There is currently a method called `isOdd` that lives in `/lib/isOdd.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test isOdd` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Please i

[2017-10-19 10:28] abhigyank commented on #129
@BlakeGuilloud Assign this to me please!

[2017-10-19 10:33] andreasgruenh commented on #129
Thanks for your contribution! The issue is reserved for you for 24 hours. After that any pull request that implements this will be merged :)

[2017-10-19 10:49] LSBOSS opened #131 "Fix "sign" method"
There is currently a method called `sign` that lives in `/lib/sign.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test sign` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Please incl

[2017-10-19 10:50] LSBOSS opened #132 "Fix "isNegativeZero" method"
There is currently a method called `isNegativeZero` that lives in `/lib/isNegativeZero.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test isNegativeZero` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to

[2017-10-19 10:50] LSBOSS opened #134 "Fix "isPositiveZero" method"
There is currently a method called `isPositiveZero` that lives in `/lib/isPositiveZero.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test isPositiveZero` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to

[2017-10-19 11:17] andreasgruenh commented on #110
Thank your for contributing! Awesome work with #130

[2017-10-19 11:17] #110 closed

[2017-10-19 11:30] andreasgruenh commented on #70
We will remove the "in progress" label because this has been stale for 24 hours. This means this issue is now "first come first merge"

[2017-10-19 11:35] doubledare704 commented on #132
assign this to me. please

[2017-10-19 11:38] andreasgruenh commented on #132
@doubledare704 Okay! This issue is blocked for you for 24 hours :)

[2017-10-19 11:40] #129 closed

[2017-10-19 11:41] doubledare704 commented on #116
Give me this task, please)

[2017-10-19 11:44] doubledare704 commented on #131
I'd like to take this fix

[2017-10-19 11:45] andreasgruenh commented on #116
@doubledare704 Sure, go ahead :)

[2017-10-19 11:46] doubledare704 commented on #132
@andreasgruenh ok)

[2017-10-19 11:46] andreasgruenh commented on #131
:D Sure, go ahead @doubledare704

[2017-10-19 12:10] doubledare704 opened #140 "Fix "sliceLastElements" method"
There is currently a method called `sliceLastElements` that lives in `/lib/sliceLastElements.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test sliceLastElements` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any

[2017-10-19 12:10] siberian-student commented on #134
I would like to work on this one.

[2017-10-19 13:57] doubledare704 commented on #131
There is an issue in tests:
![image](https://user-images.githubusercontent.com/10940053/31774466-86b1e5b4-b4ee-11e7-8dd8-a1d4fbda7fcb.png)
NaN === NaN returns false

[2017-10-19 14:08] doubledare704 opened #146 "Fix dec2hex method"
There is currently a method called `dec2hex` that lives in `/lib/dec2hex.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test dec2hex` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Pl

[2017-10-19 14:08] doubledare704 opened #147 "Fix "dec2oct" method"
There is currently a method called `dec2oct` that lives in `/lib/dec2oct.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test dec2oct` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Pl

[2017-10-19 14:24] aimananees commented on #44
53b3545 Merged with latest master

[2017-10-19 14:30] andreasgruenh commented on #134
Hey @siberian-student, when you wrote your comment, someone else already submitted a pull request that does this.
Feel free to grab any problem the occurs when running `yarn run test` locally.

[2017-10-19 14:30] #134 closed

[2017-10-19 14:41] #132 closed

[2017-10-19 14:48] luisvillalba commented on #146
I can do this

[2017-10-19 15:09] csleong98 commented on #119
Work in Progress. What do u think?
![ganon](https://user-images.githubusercontent.com/6150058/31778140-76e82af6-b522-11e7-8eea-9a9e0b4037e5.png)

[2017-10-19 15:22] #140 closed

[2017-10-19 15:23] #131 closed

[2017-10-19 15:23] 5hanth opened #151 "Fix `take` method in `/lib/take.js`"
There is currently a method called `take` that lives in `/lib/take.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Ple

[2017-10-19 15:26] andreasgruenh commented on #44
This has been fixed.

[2017-10-19 15:26] #44 closed

[2017-10-19 15:26] #116 closed

[2017-10-19 15:27] andreasgruenh commented on #117
Sure, @nidhihooda give it a try :)

[2017-10-19 15:36] andreasgruenh opened #152 "Group unit tests in test suites"
Right now many unit test files only include top-level unit tests (with `test()` or `it()`). We'd like to group all unit tests of a file into a test suite. To do this, we need to wrap all tests into a `describe` call.

This could look like this:

Before:
[code]

After:
[code]

An example of the `it` function can be found in `test/combinations.test.js`

[2017-10-19 15:51] #88 closed

[2017-10-19 15:59] BlakeGuilloud commented on #119
@csleong98 !! wow!! This is freaking awesome. Thank you so much for the work on this. I am REALLY impressed!

[2017-10-19 16:09] andreasgruenh commented on #152
@damjanh Thanks! I will add the label :)

[2017-10-19 16:15] andreasgruenh opened #155 "Fix functional composition methods!"
There are currently methods called `compose`, `flow` and `pipe`, that live in `/lib/<methodName>.js`.
They are incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test flow compose pipe` results in tests passing.
2. You have written **at least two** skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton methods.
4. Running `yarn li

[2017-10-19 16:33] v-chmykov commented on #147
I can do this

[2017-10-19 16:47] luisvillalba opened #156 "Fix lint errors"
Noticed there's 24 lint issues again, it might be because people are preventing pre-commit hook to do its job by executing `git commit --no-verify` which should be forbidden.

[2017-10-19 16:47] luisvillalba commented on #156
I'll do this

[2017-10-19 16:50] andreasgruenh commented on #156
I don't have any linting errors on the current master branch and the travis build (uses the linter) is also working? Could you post the result of your lint command?

[2017-10-19 16:59] luisvillalba commented on #156
Hmm weird, I see this

[code]

[2017-10-19 16:59] kakamg0 commented on #151
@BlakeGuilloud  I would like to work on this

[2017-10-19 17:14] andreasgruenh commented on #156
Mh, did you use yarn to install dependencies? Could be that you or me are on a different version of eslint that has different results?

[2017-10-19 17:16] kosciak9 commented on #155
I've started working on this :)

[2017-10-19 17:34] #151 closed

[2017-10-19 17:47] ltetzlaff commented on #70
can be closed i think #55

[2017-10-19 18:04] andreasgruenh commented on #70
Ah, thanks for noticing @ltetzlaff !

[2017-10-19 18:04] #70 closed

[2017-10-19 18:04] ktilcu commented on #78
I'm on it.

[2017-10-19 18:35] luisvillalba commented on #156
Used yarn to install all the dependencies

I'm running eslint 4.9.0 using the .eslintrc in the project

[2017-10-19 18:37] kosciak9 commented on #155
I've created first implementation of `flow` function and skeleton function `hex2string`. As it's my first *serious* work on OSS project, I would be grateful if someone could just take a look and tell me if I'm doing something wrong. :)

[Link to `flow.js`](https://github.com/kosciak9/ganon/blob/1ef3bbed1ec62e4cdeda7119cece3bbec9392c4e/lib/flow.js)

[Link to `hex2string.js`](https://github.com/kosc

[2017-10-19 19:08] andreasgruenh commented on #155
I'm only on mobile right now, but your flow implement looks fine. If you want any suggestions, I'd recommend trying to replace the forEach loop with outside variable with a reduce call. If you're interested, you could add this change to this pull request, if not, we will merge this later.

[2017-10-19 19:09] BlakeGuilloud commented on #156
Really strange @luisvillalba . I am not having any linting errors either. I think it may have something to do with your local env somehow- I looked into the Unnecessary escape character specifically in fibonacci.test.js and see that there is in fact a useless escape: "Hundredth Fibonacci number (index 99) produces error - solution is 218922995834555169026, but JS can\'t represent it precisely"; ho

[2017-10-19 19:47] cjhaviland commented on #69
Refactored #55 in #164

[2017-10-19 19:52] kosciak9 commented on #155
If it's a better way of doing it, I surely want to. But I'm not entirely sure what do you mean by outside variable here - copying arguments list to another variable?

On October 19, 2017 9:08:11 PM GMT+02:00, Andreas <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-10-19 20:16] luisvillalba commented on #156
Hmm interesting, it might be a global config then, what do you think of this, changing:
[code]
for this
[code]
So we make sure everyone is using the same eslintrc?

Also should we extend eslint:recommended?

[2017-10-19 20:20] BlakeGuilloud commented on #156
Is the -c tag like a 'config' kind of tag? I've never used it but just tested it locally and it seems to be working fine on my end. Does using that resolve the errors you mentioned?

[2017-10-19 20:24] BlakeGuilloud commented on #156
I would be open to using eslint:recommended with the exception of the "no-unused-vars" rule. Considering the scope of this project is to build "shells" of functions, there are going to be plenty of unused variables while this is in it's early stages.

[2017-10-19 20:25] andreasgruenh commented on #155
Right now you are placing intermediate values in a variable. By doing it with a reduce call you can omit this variable.

[2017-10-19 20:32] luisvillalba commented on #156
Actually `eslint --no-eslintrc -c .eslintrc ./lib ./test` works fine.

setting -c only don't

[2017-10-19 20:46] #97 closed

[2017-10-19 20:46] #78 closed

[2017-10-19 20:48] BlakeGuilloud commented on #152
Thank you for this @damjanh !!

[2017-10-19 20:48] #152 closed

[2017-10-19 20:53] BlakeGuilloud opened #166 "Fix first method"
There is currently a method called `first` that lives in `/lib/first.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test first` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Please i

[2017-10-19 20:53] BlakeGuilloud opened #167 "Fix Zip test"
There is currently a method called `zip` that lives in `/lib/zip.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test zip` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Please include

[2017-10-19 20:54] BlakeGuilloud opened #168 "Fix dec2binary function"
There is currently a method called `dec2binary` that lives in `/lib/dec2binary.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test dec2binary` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console

[2017-10-19 20:54] BlakeGuilloud opened #169 "Fix countSetBits method"
There is currently a method called `countSetBits` that lives in `/lib/countSetBits.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the c

[2017-10-19 20:55] BlakeGuilloud opened #170 "Fix startsWith method"
There is currently a method called `startsWith` that lives in `/lib/startsWith.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test startsWith` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console

[2017-10-19 20:56] BlakeGuilloud opened #171 "Fix Round function"
There is currently a method called `round` that lives in `/lib/round.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test round` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Please i

[2017-10-19 20:56] BlakeGuilloud opened #172 "Fix isPythagoreanTriple function"
There is currently a method called `isPythagoreanTriple` that lives in `/lib/isPythagoreanTriple.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test isPythagoreanTriple` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not prin

[2017-10-19 21:00] BlakeGuilloud opened #173 "Something is wrong with our GCD method || test"
Something is wrong with the GCD function! Not all of the tests are passing. Could use someone to take a look into it and see if it is the test itself that is broken, or if the function could use a refactor.

### Acceptance Criteria:
1. Running `yarn test gcd` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skel

[2017-10-19 21:01] BlakeGuilloud opened #174 "Fix invert method"
There is currently a method called `invert` that lives in `/lib/invert.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test invert` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Pleas

[2017-10-19 21:01] BlakeGuilloud opened #175 "Fix Drop method"
There is currently a method called `drop` that lives in `/lib/drop.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test drop` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Please incl

[2017-10-19 21:02] BlakeGuilloud opened #176 "Fix isPythagoreanTriple function"
There is currently a method called `isPythagoreanTriple` that lives in `/lib/isPythagoreanTriple.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test isPythagoreanTriple` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not prin

[2017-10-19 21:07] BlakeGuilloud commented on #69
@cjhaviland I made some minor requests in your pr #164 - Thanks for your work!!

[2017-10-19 21:08] BlakeGuilloud opened #178 "Fix arrayDifference method"
There is currently a method called `arrayDifference` that lives in `/lib/arrayDifference.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test arrayDifference` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors

[2017-10-19 21:10] BlakeGuilloud opened #179 "Fix isPalindrome method"
There is currently a method called `isPalindrome` that lives in `/lib/isPalindrome.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test isPalindrome` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the c

[2017-10-19 21:11] BlakeGuilloud opened #180 "Fix lowercase method"
There is currently a method called `lowercase` that lives in `/lib/lowercase.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test lowercase` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

[2017-10-19 21:11] BlakeGuilloud opened #181 "Fix mean method"
There is currently a method called `mean` that lives in `/lib/mean.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test mean` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Please incl

[2017-10-19 21:12] pbateman828 commented on #166
@BlakeGuilloud I would like to work on this

[2017-10-19 21:13] kosciak9 commented on #155
I get it know. Will look into it tomorrow.

On October 19, 2017 10:25:55 PM GMT+02:00, Andreas <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-10-19 21:18] Akin909 commented on #181
Hi @BlakeGuilloud, love the idea of this project and would like to contribute since this is open I'd like to work on this if that alright

[2017-10-19 21:33] BlakeGuilloud commented on #181
Go for it @Akin909 !! I will apply the in progress label.

[2017-10-19 21:34] BlakeGuilloud commented on #166
All yours @pbateman828 !

[2017-10-19 22:59] tomasswood commented on #179
@BlakeGuilloud I would like to work on this

[2017-10-19 23:00] BlakeGuilloud commented on #179
Awesome @tomasswood ! It's yours. Thanks!

[2017-10-19 23:00] tomasswood commented on #178
@BlakeGuilloud I would like to work on this

[2017-10-19 23:01] BlakeGuilloud commented on #178
Hey @tomasswood !! Thanks- I will apply the 'in progress' label. Just remember, for each method you fix, you need to supply a skeleton method for someone else to work on! This is what keeps the project going. Thanks!!

[2017-10-19 23:03] tomasswood commented on #178
Will do :)

[2017-10-19 23:27] xxnatc commented on #176
Duplicate of #172 ?

[2017-10-19 23:34] BlakeGuilloud commented on #176
Whoops. Thanks !!

[2017-10-19 23:34] #176 closed

[2017-10-19 23:35] millerm commented on #174
This looks fun, can I take it?

[2017-10-19 23:39] BlakeGuilloud commented on #174
Absolutely! I'll apply the 'in progress' label. Thanks @millerm !!

[2017-10-19 23:45] #178 closed

[2017-10-19 23:46] BlakeGuilloud commented on #178
THanks @

[2017-10-19 23:50] tomasswood commented on #175
@BlakeGuilloud I can work on this one as well if you would like, or you can save it for someone else?

[2017-10-19 23:52] tomasswood commented on #171
@BlakeGuilloud likewise, I can work on this one as well if you would like, or you can save it for someone else?

[2017-10-19 23:52] BlakeGuilloud commented on #175
Go for it @tomasswood !! If you get a few minutes, I'm trying to encourage people to open new Issues for the skeleton methods they create. There is a ISSUE_TEMPLATE already laid out, but if you don't mind filling it out for your new methods after your pull requests go through, it helps me out a ton!

[2017-10-19 23:53] BlakeGuilloud commented on #171
Go for it @tomasswood !! If you get a few minutes, I'm trying to encourage people to open new Issues for the skeleton methods they create. There is a ISSUE_TEMPLATE already laid out, but if you don't mind filling it out for your new methods after your pull requests go through, it helps me out a ton!

[2017-10-19 23:54] Wulingoh commented on #180
HI @BlakeGuilloud,

Happy to tackle this issue. Will add on skeleton method too.

[2017-10-19 23:54] BlakeGuilloud commented on #180
You got it @Wulingoh ! Thanks a ton.

[2017-10-19 23:55] tomasswood commented on #171
Too easy, will do it now for the other two!

[2017-10-19 23:56] BlakeGuilloud commented on #171
Thanks!!

[2017-10-19 23:56] tomasswood opened #184 "Fix flattenArray method"
There is currently a method called `flattenArray ` that lives in `/lib/flattenArray.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test flattenArray ` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the

[2017-10-19 23:57] tomasswood opened #185 "Fix regexReplace method"
There is currently a method called `regexReplace ` that lives in `/lib/regexReplace.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test regexReplace ` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the

[2017-10-20 00:06] #179 closed

[2017-10-20 00:14] BlakeGuilloud commented on #171
Donezo. Nice work

[2017-10-20 00:14] #171 closed

[2017-10-20 00:14] ktilcu commented on #155
@kosciak9 If you submit a PR then it will be easier to review!

[2017-10-20 00:14] tomasswood opened #187 "Fix arraySum method"
There is currently a method called `arraySum` that lives in `/lib/arraySum.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test arraySum` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

###

[2017-10-20 00:29] tomasswood opened #189 "Fix concatenateArray method"
There is currently a method called `concatenateArray` that lives in `/lib/concatenateArray.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test concatenateArray` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any err

[2017-10-20 00:42] BlakeGuilloud commented on #119
@csleong98 Whenever you feel comfortable with me putting this logo in our README. Just let me know. The .png that is in our project already looks awesome!! Thanks again for doing this.

[2017-10-20 00:44] erinesco commented on #70
Ah, didn't see the 24 hour limit, let me know if there's any other way I can contribute!

[2017-10-20 00:46] BlakeGuilloud commented on #70
Hey sorry @erinesco !! We tried to clean up our pull requests lane today and someone snuck that in! Feel free to take a look at other current issues, and if any of them strike your interest, @BlakeGuilloud me and i'll make sure that your work gets in.

[2017-10-20 01:21] kyliedale commented on #187
@BlakeGuilloud I would like to work on this!

[2017-10-20 01:26] BlakeGuilloud commented on #187
Go for it @kyliedale !! I will apply the 'in progress' label. That buys you 24 hours. If you need more time, feel free to reach out and I'll be happy to oblige! Thanks for contributing!

[2017-10-20 01:33] erinesco commented on #170
Will grab this one! @BlakeGuilloud

[2017-10-20 01:34] BlakeGuilloud commented on #170
Awesome @erinesco !!

[2017-10-20 01:54] BtheGit commented on #184
I'll take a crack at this.

[2017-10-20 01:56] BlakeGuilloud commented on #184
Awesome @BtheGit ! I'll apply the 'in progress' label. This will buy you 24 hours. If you need more time, feel free to reach out and I'll happily oblige! Thanks for your contribution and @BlakeGuilloud me if you have any question.

[2017-10-20 01:57] BtheGit commented on #184
Flatten a 2d or a deep nested array? :) I always say go deep or go home.

[2017-10-20 01:58] Y-Selim commented on #189
I will swing a bat at this :bat:

[2017-10-20 01:59] BlakeGuilloud commented on #184
Hah- whatever you think!! If you go deep, you should adjust the tests to make sure and check for any edge cases!

[2017-10-20 02:00] BtheGit commented on #184
Then I will write that as a skeleton I suppose instead. Let some other poor fella decide between tail call optimized recursion or uncool loops. ;)

[2017-10-20 02:00] BlakeGuilloud commented on #189
:bat: Sounds good @Y-Selim !! I'll put the 'in progress' label on it. This buys you 24 hours. If you feel you need me time, feel free to reach out to me in this thread and we won't remove the In Progress label!! Thanks for contributing.

[2017-10-20 02:28] BlakeGuilloud commented on #156
Thanks for this @luisvillalba !!

[2017-10-20 02:28] #156 closed

[2017-10-20 02:39] BlakeGuilloud commented on #189
Nice work!

[2017-10-20 02:39] #189 closed

[2017-10-20 02:43] theyselim opened #193 "Fix countUpperCase method"
There is currently a method called `countUpperCase` that lives in `/lib/countUpperCase.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test countUpperCase` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to

[2017-10-20 02:47] BtheGit commented on #184
https://github.com/BlakeGuilloud/ganon/pull/194

[2017-10-20 02:47] BtheGit commented on #184
#194 Still learning how to link issues and PRs.

[2017-10-20 02:49] BlakeGuilloud commented on #184
No worries @BtheGit !! Thanks for the contrib. If you get a chance, we are trying to encourage our contributors to open up the Issue for their skeleton method. Thanks!

[2017-10-20 02:49] #184 closed

[2017-10-20 02:49] erinesco commented on #170
@BlakeGuilloud are you able to get `yarn test startsWith` to run? no matter how many ways I've tried/configurations I've checked, I get `
    TypeError: startsWith is not a function

      at Object.<anonymous> (test/startsWith.test.js:11:12)`

[2017-10-20 02:49] BtheGit commented on #184
Yes sir. Good point.

[2017-10-20 02:52] BlakeGuilloud commented on #170
Hey @erinesco !! So sorry about this- it looks like the `startsWith` function was not properly exported from `lib/index.js`. You will need to add the following to that file:

[code]

This is how we export the project as an npm package! But sorry about that!!

[2017-10-20 02:52] BtheGit opened #195 "Fix flattenDeepArray method"
There is currently a method called `flattenDeepArray` that lives in `/lib/flattenDeepArray.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors

[2017-10-20 02:55] max80713 commented on #193
@BlakeGuilloud Can I take this one?

[2017-10-20 02:57] BlakeGuilloud commented on #193
Hey @max80713 ! Absolutely. I'll apply the 'in progress' label. That buys you 24 hours- if you need more time feel free to reach out and I'll happily oblige. Thanks for contributing!

[2017-10-20 03:01] erinesco commented on #170
no worries--can't believe I didn't see that!

[2017-10-20 03:20] BlakeGuilloud commented on #170
🎉 🎉 🎉 🎉  Thanks!

[2017-10-20 03:20] #170 closed

[2017-10-20 03:29] erinesco opened #197 "Fix sortByWordLength method"
There is currently a method called `sortByWordLength` that lives in `/lib/sortByWordLength.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test sortByWordLength` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any err

[2017-10-20 03:33] emanuelcasco commented on #197
@BlakeGuilloud I would like to work on this!

[2017-10-20 03:35] BlakeGuilloud commented on #197
Thanks @emanuelcasco !! It's yours. I'll apply the "In Progress" label. This buys you 24 hours. If you need more time, feel free to reach out to me and I will happily oblige. Thanks for your contribution!

[2017-10-20 03:37] emanuelcasco commented on #168
@BlakeGuilloud I would like to work on this!

[2017-10-20 03:38] BlakeGuilloud commented on #168
Cool deal @emanuelcasco ! I'll apply the in progress label. Just keep in mind, that for each method you fix, you need to include a Skeleton Method for someone else to work on! Thanks for your contributions.

[2017-10-20 03:44] sherlyc commented on #195
May I?

[2017-10-20 03:50] BlakeGuilloud commented on #195
All you @sherlyc !! I will apply this 'in progress' label. This buys you 24 hours! If you need more time, feel free to reach out and I will happily oblige. Thanks for your contribution!!

[2017-10-20 04:07] csleong98 commented on #119
I have created a version 2 of the logo with a new pull request.

[2017-10-20 04:22] BlakeGuilloud commented on #197
Thanks !!

[2017-10-20 04:22] #197 closed

[2017-10-20 04:28] BlakeGuilloud commented on #119
Thank you so much!

[2017-10-20 04:28] #119 closed

[2017-10-20 04:30] emanuelcasco opened #200 "Fix sortAlphabetically function"
There is currently a method called `sortAlphabetically` that lives in `/lib/sortAlphabetically.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test sortAlphabetically` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print a

[2017-10-20 04:39] stillNovice opened #201 "Fix countSetBits function"
There is currently a method called `countSetBits` that lives in `/lib/countSetBits.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test countSetBits` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the c

[2017-10-20 04:41] #169 closed

[2017-10-20 04:45] dna113p commented on #201
I'll take it!

[2017-10-20 04:53] micahduron commented on #200
I'd like to give this one a go.

[2017-10-20 04:54] BlakeGuilloud commented on #201
Awesome @dna113p ! I will apply the 'in progress' label. This buys you 24 hours- if you need more time, feel free to reach out and I will happily oblige! Thanks for contributing!

[2017-10-20 04:54] BlakeGuilloud commented on #200
Awesome @micahduron !! I will apply the 'in progress' label. This buys you 24 hours. If you feel like you need more time, feel free to reach out and I will happily oblige. Thanks for contributing!

[2017-10-20 04:55] BlakeGuilloud commented on #174
Donezo. Thanks @millerm !

[2017-10-20 04:55] #174 closed

[2017-10-20 04:57] BlakeGuilloud commented on #175
Donezo.

[2017-10-20 04:57] #175 closed

[2017-10-20 04:59] BlakeGuilloud commented on #147
Awesome @v-chmykov !! I have applied the 'in progress' label. This buys you 24 hours. Feel free to reach out if you need more time! THanks for contributing!

[2017-10-20 05:06] hariaakash commented on #173
@BlakeGuilloud I am taking this up

[2017-10-20 05:09] BlakeGuilloud commented on #173
Thanks @hariaakash !!

[2017-10-20 05:09] stillNovice commented on #167
i am on it

[2017-10-20 05:09] BlakeGuilloud commented on #167
sounds good @stillNovice !

[2017-10-20 05:37] z2oh commented on #172
I can take this one @BlakeGuilloud .

Is there a limit to how many skeleton methods we can add? I am a Code-a-Thon author and love writing coding problems, so this is right up my alley!

Additionally, I know this repo is aimed at beginners, but is there any interest in harder issues? For example: a "find the `n`'th Fibonacci number" method where the solution is expected to be faster than the dynam

[2017-10-20 05:46] stillNovice commented on #167
@BlakeGuilloud In the zip.test.js file, there is strict equality testing for returned array, which is not letting me pass the tests. I think it should be expect().toEqual() instead of expect().toBe() in the zip.test.js. Please look into it.

[2017-10-20 05:47] buoyantair commented on #201
Can I try this too?

[2017-10-20 05:52] buoyantair commented on #185
I will take this!

[2017-10-20 07:03] buoyantair commented on #185
I will take this!

[2017-10-20 07:45] hvarday commented on #195
@BlakeGuilloud
Is it possible for me to contribute to this issue now?
I might have a solution in mind

[2017-10-20 08:12] kosciak9 commented on #155
I will submit it in the minute. :)

[2017-10-20 08:32] nidhihooda commented on #117
@BlakeGuilloud / @andreasgruenh Could you please provide a reference to a similar issue which has been fixed as per the acceptance criteria?

[2017-10-20 13:19] cjhaviland opened #216 "Fix vowelCount method"
There is currently a method called `vowelCount` that lives in `/lib/vowelCount.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test vowelCount` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console

[2017-10-20 13:39] BlakeGuilloud commented on #172
@z2oh !! Absolutely not on the limit!! Push up as many as you would like. And yes, I am very open to adding more difficult issues into the repo. I started this on Monday with just "Sum, difference, quotient, and product" just to see where the community took it. So go all out with whatever you think would be a fun challenge! Thanks for contributing!

[2017-10-20 14:19] ktilcu commented on #117
@nidhihooda Here is the most recently accepted Pull Request: https://github.com/BlakeGuilloud/ganon/pull/207/files

[2017-10-20 14:24] WilliamStephens commented on #216
Hey is it okay if I take this one?

[2017-10-20 14:26] BlakeGuilloud commented on #216
It's yours @WilliamStephens ! Thanks for your contribution.

[2017-10-20 15:21] BlakeGuilloud commented on #216
oh no @WilliamStephens !! Sorry to tell you but someone got to it before you, maybe @ruskakimov will make a new Issue describing the Skeleton method he introduced for you ;)

[2017-10-20 15:21] #216 closed

[2017-10-20 15:32] ktilcu opened #220 "Implement `perfectNumber`"
There is currently a method called `perfectNumber` that lives in `/lib/perfectNumber.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test perfectNumber` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to th

[2017-10-20 15:33] ktilcu commented on #216
@WilliamStephens sorry about that. I missed that you had claimed this one. We did make #220 if you wanna tackle that though!

[2017-10-20 15:35] MahendraTennakoon commented on #220
@BlakeGuilloud I would like to work on this.

[2017-10-20 15:36] WilliamStephens commented on #216
Yea it's no big deal!

[2017-10-20 15:47] MahendraTennakoon commented on #216
@WilliamStephens I started working on #220 without coming here first. You can take it if you want.

[2017-10-20 15:48] WilliamStephens commented on #216
@MahendraTennakoon you can go ahead

[2017-10-20 15:55] stillNovice opened #221 "Fix areaOfCircle function"
There is currently a method called `areaOfCircle` that lives in `/lib/areaOfCircle.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test areaOfCircle` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the c

[2017-10-20 15:58] buoyantair commented on #221
I'll take this!

[2017-10-20 16:02] BlakeGuilloud commented on #221
@buoyantair I got an email saying you were interested in this but your comment isn't showing up for me in the thread.

[2017-10-20 16:09] BlakeGuilloud commented on #201
@buoyantair ! Let's give @dna113p an opportunity to resolve the requested changes in his pull request.

This goes for all methods that currently exist in the project, but feel free to push up improvements, more documentation, or a more inclusive test suite after his pull request is merged in! Issue #69 requests this :)

[2017-10-20 16:10] buoyantair commented on #221
@BlakeGuilloud Yeah I will do this.

[2017-10-20 16:11] ktilcu commented on #216
@WilliamStephens I will make few more issues here soon. We really want you to hit the hacktoberfest 4 PRs and contribute to some open source projects so hang around and we'll get you a good one!

[2017-10-20 16:12] ktilcu commented on #201
@buoyantair you may like tackling the composition functions. I know `flow` is taken but `compose` and `pipe` are probably still available.

[2017-10-20 16:12] BlakeGuilloud commented on #221
Cool deal @buoyantair ! I've applied the 'in progress' label. Also- you snuck one by me in your last PR, but if you could, please try to include at least one new Skeleton Method for someone else to work on. This helps the project continue to grow! Thanks for your contributions!!

[2017-10-20 16:14] BlakeGuilloud commented on #173
Closed! Thanks @hariaakash !!

[2017-10-20 16:14] #173 closed

[2017-10-20 16:15] BlakeGuilloud commented on #187
Sorry @kyliedale ! We were trying to clean up some pull requests and someone snuck in an arraySum function. Feel free to look over their implementation and provide improvements or be on the lookout for a new method to work on! Thanks!!

[2017-10-20 16:15] #187 closed

[2017-10-20 16:15] buoyantair commented on #221
What do you mean "snuck one by you?"

[2017-10-20 16:16] BlakeGuilloud commented on #221
Hah sorry I didn't mean to sound rude! We just ask that for each solution a contributor provides, that they also create a new method for someone else to work on.

[2017-10-20 16:17] BlakeGuilloud commented on #221
Oh whoops.. I see that may have been my fault per the convo in #209 ! I should have caught that. My bad!!

[2017-10-20 16:19] buoyantair commented on #221
@BlakeGuilloud I see! I should have read the Contributing Guides 😅 😆 Let me add in some new methods I'd like to see implemented in this project!

[2017-10-20 16:51] buoyantair commented on #201
@ktilcu @BlakeGuilloud Instead I'll add a few functions :P

[2017-10-20 17:00] hariaakash opened #223 "Implement `log` - Natural logarithm"
There is currently a method called `log` that lives in `/lib/log.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test log` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

### Please include

[2017-10-20 17:03] stillNovice commented on #223
I am taking this one

[2017-10-20 17:04] BlakeGuilloud commented on #223
Cool deal @stillNovice ! Marking as 'in progress' - you know you drill ⚡️

[2017-10-20 17:22] stillNovice opened #226 "Fix convertCelsiusToFahrenheit function"
There is currently a method called `convertCelciusToFahrenheit` that lives in `/lib/convertCelciusToFahrenheit.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertCelciusToFahrenheit` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yar

[2017-10-20 17:22] #195 closed

[2017-10-20 17:24] BlakeGuilloud commented on #223
Donezo

[2017-10-20 17:24] #223 closed

[2017-10-20 17:27] #185 closed

[2017-10-20 17:33] damjanh commented on #226
I would like to work on this.

[2017-10-20 17:33] hvarday opened #228 "Fix flattenNestedObject method"
There is currently a method called `flattenNestedObject` that lives in `/lib/flattenNestedObject.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any e

[2017-10-20 17:34] hvarday commented on #195
I am happy to help, and I have create a new issue wrt to the skeleton I created.

[2017-10-20 17:53] ktilcu commented on #226
@damjanh you have 24 hours before we open it back up. Good luck and Happy Hacktobering!

[2017-10-20 18:42] stillNovice commented on #167
@BlakeGuilloud did you get a chance to look into it?

[2017-10-20 18:44] BlakeGuilloud commented on #167
Hey sorry for the delayed response. Yes- you are most likely correct in your assumption that it should be .toEqual()! Nice catch. For future reference, don't be afraid to adjust tests for skeleton methods if you feel they are incorrect. Thanks @stillNovice !

[2017-10-20 18:47] stillNovice commented on #167
okay. Thanks for confirming @BlakeGuilloud .

[2017-10-20 18:49] ktilcu commented on #146
@luisvillalba still working on this?

[2017-10-20 19:07] ktilcu commented on #226
👍

[2017-10-20 19:07] #226 closed

[2017-10-20 19:10] marcinwysocki commented on #228
@BlakeGuilloud I would like to work on this!

[2017-10-20 19:21] damjanh opened #234 "Fix convertCelsiusToKelvin method"
There is currently a method called `convertCelsiusToKelvin` that lives in `/lib/convertCelsiusToKelvin.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertCelsiusToKelvin` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does

[2017-10-20 19:23] BlakeGuilloud commented on #228
Awesome @marcinwysocki ! I applied to 'in progress' label. This buys you 24 hours. If you need more time, feel free to reach out and we can extend it! Thanks for your contribution!!

[2017-10-20 19:30] ktilcu commented on #167
Whoops I made that one. Sorry :(

[2017-10-20 19:31] itsresool commented on #234
@BlakeGuilloud I would like to work on this

[2017-10-20 19:32] ktilcu commented on #234
You got it! This gives you 24 hours to get in a PR.

[2017-10-20 19:33] kuldeepkeshwar commented on #234
@itsresool @damjanh @ktilcu let me know if i can start

[2017-10-20 19:50] #167 closed

[2017-10-20 19:51] BlakeGuilloud commented on #234
Hey @kuldeepkeshwar ! Thanks for your interest! We try to give all of our contributors a 24 hour window to complete an issue. If this issue becomes available again, I'll @ mention you! Keep an eye out for new Issues or old ones that do not have an 'in progress' label applied to them.

Thanks!!

[2017-10-20 20:27] #234 closed

[2017-10-20 20:33] itsresool opened #239 "Fix convertMileToKilometer function"
There is currently a method called `convertMileToKilometer` that lives in `/lib/convertMileToKilometer.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertMileToKilometer` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does

[2017-10-20 20:48] JEpifanio90 commented on #239
@BlakeGuilloud I would like to work on this!

[2017-10-20 20:50] BlakeGuilloud commented on #239
Awesome @JEpifanio90 ! I'll mark it as 'in progress'. This buys you 24 hours. If you need additional time, feel free to reach out! Thanks for your contribution!!

[2017-10-20 20:55] BlakeGuilloud opened #240 "Fix getDuplicates method."
There is currently a method called `getDuplicates` that lives in `/lib/getDuplicates.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test getDuplicates` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to th

[2017-10-20 20:57] cideM commented on #240
Sure why not

[2017-10-20 20:58] BlakeGuilloud opened #241 "Fix arrayMin"
There is currently a method called `arrayMin` that lives in `/lib/arrayMin.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test arrayMin` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. O

[2017-10-20 20:59] BlakeGuilloud commented on #240
All you @cideM ! I'll apply the 'in progress' label. This buys you 24 hours- let me know if you need more time!

[2017-10-20 21:06] BlakeGuilloud commented on #181
Hey @Akin909 !! Sorry to do this to you, but 24 hours has passed, and we are going to allow another contributor to resolve this. If you see any available issues you are interested in, please let me know!! Thanks

[2017-10-20 21:06] #181 closed

[2017-10-20 21:06] BlakeGuilloud opened #242 "Fix deleteProp"
There is currently a method called `deleteProp` that lives in `/lib/deleteProp.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test deleteProp` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console

[2017-10-20 21:09] BlakeGuilloud commented on #166
Hey @pbateman828 ! Are you still interested in this issue?

[2017-10-20 21:21] NamanArora commented on #241
I would like to work upon this!

[2017-10-20 21:24] BlakeGuilloud commented on #241
Great @NamanArora ! It's yours. I'll apply the 'in progress' label. That buys you 24 hours. Feel free to reach out if you need more time. Thanks!

[2017-10-20 21:26] pbateman828 commented on #166
I'm cutting it real close, my bad @BlakeGuilloud

[2017-10-20 21:36] pbateman828 opened #246 "fix convertFahrenheitToCelsius"
There is currently a method called `convertFahrenheitToCelsius` that lives in `/lib/convertFahrenheitToCelsius.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertFahrenheitToCelsius` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yar

[2017-10-20 21:46] JEpifanio90 commented on #239
Annnd it's done!

[2017-10-20 21:50] katyapotapov commented on #246
@BlakeGuilloud I'd like to work on this!

[2017-10-20 21:52] BlakeGuilloud commented on #246
It's yours @katyapotapov ! I'll apply the 'in progress' label. You've got 24 hours! Good luck!!

[2017-10-20 21:53] BlakeGuilloud commented on #239
hey @JEpifanio90 ! I requested a few minor updates to your PR. Awesome job though!

[2017-10-20 21:58] JEpifanio90 commented on #239
Sure thing! Thanks 👍

[2017-10-20 22:02] BlakeGuilloud opened #250 "Refactor flattenNestedObject method."
There is currently a method called `flattenNestedObject ` that lives in `/lib/flattenNestedObject.js`.

While this method is very well written, it creates several methods that could be broken out utilized elsewhere in the project! In a similar manner that the `lib/flattenNestedObject.js` file requires 'flattenArray', it should also:

1. require("hasNestedProperties")
2. require("getKeyValuePairs")

[2017-10-20 22:03] ShoulderKarlsson commented on #242
I would like to work on this one if possible.

[2017-10-20 22:06] ktilcu commented on #242
You got it @shoulderkarlsson

[2017-10-20 22:17] ShoulderKarlsson commented on #242
Question regarding method skeleton. Should I come up with a method to write skeleton code for or should this be taken from the issues?

[2017-10-20 22:21] BlakeGuilloud commented on #242
You come up with a method and write tests for it, but leave the business logic for someone else. It should be something that does not exist in the project yet, nor in the issues. After your PR goes through, we are encouraging our contributors to create a new Issue for their skeleton method so someone else can work on it.

[2017-10-20 22:22] BlakeGuilloud opened #251 "Fix curry method."
There is currently a method called `curry` that lives in `/lib/curry.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test curry` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Optional:

[2017-10-20 22:36] BlakeGuilloud commented on #239
Great work :)

[2017-10-20 22:36] #239 closed

[2017-10-20 22:36] BlakeGuilloud commented on #228
Nice work man!

[2017-10-20 22:36] #228 closed

[2017-10-20 22:37] BlakeGuilloud commented on #166
Great work @pbateman828 !! Don't worry about it haha

[2017-10-20 22:37] #166 closed

[2017-10-20 22:42] indirap commented on #250
Hey, I'd love to take this on!

[2017-10-20 22:45] BlakeGuilloud commented on #250
Cool @indirap !! Go for it. I'll apply the 'in progress' label. This buys you 24 hours. If you need more time, feel free to reach out and I'll happily oblige! Good luck and thanks for your contribution!!

[2017-10-20 22:58] BlakeGuilloud commented on #241
Boom. Nice work

[2017-10-20 22:58] #241 closed

[2017-10-20 23:00] NamanArora opened #253 "Fix arrayMax function"
There is currently a method called `arrayMax` that lives in `/lib/arrayMax.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test arrayMax` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. O

[2017-10-20 23:02] BlakeGuilloud commented on #240
Thanks!

[2017-10-20 23:02] #240 closed

[2017-10-20 23:02] N0V0S commented on #253
I would like to work on this one :)

[2017-10-20 23:12] BlakeGuilloud commented on #253
Awesome @N0V0S ! Go for it! I'll apply the 'in progress' label. You've got 24 hours. Good luck!!

[2017-10-20 23:30] BlakeGuilloud commented on #242
Noice!

[2017-10-20 23:30] #242 closed

[2017-10-20 23:42] indirap commented on #250
All done now! 🙂

[2017-10-20 23:51] micahduron opened #257 "Fix rotateArray function"
There is currently a method called `rotateArray` that lives in `/lib/rotateArray.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test rotateArray` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the cons

[2017-10-21 00:00] BlakeGuilloud commented on #250
Boom. Freakin' awesome job! Thanks

[2017-10-21 00:00] #250 closed

[2017-10-21 00:28] domosapien commented on #257
Sorry for doing this slightly out of order, but
@BlakeGuilloud I would like to work on this :)

[2017-10-21 00:28] domosapien commented on #251
Sorry for doing this slightly out of order, but
@BlakeGuilloud I would like to work on this :)

[2017-10-21 00:31] ktilcu commented on #251
@domosapien you got it. I''l review the PR now

[2017-10-21 00:36] ktilcu commented on #257
you got it! I'll review.

[2017-10-21 00:42] #180 closed

[2017-10-21 00:51] #253 closed

[2017-10-21 00:56] BlakeGuilloud commented on #257
Hey @domosapien ! Looks like your pull requests are missing Skeleton Methods for other people to work on. If you don't mind following the CONTRIBUTING.md, we require all pull requests to contain a problem for someone else to work on. This ensures the project continues to grow!  Thanks for your contributions- looking forward to getting your work in!

[2017-10-21 01:00] #201 closed

[2017-10-21 01:03] N0V0S opened #261 "Fix asciiToString method"
There is currently a method called `asciiToString` that lives in `/lib/asciiToString.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test asciiToString` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to th

[2017-10-21 01:08] dna113p opened #263 "Fix uniqueCount function"
There is currently a method called `uniqueCount` that lives in `/lib/uniqueCount.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test uniqueCount` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the cons

[2017-10-21 01:11] amoradi commented on #263
@dna113p I'll give it a shot, 👨‍💻 .

[2017-10-21 01:18] amoradi commented on #263
@BlakeGuilloud I would like to work on this

[2017-10-21 01:19] BlakeGuilloud commented on #263
Awesome @amoradi !! I will apply the 'in progress' label. That buys you 24 hours. Good luck!

[2017-10-21 01:30] domosapien commented on #261
@BlakeGuilloud I would like to work on this

[2017-10-21 01:33] BlakeGuilloud commented on #261
Hey @domosapien. Do you mind resolving the requested changes in your existing PRs first? Thanks!

[2017-10-21 01:37] domosapien commented on #257
Ok, I misunderstood what that meant. I'll add them now.

[2017-10-21 01:49] pthomas931 commented on #261
@BlakeGuilloud Perhaps I can attempt in the mean while?

[2017-10-21 01:51] sherlyc commented on #195
Argh :(

[2017-10-21 01:52] BlakeGuilloud commented on #257
Nice work! Thanks

[2017-10-21 01:52] #257 closed

[2017-10-21 01:53] domosapien opened #264 "Fix countPrimes function"
There is currently a method called `countPrimes` that lives in `/lib/countPrimes.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test countPrimes` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the cons

[2017-10-21 01:54] BlakeGuilloud commented on #261
Hey @pthomas931 ! I'm going to let @domosapien take this one, but if you want to look into: https://github.com/BlakeGuilloud/ganon/issues/264 I have already applied the 'in progress' label for you. If you feel up to it, just let me know and i'll leave it applied! Thanks!!

[2017-10-21 01:58] domosapien opened #265 "Fix asciiCompression function"
There is currently a method called `asciiCompression` that lives in `/lib/asciiCompression.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test asciiCompression` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any err

[2017-10-21 02:00] pthomas931 commented on #264
I got this.

[2017-10-21 02:00] BlakeGuilloud commented on #195
Hey @sherlyc !! So sorry I merged this in! I've been trying my best to keep up with who claims what, but it can be overwhelming sometimes. The net issue that comes up in the project, I will @ mention you and apply the in progress label. I will make sure it doesn't get jumped! Thanks!!

[2017-10-21 02:04] BlakeGuilloud commented on #265
@sherlyc Are you interested in this method? I'm going to apply the 'in progress' label for now. If you will please @ mention me in this thread, I will leave it applied for 24 hours, otherwise I'll put it up for grabs. Thanks !! Sorry about the other issue

[2017-10-21 02:08] BlakeGuilloud commented on #264
Sweet :)

[2017-10-21 02:10] BlakeGuilloud commented on #220
Boom. Done.

[2017-10-21 02:10] #220 closed

[2017-10-21 02:11] BlakeGuilloud opened #267 "Fix perfectSquare function"
There is currently a method called `perfectSquare ` that lives in `/lib/perfectSquare.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test perfectSquare ` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to

[2017-10-21 02:12] BlakeGuilloud commented on #251
Donezo

[2017-10-21 02:12] #251 closed

[2017-10-21 02:30] MahendraTennakoon commented on #5
@BlakeGuilloud There are some skeleton methods that do not have GitHub issues. It would be great if we created issues for those so people could start working on them.

[2017-10-21 02:37] BlakeGuilloud commented on #5
Hey @MahendraTennakoon !! If you find any that do not have issues, feel free to open one! I try to keep up with them as best I can, but don't feel the need to wait on me!! Thanks for your contributions.

[2017-10-21 02:42] sherlyc commented on #265
@BlakeGuilloud
ok i will work on this, thanks man!

[2017-10-21 02:45] MahendraTennakoon opened #269 "Fix convertCelciusToFahrenheit function"
There is currently a method called convertCelciusToFahrenheit that lives in `/lib/convertCelciusToFahrenheit.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not

[2017-10-21 02:46] MahendraTennakoon opened #270 "Fix countSetBits function"
There is currently a method called `countSetBits ` that lives in `/lib/countSetBits .js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the

[2017-10-21 02:50] BlakeGuilloud commented on #270
Hey @MahendraTennakoon this method has already been resolved. Perhaps you have an older version of the project? Make sure to pull from the upstream master.

[2017-10-21 02:50] #270 closed

[2017-10-21 02:50] BlakeGuilloud commented on #270
The PR that resolved this: https://github.com/BlakeGuilloud/ganon/pull/204

[2017-10-21 02:52] BlakeGuilloud commented on #269
Hey @MahendraTennakoon . This issue was resolved in: https://github.com/BlakeGuilloud/ganon/pull/233. Make sure you have the latest master pulled down.

[2017-10-21 02:53] BlakeGuilloud commented on #265
NP- it's yours. You've got 24 hours! Let me know if you need more time and I will happily oblige.

[2017-10-21 03:00] #261 closed

[2017-10-21 03:18] hariaakash commented on #223
@BlakeGuilloud can you change the label?

[2017-10-21 03:20] BlakeGuilloud opened #271 "Figure out a way to display all of our methods"
I think it would be really cool to have some sort of centralized resource where we could see all of the methods that have been created in this project. Kind of like an API doc.

It would be really cool to do this programmatically so we don't have to maintain it.

I figure we could write a script that reads the files of our `lib` folder, similar to the way that `lib/index.js` does currently, but it

[2017-10-21 03:31] amoradi commented on #267
@BlakeGuilloud I'll get on this 👍

[2017-10-21 03:33] luisvillalba commented on #271
Good point, IMHO I think it would be ideal to handle everything from jsdocs that way we could use something like [this](https://www.npmjs.com/package/@nmarks/jsdoc-parse) to extract the documentation and put it in a template. This means we would need to refactor some functions to have proper jsdocs annotation.

[2017-10-21 03:43] BlakeGuilloud commented on #267
Hey thanks @amoradi ! i'll mark it as 'in progress'. I mentioned a few tweaks to the PR you have open btw: https://github.com/BlakeGuilloud/ganon/pull/272

Thanks!!

[2017-10-21 03:55] BlakeGuilloud commented on #271
Nice @luisvillalba ! I think you're onto something here. That is a really cool package. I'm gonna leave this one here too: https://github.com/jsdoc2md/jsdoc-to-markdown/

It looks like it utilizes the one you mentioned.

[2017-10-21 03:56] BlakeGuilloud commented on #271
And yeah- a pretty major refactor would have to happen, but it could happen in chunks.

[2017-10-21 04:14] #263 closed

[2017-10-21 04:15] #269 closed

[2017-10-21 04:18] amoradi opened #274 "Fix arrayFill function"
There is currently a method called `arrayFill` that lives in `/lib/arrayFill.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test arrayFill` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5

[2017-10-21 05:03] Galleria commented on #274
I'll do this issue :)

[2017-10-21 05:04] BlakeGuilloud commented on #274
Awesome @Galleria ! It is yours. I will apply the 'in progress' label to it- that buys you 24 hours! If you feel like you need more time, feel free to reach out and I will happily oblige. Please make sure to include a "Skeleton Method" when you make a pull request to resolve this issue. Thanks and good luck!!

[2017-10-21 05:15] buoyantair commented on #221
@BlakeGuilloud @ktilcu I have a weird situation here.
I get this weird error when I run "yarn test areaOfCircle"

[code]

This is the source

areaOfCircle.js
[code]

areaOfCircle.test.js
[code]

[2017-10-21 05:30] BlakeGuilloud commented on #221
Hey @buoyantair ! I copy and pasted exactly what you have and ran `yarn test areaOfCircle` and received the following output:

![image](https://user-images.githubusercontent.com/14660993/31848369-4a8efede-b5ff-11e7-9eb2-5387d021fcd9.png)

Can you try running a different test and confirm that you issue is isolated to this method?

[2017-10-21 05:33] buoyantair commented on #221
@BlakeGuilloud Sure! 1 sec

[2017-10-21 05:34] buoyantair commented on #221
@BlakeGuilloud Yes I'm getting the same kind of error with different test files... :/

[2017-10-21 05:35] buoyantair commented on #221
@BlakeGuilloud Wait, it passes with some other files. Only a couple of files are effected.

[2017-10-21 05:37] #267 closed

[2017-10-21 05:40] amoradi opened #278 "Fix isInteger function"
There is currently a method called `isInteger` that lives in `/lib/isInteger.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test isInteger` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5

[2017-10-21 05:57] BlakeGuilloud commented on #221
Hmmm. I know this sounds silly, but try deleting your `node_modules` and running a fresh `yarn` to install all of our dependencies. It **shouldn't** affect anything, but worth a shot :)

I'd love to help you resolve this, but I cannot reproduce this error locally, nor in my Travis CI config. It sounds like it is isolated to your environment. The `and` method is passing fine for me as well.

[2017-10-21 05:57] BlakeGuilloud commented on #221
@buoyantair (sorry forgot to tag you)

[2017-10-21 05:58] BlakeGuilloud commented on #221
Out of curiosity- what version of NodeJS are you running?

[2017-10-21 06:05] BlakeGuilloud opened #279 "Beef up documentation for our Sum and Difference methods"
There are currently two methods: `sum` and `difference` that are lacking in proper documentation. We are trying to move towards following the standard laid out in [jsdoc](http://usejsdoc.org/); however, these methods (along with many others) are lacking in this convention. For a good example of what documentation should look like, take a look at `lib/startsWith.js` or `lib/zip.js`.

Feel free to b

[2017-10-21 06:08] amoradi commented on #279
@BlakeGuilloud I'll give it a shot.

Any word on `props` we want from jsdoc`?

[2017-10-21 06:13] BlakeGuilloud commented on #279
Hey thanks man! I know it's not the most exciting of tasks, so feel free to add some new methods in there if you would like! Thanks

[2017-10-21 06:26] vikene commented on #278
@BlakeGuilloud I would like to work on this 👍

[2017-10-21 06:37] BlakeGuilloud commented on #278
Cool deal @vikene ! I'll apply the 'in progress' label. This buys you 24 hours! I requested a change in the PR you opened. Thanks for your contribution!

[2017-10-21 07:25] babhishek21 opened #283 "Commutative & Associative functions should be left variadic"
Case in point: there is currently a method called `sum` that lives in `/lib/sum.js`.

Summation is commutative and associative. Thus the result of this operation on two operands can be extended to multiple operands. Hence, the `sum` method should accept variadic arguments.

Same goes for `product`, `and` and `xor` methods.

Let's put this up for discussion. I'd like to work on this.

### Acceptanc

[2017-10-21 08:40] buoyantair commented on #221
@BlakeGuilloud 8.7...
npm - 5.4.2

[2017-10-21 08:49] buoyantair commented on #221
@BlakeGuilloud You can give me your c9.io username and I'll invite you to my workspace.

[2017-10-21 09:08] cideM opened #285 "Fix intersection function"
There is currently a method called `intersection` that lives in `/lib/intersection.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test intersection` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the c

[2017-10-21 10:07] airondumael commented on #285
can I take this?

[2017-10-21 12:43] mcmilo commented on #283
@BlakeGuilloud I would like to work on this

[2017-10-21 13:03] ktilcu commented on #283
I feel like they would work best by passing in a list. @BlakeGuilloud @andreasgruenh What do you guys think?

[2017-10-21 13:11] ktilcu commented on #285
@airondumael all yours! I reviewed the code to. We just need a couple small additions.

[2017-10-21 13:42] #246 closed

[2017-10-21 13:57] amoradi commented on #283
@ktilcu It looks like lodash [does just that](https://lodash.com/docs/4.17.4#sum) .

[2017-10-21 14:02] ktilcu commented on #283
@amoradi Please implement this if you'd like. Thanks for bringing it up! You can take one or more of those methods. If you leave some then I think we have another interested party. I'll mark this as in progress for now.

[2017-10-21 15:09] BlakeGuilloud commented on #283
I agree. Thanks @babhishek21 !! Take it and run ⚡️

[2017-10-21 15:30] #264 closed

[2017-10-21 15:46] #279 closed

[2017-10-21 16:00] amoradi opened #291 "Fix convertHexToRgb function"
There is currently a method called `convertHexToRgb` that lives in `/lib/convertHexToRgb.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertHexToRgb` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors

[2017-10-21 16:00] amoradi commented on #291
@BlakeGuilloud I have a PR for this guy 😃

[2017-10-21 16:00] katyapotapov opened #292 "Fix convertBinaryToString function"
There is currently a method called `convertBinaryToString` that lives in `/lib/convertBinaryToString.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertBinaryToString` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does no

[2017-10-21 16:12] #291 closed

[2017-10-21 16:15] frankrobert commented on #292
@BlakeGuilloud I'd like to try this one out! 💯

[2017-10-21 16:18] BlakeGuilloud commented on #292
Cool deal @frankrobert ! You've got 24 hours- good luck!

[2017-10-21 16:20] amoradi opened #294 "Fix geometricMean function"
There is currently a method called `geometricMean` that lives in `/lib/geometricMean.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test geometricMean` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to th

[2017-10-21 16:20] amoradi commented on #294
@BlakeGuilloud I'd love to take this, and I'll re-up with a `convertRgbToHex` fn.

[2017-10-21 16:29] BlakeGuilloud commented on #294
Sweet!

[2017-10-21 17:16] pthomas931 opened #296 "Fix fizzBuzz function"
There is currently a method called `fizzBuzz()` that lives in `/lib/fizzBuzz.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test fizzBuzz` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5.

[2017-10-21 17:33] #292 closed

[2017-10-21 17:34] frankrobert opened #297 "Fix Uniq function"
There is currently a method called `uniq` that lives in `/lib/uniq.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test uniq` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Optional: wri

[2017-10-21 17:44] babhishek21 commented on #283
Passing in a list might be not be the best idea. We don't have documentation of the methods yet, so it might get confusing. I feel that a variadic method would come more easily:

[code]

Additionally for a list, that method would be more aptly named `sumOfArray`. I already see a few "array" oriented methods implemented. Maybe mixing these isn't a good idea.

It is also entirely possible that `sum(

[2017-10-21 17:54] Ampretuzo commented on #297
I'll do it

[2017-10-21 18:00] BlakeGuilloud commented on #297
Thanks @Ampretuzo !

[2017-10-21 18:04] #294 closed

[2017-10-21 18:08] amoradi opened #299 "Fix convertRgbToHex function"
There is currently a method called `convertRgbToHex` that lives in `/lib/convertRgbToHex.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertRgbToHex` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors

[2017-10-21 18:24] babhishek21 commented on #283
@ktilcu I'm sorry I don't understand. Perhaps an example? 😅

[2017-10-21 18:34] nicolaslwilson commented on #296
I'll tackle this!

[2017-10-21 18:48] Skuhoo commented on #299
I'll take this

[2017-10-21 18:52] BlakeGuilloud commented on #299
Thanks!

[2017-10-21 18:52] BlakeGuilloud commented on #296
Cool deal- thanks @nicolaslwilson

[2017-10-21 19:13] airondumael commented on #283
@babhishek21
I'll try to give an example `const add5 = curry(sum)(5)` won't work if it's variadic because [curry](https://github.com/BlakeGuilloud/ganon/blob/master/lib/curry.js#L17) by checking the functions length which is how many arguments it have when we define it.
if we define sum like this `const sum = (...args) => {}` then `sum.length === 0`.

[2017-10-21 19:56] LSBOSS opened #301 "Fix method convertLiterToGallon"
There is currently a method called `convertLiterToGallon` that lives in `/lib/convertLiterToGallon.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertLiterToGallon` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not p

[2017-10-21 19:56] akram-rameez opened #302 "Fix isPythagoreanTriple function"
There is currently a method called `isPythagoreanTriple` that lives in `/lib/isPythagoreanTriple.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
- [ ] Running `yarn test isPythagoreanTriple` results in tests passing.
- [ ] You have written a skeleton method for someone else to work on.
- [ ] You have written tests surrounding your skeleton method.
- [ ] Running `yarn lint` d

[2017-10-21 19:56] akram-rameez commented on #302
I'd like to have a run at it

[2017-10-21 19:56] LSBOSS opened #303 "Fix method convertGallonToLiter"
There is currently a method called `convertGallonToLiter` that lives in `/lib/convertGallonToLiter.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertGallonToLiter` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not p

[2017-10-21 19:57] #302 closed

[2017-10-21 19:57] akram-rameez commented on #302
ignore this, couldnt find the issue back when I started

[2017-10-21 20:04] akram-rameez opened #304 "Use CI for testing and validating PRs"
I'd like to set up a CI environment for the repo, to automatically test for eslint, as well as test case running for the attempted problem

[2017-10-21 20:14] BlakeGuilloud commented on #304
Hey @akram-rameez - we opted on using Travis CI. Do you think you could work within the confines of that? It already runs our eslint; however, I have been unable to figure out a way to test the test case for the attempted methods. I would be open to you working on this though!

[2017-10-21 20:16] BlakeGuilloud commented on #304
Also- it seems like you are already aware of this, but the whole objective behind this repository is to have "failing tests". As with each new Pull Request, will come tests that should be failing on the new Skeleton Method.

[2017-10-21 20:16] travisbartholome commented on #303
I'll work on this.

[2017-10-21 20:17] BlakeGuilloud commented on #303
Cool @travisbartholome ! Just be sure to include a new skeleton method for someone else to work on at the time of creating your pull request. Thanks!

[2017-10-21 20:19] guilhermemarconi commented on #299
I can do that.

[2017-10-21 20:21] BlakeGuilloud commented on #299
Hey @guilhermemarconi - Skuhoo has already opened up a PR with this solution. Keep an eye out for issues labeled 'help wanted'. Thanks !!

[2017-10-21 20:25] #299 closed

[2017-10-21 20:29] Skuhoo opened #306 "Fix toOrdinalNumber function"
There is currently a method called `toOrdinalNumber` that lives in `/lib/toOrdinalNumber.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test toOrdinalNumber` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors

[2017-10-21 20:41] BlakeGuilloud opened #307 "Fix exists method"
There is currently a method called `exists ` that lives in `/lib/exists.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test exists` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Option

[2017-10-21 20:51] babhishek21 commented on #283
@ktilcu I see your point. But we can always use [partials](https://stackoverflow.com/questions/42164000/how-to-reconcile-javascript-with-currying-and-function-composition/42164779#42164779).

[2017-10-21 21:03] damjanh commented on #301
@BlakeGuilloud I would like to work on this.

[2017-10-21 21:06] BlakeGuilloud opened #308 "perfectNumber test takes 53 seconds to run."
There is a block of code in our perfectNumber test that looks like this:
[code]

Because the number under test is so large, it takes up to 53 seconds to run this block by itself. I'm hoping someone could take a look at the `perfectNumber.js` code and see if there is a better implementation we could be using to beef up performance. If this is the best possible solution, then maybe we should remove

[2017-10-21 21:07] BlakeGuilloud commented on #301
Go for it @damjanh . You know the drill ⚡️

[2017-10-21 21:15] yoavmmn commented on #297
@BlakeGuilloud should I open a PR if @Ampretuzo is working on it?
I have fixed the broken tests and wrote the code for `uniq` function.

[2017-10-21 21:18] Ampretuzo commented on #297
@yoavmmn its ok open PR. I'll do another one.

[2017-10-21 21:18] yoavmmn commented on #297
@Ampretuzo Thanks 👍

[2017-10-21 21:18] BlakeGuilloud commented on #297
Sounds like it @yoavmmn ! Just please make sure to include a new skeleton method in your pull request.

[2017-10-21 21:30] #303 closed

[2017-10-21 21:31] akram-rameez commented on #304
I was thinking along the lines of checking the diff of the current branch and master. from the list of files changed, we get the test file, and run that.

[2017-10-21 21:31] BlakeGuilloud commented on #117
I am going to open this one back up for someone else to work on since it's been over 24 hours.

[2017-10-21 21:32] BlakeGuilloud commented on #146
Hey @luisvillalba ! I know we were chatting in a different issue earlier today. Are you still interested in this? If not, I want to open it up for someone else to work on.

[2017-10-21 21:43] travisbartholome opened #310 "Fix countWhitespace method"
There is currently a method called `countWhitespace` that lives in `/lib/countWhitespace.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test countWhitespace` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors

[2017-10-21 22:11] akram-rameez commented on #310
I'd like to try this. 👍

[2017-10-21 22:12] #172 closed

[2017-10-21 22:13] ktilcu commented on #310
You have 24 hours.  Happy Hacktoberfest!

[2017-10-21 22:18] #297 closed

[2017-10-21 22:27] BlakeGuilloud commented on #304
Yeah that sounds awesome. I don't have much experience with CI stuff, but let me know if you have any questions.

[2017-10-21 22:37] z2oh opened #314 "Fix matMul method"
There is currently a method called `matMul` that lives in `/lib/matMul.js`.
It is incomplete and needs to be fixed!

This one is a bit harder than some of the others on this repo!

### Acceptance Criteria:
1. Running `yarn test matMul` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running

[2017-10-21 22:39] z2oh opened #315 "Fix rgb2hsv method"
There is currently a method called `rgb2hsv` that lives in `/lib/rgb2hsv.js`.
It is incomplete and needs to be fixed!

For this method, you will need to round decimal values to 3 digits. Check out the `toFixed` method to see how to do this. This issue may be a bit harder than some of the others on this repo!

### Acceptance Criteria:
1. Running `yarn test rgb2hsv` results in tests passing.
2. You

[2017-10-21 22:41] yoavmmn opened #316 "fix arrayLowercase function"
There is currently a method called `arrayLowercase` that lives in `/lib/arrayLowercase.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test arrayLowercase` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to

[2017-10-21 22:51] akram-rameez commented on #310
Same to you mate :)

[2017-10-21 23:44] BlakeGuilloud opened #319 "Fix toFixed method"
There is currently a method called `toFixed` that lives in `/lib/toFixed.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test toFixed` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Opti

[2017-10-21 23:56] #301 closed

[2017-10-22 00:25] developerDemetri commented on #319
I'll take this one 👍

[2017-10-22 00:29] BlakeGuilloud commented on #319
You got it @developerDemetri ! Just be sure to include a skeleton method for someone else when you create the PR. Thanks!!

[2017-10-22 00:29] binkpitch commented on #316
@yoavmmn @BlakeGuilloud Can I work on this?

[2017-10-22 00:30] BlakeGuilloud commented on #316
Yessir. Just be sure to come up w/ a skeleton method for someone else to work on when you submit the PR. Thanks!!

[2017-10-22 00:36] Blasphemouse commented on #307
@BlakeGuilloud I'll take this one. Will be sure to include skeleton + tests. :)

[2017-10-22 00:38] xxDOOMbox commented on #315
ill take this.

[2017-10-22 00:40] Kansattica commented on #308
Hey, I just submitted a request for this. Hope it helped!

[2017-10-22 00:42] #308 closed

[2017-10-22 00:42] BlakeGuilloud commented on #308
Thanks!!

[2017-10-22 00:42] BlakeGuilloud commented on #315
Cool deal @xxDOOMbox ! Thanks!!

[2017-10-22 00:44] BlakeGuilloud commented on #307
Thanks @Blasphemouse !!

[2017-10-22 00:44] ripzery commented on #314
@BlakeGuilloud I would like to work on this

[2017-10-22 00:46] #310 closed

[2017-10-22 00:46] BlakeGuilloud commented on #314
You got it @ripzery ! Just be sure to include a skeleton method + test with your PR.  Thanks!

[2017-10-22 00:51] BlakeGuilloud commented on #221
Hey @buoyantair ! Did you get your issue resolved? I'm curious what you found out.

[2017-10-22 01:10] #117 closed

[2017-10-22 01:16] #319 closed

[2017-10-22 01:18] developerDemetri opened #324 "Fix anonymize method"
There is currently a method called `anonymize` that lives in `/lib/anonymize.js`.
It is incomplete and needs to be fixed!

Returns the users name anonymized such that only the first letter of each name is exposed
 * The remaining characters are each replaced with '*'
 * Ex. `anonymize("John Smith Doe")` returns `"J*** S**** D**"`

### Acceptance Criteria:
1. Running `yarn test anonymize` results i

[2017-10-22 01:19] #265 closed

[2017-10-22 01:41] sherlyc opened #326 "Fix countAlphabets function"
There is currently a method called `countAlphabets` that lives in `/lib/countAlphabets.js`.
It is incomplete and needs to be fixed!

When given a string like "apple" it should returns a count of alphabets like "a:1,p:2,l:1,e:1".

### Acceptance Criteria:
1. Running `yarn test countAlphabets` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have wr

[2017-10-22 01:44] ChrisPlease commented on #324
I'll take this one

[2017-10-22 01:52] BlakeGuilloud commented on #324
Cool @ChrisPlease - it's yours

[2017-10-22 02:09] MahendraTennakoon commented on #326
@BlakeGuilloud I would like to work on this.

[2017-10-22 02:11] #296 closed

[2017-10-22 02:12] BlakeGuilloud commented on #326
Cool @MahendraTennakoon - go for it!

[2017-10-22 02:26] nicolaslwilson opened #328 "Fix camelCase function"
There is currently a method called `camelCase` that lives in `/lib/camelCase.js`.
It is incomplete and needs to be fixed!

For this method:
 * Assume input string uses spaces to separate each word
 * Should return a string in the lowerCamelCase style

### Acceptance Criteria:
1. Running `yarn test camelCase` results in tests passing.
2. You have written a skeleton method for someone else to work o

[2017-10-22 02:52] ChrisPlease opened #331 "Fix invertCase method"
There is currently a method called `invertCase` that lives in `/lib/invertCase.js`.
It is incomplete and needs to be fixed!

Given any string, this method will invert the case of any given character:
[code]

### Acceptance Criteria:
1. Running `yarn test invertCase` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding yo

[2017-10-22 02:53] ChrisPlease commented on #324
@BlakeGuilloud in, created a new ticket for the method I added here: #331

[2017-10-22 03:20] buoyantair commented on #221
@BlakeGuilloud I referenced it... #286. AS for the issue, I'm not aware of it, It worked after a few hours of recloning, adjusting and testing etc...

[2017-10-22 03:36] #307 closed

[2017-10-22 03:40] #314 closed

[2017-10-22 03:42] #316 closed

[2017-10-22 03:43] #315 closed

[2017-10-22 03:44] Blasphemouse opened #334 "Fix areaOfTriangle method"
There is currently a method called `areaOfTriangle` that lives in `/lib/areaOfTriangle.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test areaOfTriangle` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to

[2017-10-22 03:48] ktilcu commented on #283
I won't block any changes to these functions. Variadic add is better than what we have ;)

[2017-10-22 03:49] ktilcu commented on #304
@akram-rameez I'm going to mark this in progress.

[2017-10-22 03:52] binkpitch opened #335 "fix symmetricDifference method"
There is currently a method called `symmetricDifference` that lives in `/lib/symmetricDifference.js`.
It is incomplete and needs to be fixed!

This method accepts two arrays and return the symmetric difference as an array. The symmetric different is a set consists of elements presented in the first and the second array but not in both.

### Acceptance Criteria:
1. Running `yarn test symmetricDiffe

[2017-10-22 03:53] #285 closed

[2017-10-22 03:55] xxDOOMbox opened #336 "Fix mapArray method"
There is currently a method called `mapArray` that lives in `/lib/mapArray.js`.
It is incomplete and needs to be fixed!

The method takes two parameters: an array and a callback function. The return value should be an array of length equal to the input array whose elements are the elements from the input array transformed by the callback function. The method should be non-destructive to the input

[2017-10-22 03:59] #324 closed

[2017-10-22 04:10] stillNovice commented on #334
I'll take this one.

[2017-10-22 04:16] josephbhunt commented on #328
I've got this.

[2017-10-22 04:17] kurnifamili commented on #334
Sorry didn't realize someone already took it, go ahead.

[2017-10-22 04:19] kurnifamili commented on #336
@BlakeGuilloud I would like to work on this

[2017-10-22 04:28] Manny1995 commented on #335
I'll take this.

[2017-10-22 04:32] hanstf commented on #331
Hi can I take this ?

[2017-10-22 04:43] stillNovice commented on #334
thanks @kurnifamili , i'll start working on it.

[2017-10-22 04:47] vincealdrin commented on #306
Hi, I would like to take a shot on this

[2017-10-22 05:35] ripzery opened #341 "Fix countCharInStrings method"
There is currently a method called `countCharInStrings` that lives in `/lib/countCharInStrings.js`.
It is incomplete and needs to be fixed!

This method accepts nested string array and should return a character count array of each string in given nested string array.

### Acceptance Criteria:
1. Running `yarn test countCharInStrings` results in tests passing.
2. You have written a skeleton method

[2017-10-22 05:38] Manny1995 commented on #335
How do I get added as a collaborator?

[2017-10-22 05:47] mtso commented on #341
@ripzery I'd like to give this a go~

[2017-10-22 05:54] akram-rameez opened #342 "Fix lastIndexOf method"
There is currently a method called `lastIndexOf` that lives in `/lib/lastIndexOf.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test lastIndexOf` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the cons

[2017-10-22 05:55] akram-rameez commented on #342
Skeleton made in #317

[2017-10-22 06:00] kurnifamili opened #343 "Fix checkPrime"
There is currently a method called `<checkPrime>` that lives in `/lib/<checkPrime>.js`.
It is incomplete and needs to be fixed!

This method checks whether the integer parameter passed is a prime number or not.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surround

[2017-10-22 06:14] ab-decoded commented on #343
I would like to do this

[2017-10-22 06:52] airondumael opened #346 "Implement not."
There is currently a method called `not` that lives in `/lib/not.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test not` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Optional: write

[2017-10-22 06:52] thisHemit commented on #343
due to some mysterious reasons, i cant find checkPrime.js in the lib folder. Could you help me out?

[2017-10-22 06:55] gbrmachado commented on #346
I'd like to work on this bug

[2017-10-22 06:56] kurnifamili commented on #343
Hi @thisHemit. Unfortunately, my PR containing the files has not been merged yet. That is why you cannot find it in the lib folder yet.

Here is my commit link https://github.com/kurnifamili/ganon/commit/3c9774f6af8993781b3029bb3ece01ea7f404698 .

You can retrieve the files from there first to get a headstart. I will update you when my PR is merged.

[2017-10-22 07:11] thisHemit commented on #343
Thanks @kurnifamili . As I am new to github, i would like to know how to add a "in progress" label to this issue as i am working on it.

[2017-10-22 07:21] kurnifamili commented on #343
Sure, glad to have you here. It's a bit complicated because the commit is located at my repo, not this one. So to avoid confusing you, you can just download the files at the commit link I give you and put it in their respective folder (lib or test).

[2017-10-22 07:22] mtso opened #349 "Fix once method"
There is currently a method called `once` that lives in `/lib/once.js`.
It is incomplete and needs to be fixed!

`once` takes a function and returns a function that executes the given function once. The first time the returned function is called, its return value is saved. Subsequent calls to the returned function returns the saved value.

### Acceptance Criteria:
1. Running `yarn test once` resul

[2017-10-22 07:22] mtso opened #350 "Fix isArray method"
There is currently a method called `isArray` that lives in `/lib/isArray.js`.
It is incomplete and needs to be fixed!

`isArray` returns true if the value is an array and false if the value is not.

### Acceptance Criteria:
1. Running `yarn test isArray` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton

[2017-10-22 07:24] mtso commented on #342
@akram-rameez I'd like work on this (will be my second and last).

[2017-10-22 07:25] thisHemit commented on #343
Thanks @kurnifamili . I had already done that. I was just requesting you to add a in progress label to this issue.

[2017-10-22 07:36] thisHemit commented on #343
@kurnifamili I am facing a problem with the second test

the error it gives is:

`yarn test v0.15.1
$ jest ./test/checkPrime.test.js
 FAIL  test/checkPrime.test.js
  checkPrime
    ✓ returns true if the argument is a prime number (6ms)
    ✕ does not mutate the input number (3ms)
    ✓ throws an error if the argument is not an integer (1ms)

  ● checkPrime › does not mutate the input number

    e

[2017-10-22 07:41] gbrmachado commented on #346
I'm working on that in the PR #352

[2017-10-22 07:43] jsjain007 commented on #350
Hi @mtso  this is my first time contributing to open source and i would like to start contributing with this issue. Could you please tell me if I have to create this file `isArray.js` as I cannot find it in lib folder. Thanks

[2017-10-22 07:45] thisHemit commented on #343
Sorry for the trouble. I resolved my silly mistake.

[2017-10-22 08:01] damjanh opened #353 "Fix convertDegreesToRadians method"
There is currently a method called `convertDegreesToRadians` that lives in `/lib/convertDegreesToRadians.js`.
It is incomplete and needs to be fixed!

`convertDegreesToRadians ` should convert degrees to radians. If the parameter is not a number the method should throw an error.

### Acceptance Criteria:
1. Running `yarn test convertDegreesToRadians ` results in tests passing.
2. You have written

[2017-10-22 08:11] jsjain007 commented on #353
@damjanh Hello, I would like to take this issue. Thanks

[2017-10-22 08:28] carlosnufe opened #357 "Fix isVowel method"
There is currently a method called `isVowel` that lives in `/lib/isVowel.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test isVowel` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Opti

[2017-10-22 08:37] jsjain007 commented on #357
Hi @carlosnufe I would like to work on this issue. Thanks

[2017-10-22 09:54] stillNovice commented on #349
i'll take this one

[2017-10-22 09:57] stillNovice commented on #349
I can't see once.js in lib folder. @mtso please look into this.

[2017-10-22 12:17] conradreuter opened #361 "Fix topoSort method"
There is currently a method called `topoSort` that lives in `/lib/topoSort.js`.
It is incomplete and needs to be fixed!

It [topologically sorts](https://en.wikipedia.org/wiki/Topological_sorting) a directed graph represented by its adjacency list.

### Acceptance Criteria:
1. Running `yarn test topoSort` results in tests passing.
2. You have written a skeleton method for someone else to work on.

[2017-10-22 13:12] conradreuter opened #364 "Fix random method"
There is currently a method called `random` that lives in `/lib/random.js`.
It is incomplete and needs to be fixed!

The `random` method returns a random number in the interval `[0,1)`. It should be uniformely distributed.

### Acceptance Criteria:
1. Running `yarn test random` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests su

[2017-10-22 13:38] babhishek21 opened #366 "Fix the product method to be left variadic"
There is currently a method called `product` that lives in `/lib/product.js`.
It is incomplete and needs to be fixed!

Take a look at #283. The `product` method qualifies for variadic treatment. It should be able to take variable number of arguments, both numeric types and castable to numeric types or a mix of both. It may even take arrays of such types.

For hint on how to achieve that, take a lo

[2017-10-22 13:42] babhishek21 opened #367 "Implement the or method to be left variadic"
There is currently a method called `or` that lives in `/lib/or.js`. ~~post #365 is merged.~~
It is incomplete and needs to be fixed!

Take a look at #283. The `or` method qualifies for variadic treatment. It should be able to take variable number of arguments, both numeric types and castable to numeric types or a mix of both. It may even take arrays of such types.

For hint on how to achieve that,

[2017-10-22 13:44] babhishek21 commented on #283
PR #365 is ready. I raised issues #366 and #367 to make sure some other qualifying functions are also made variadic. Cheers 🍺

[2017-10-22 13:47] kurnifamili commented on #343
Oops sorry for my misunderstanding.

I think only the repo admin can add labels, so I cannot help you for that.

[2017-10-22 13:51] Ampretuzo commented on #361
Looks interesting. I'll do it.

[2017-10-22 13:55] conradreuter commented on #361
Please be aware that #360 needs to be merged, or else you will not have the skeleton and tests at hand.

[2017-10-22 14:01] Ampretuzo commented on #361
@conradreuter thanks, I'll copy skeleton manually

[2017-10-22 15:23] asafofer commented on #364
On it

[2017-10-22 16:09] #306 closed

[2017-10-22 16:10] #331 closed

[2017-10-22 16:11] #328 closed

[2017-10-22 16:12] #335 closed

[2017-10-22 16:14] BlakeGuilloud commented on #346
Thanks!

[2017-10-22 16:14] #346 closed

[2017-10-22 16:21] #274 closed

[2017-10-22 16:21] BlakeGuilloud commented on #274
Thanks!

[2017-10-22 16:22] #341 closed

[2017-10-22 16:33] BlakeGuilloud commented on #342
Hey @mtso ! I need to update the README, but feel free to continue working on projects. I don't know why I put the rule in there that you should only do two.. As long as you are providing new methods for others, I don't see the harm in doing as many as you want. Going to mark this as in progress.

[2017-10-22 16:34] BlakeGuilloud commented on #349
Hey @stillNovice - his PR was just merged in a few minutes ago. It should contain the once.js file.

[2017-10-22 16:36] #336 closed

[2017-10-22 18:34] Ampretuzo opened #370 "convex polygon area calculation"
There is currently a method called `areaOfConvexPolygon` that lives in `/lib/areaOfConvexPolygon.js`.
It is incomplete and needs to be fixed!

What it does is self explanatory, please make sure to use home grown `areaOfTriangle` function!

### Acceptance Criteria:
1. Running `yarn test areaOfConvexPolygon` results in tests passing.
2. You have written a skeleton method for someone else to work on.

[2017-10-22 18:35] hasib71 opened #371 "Fix bug in GCD method"
There is currently a method called `gcd` that lives in `/lib/gcd.js`.
It has bugs and needs to be fixed!

GCD(0, n) should be equal to n. The current method is throwing exception.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. Running `yarn lint` does not print any errors to the console!
3. Optional: write one or two more tests surrounding the method you

[2017-10-22 18:36] hasib71 commented on #371
@BlakeGuilloud I would like to work on this

[2017-10-22 19:25] showmeyourhits opened #372 "Fix countAlphabets method"
There is currently a method called `countAlphabets` that lives in `/lib/countAlphabets.js`.
It is incomplete and needs to be fixed!

This method count occurences of letters in string, and returns new string in format `[letter1]:count`

### Acceptance Criteria:
1. Running `yarn test countAlphabets` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You h

[2017-10-22 19:25] showmeyourhits commented on #372
@BlakeGuilloud i would like to work on dis

[2017-10-22 19:36] showmeyourhits opened #373 "Fix isString method"
There is currently a method called `isString` that lives in `/lib/isString.js`.
It is incomplete and needs to be fixed!

Method checks if passed argument has `string` type.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `

[2017-10-22 19:37] showmeyourhits commented on #373
@BlakeGuilloud i would like to work on dis
i wonder, why nobody wanted to work on this before - it's the easiest method

[2017-10-22 19:39] jsjain007 opened #374 "Fix convertFeetToMeters method"
There is currently a method called `convertFeetToMeters` that lives in `/lib/convertFeetToMeters.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any e

[2017-10-22 20:16] showmeyourhits opened #376 "Fix compact method"
There is currently a method called `compact` that lives in `/lib/compact.js`.
It is incomplete and needs to be fixed!

This method returns a copy of the array with all falsy values removed. For example if passed [1, 2, 0,  4], it will return [1, 2, 4].

### Acceptance Criteria:
1. Running `yarn test compact` results in tests passing.
2. You have written a skeleton method for someone else to work o

[2017-10-22 20:19] showmeyourhits commented on #374
@BlakeGuilloud i sooooo would like to work on this method, please, could you let me?

[2017-10-22 20:21] #373 closed

[2017-10-22 20:24] BlakeGuilloud commented on #372
No worries @showmeyourhits ! I'm going to close this issue out.

[2017-10-22 20:24] #372 closed

[2017-10-22 20:24] BlakeGuilloud commented on #371
Cool deal @hasib71 ! Thanks

[2017-10-22 20:30] #350 closed

[2017-10-22 21:22] mtso commented on #342
Ok great :) @BlakeGuilloud

I think I made a mistake of pushing the solution to this into the master branch of my fork before my pull request was accepted, so the `lastIndexOf` commit is squashed in there.

I'll still need to make the skeleton for the next method, though.

[2017-10-22 21:46] Manny1995 opened #380 "Fix areaOfRectangle.js method"
There is currently a method called `<methodName>` that lives in `/lib/<methodName>.js`.
It is incomplete and needs to be fixed!

This method takes in a length and a width as arguments and should calculate the area.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surr

[2017-10-22 22:00] Manny1995 commented on #376
@showmeyourhits I would like to work on this!  Can you assign me to it?

[2017-10-22 22:27] mtso opened #381 "Fix union method"
There is currently a method called `union` that lives in `/lib/union.js`.
It is incomplete and needs to be fixed!

`union` combines multiple arrays into a single one with the unique values from each.

### Acceptance Criteria:
1. Running `yarn test union` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton

[2017-10-22 22:32] mtso opened #383 "Fix merge method"
There is currently a method called `merge` that lives in `/lib/merge.js`.
It is incomplete and needs to be fixed!

`merge` combines multiple objects into a single one with all the keys of each object. When two objects have the same key, the value from the second object is used.

### Acceptance Criteria:
1. Running `yarn test merge` results in tests passing.
2. You have written a skeleton method fo

[2017-10-22 22:43] mtso opened #385 "Fix select method"
There is currently a method called `select` that lives in `/lib/select.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test select` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Optiona

[2017-10-23 00:09] ktilcu commented on #353
@jsjain007 All yours. You have appx 24 hours before we release it. Thanks for jumping on board!

[2017-10-23 00:10] ktilcu commented on #357
@jsjain007 you got it. Same as the other one. 24 hours!

[2017-10-23 00:12] ktilcu commented on #376
@Manny1995 Thanks for stepping in! We will leave this in progress for 24 hours and then release it back to the wild. Looking forward to your contributions..

[2017-10-23 00:15] #371 closed

[2017-10-23 00:32] #334 closed

[2017-10-23 00:47] ktilcu commented on #376
Thanks again @Manny1995

[2017-10-23 00:47] #376 closed

[2017-10-23 00:49] ktilcu commented on #200
Thanks @micahduron

[2017-10-23 00:49] #200 closed

[2017-10-23 00:53] ktilcu commented on #343
@kurnifamili Thanks again!

[2017-10-23 00:53] #343 closed

[2017-10-23 01:07] sanatankc commented on #385
I would like to work on this.

[2017-10-23 01:10] danswater commented on #383
i will take this.

[2017-10-23 01:11] devanp92 commented on #380
I can take this

[2017-10-23 01:13] Aonepathan commented on #374
I'd like to tackle this issue.

[2017-10-23 01:24] juniorvid commented on #381
I will work on this!

[2017-10-23 01:30] devanp92 commented on #370
I can take this

[2017-10-23 01:38] BlakeGuilloud commented on #374
Thanks @Aonepathan ! You've got 24 hours. Good luck!~

[2017-10-23 01:39] BlakeGuilloud commented on #381
Thanks @juniorvid ! You've got 24 hours. Good luck!

[2017-10-23 01:39] BlakeGuilloud commented on #383
Thanks @danswater ! You've got 24 hours. Good luck!

[2017-10-23 01:50] ktilcu commented on #385
@sanatankc Great. This buys you 24 hours before we open it back up. Enjoy and thanks!

[2017-10-23 01:55] #380 closed

[2017-10-23 01:56] devanp92 opened #389 "Fix convertFeetToInches method"
There is currently a method called `convertFeetToInches` that lives in `/lib/convertFeetToInches.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertFeetToInches` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not prin

[2017-10-23 02:06] devanp92 commented on #370
I can take this

[2017-10-23 02:25] Manny1995 opened #390 "convertInchesToFeet.js"
There is currently a method called `convertInchesToFeet` that lives in `/lib/convertInchesToFeet.js`.
It is incomplete and needs to be fixed!

convertInchesToFeet takes in a number of inches as the input and expects the number of feet as the output

### Acceptance Criteria:
1. Running `yarn test convertInchesToFeet` results in tests passing.
2. You have written a skeleton method for someone else t

[2017-10-23 02:54] josephmcasey commented on #389
Sounds cool, I'll work on this!

[2017-10-23 02:55] FranceJ commented on #390
@BlakeGuilloud I would like to work on this

[2017-10-23 03:00] devanp92 opened #392 "Fix SnakeCase method"
There is currently a method called `snakeCase` that lives in `/lib/snakeCase.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test snakeCase` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5

[2017-10-23 03:23] buoyantair opened #393 "implement matrixAdd"
There is currently a method called `matrixAdd` that lives in `/lib/matrixAdd.js`.
It is incomplete and needs to be fixed!

matrixAdd takes 2 matrices as input and returns the sum of two matrices!

### Acceptance Criteria:
1. Running `yarn test matrixAdd` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton

[2017-10-23 03:30] devninja89 commented on #392
I'll take it!

[2017-10-23 03:34] josephmcasey commented on #389
Pull request #394 introduces the convertFeetToInches functionality and introduces a convert function.

The scope was expanded beyond the issue in two manners:
1) I added .idea to the gitignore files for anyone who prefers developing with a Jet Brain product.
2) I removed a test which expected a throw on non-numeric types which utilizes a negative number for its argument.

[2017-10-23 03:35] ktilcu commented on #392
@devninja89 We'll mark this in progress for 24 hours. Let us know if you need more time.

[2017-10-23 03:36] ktilcu commented on #390
@FranceJ We will lock this one for 24 hours. Let us know if you need more time.

[2017-10-23 03:37] ktilcu commented on #370
@devanp92 Thanks. Looking forward to reviewing this!

[2017-10-23 03:37] #370 closed

[2017-10-23 03:37] FranceJ commented on #390
There is a distinct possibility that I am being obtuse, but in the test file it looks like 1 test is failing because it is expecting an input of 2 inches to result in an output of 1.6667.

Based on the description it looks like the input is meant to be 14. Is the test potentially wrong?

See line 9 of convertInchesToFeet.test.js
@ktilcu

[2017-10-23 03:38] #221 closed

[2017-10-23 03:39] ktilcu commented on #364
@asafofer Thanks for jumping in! We will leave this locked for you for 24 hours. If you need more time lets us know.

[2017-10-23 03:40] Manny1995 commented on #390
@FranceJ  My bad, the test I wrote is wrong!  I could have sworn I put in 14, but looks like I put in 2 instead.  Please feel free to change the test case to reflect the correct value.

Sorry for the inconvenience!

[2017-10-23 03:46] arcticbarra commented on #393
Working on it!

[2017-10-23 03:48] josephmcasey opened #395 "Implement convert"
There is currently a method called `convert` that lives in `/lib/convert.js`.
It is incomplete and needs to be fixed!

Convert is a functional dyadic method which returns a conversion function matching the two arguments or throws an Error when the provided arguments cannot be matched to an available conversion function.

### Acceptance Criteria:
1. Running `yarn test convert\.test\.js` results in

[2017-10-23 03:52] BlakeGuilloud commented on #393
Cool- thanks @arcticbarra !

[2017-10-23 04:15] JEpifanio90 opened #396 "Implement the convertStringToBinary function"
There is currently a method called `convertStringToBinary` that lives in `/lib/convertStringToBinary.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertStringToBinary` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does no

[2017-10-23 04:24] erickgirard commented on #396
I'll take a look at it :-)

[2017-10-23 04:36] #390 closed

[2017-10-23 04:37] #393 closed

[2017-10-23 04:37] BlakeGuilloud commented on #396
Thanks @erickgirard !

[2017-10-23 04:39] #389 closed

[2017-10-23 04:40] josephmcasey commented on #168
It looks like this one has a little dust one it. I'm on it!

[2017-10-23 04:41] arcticbarra opened #399 "Fix Least Common Multiple method"
There is currently a method called `lcm` that lives in `/lib/lcm.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test lcm` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Optional: write

[2017-10-23 04:52] freebird1195 commented on #395
Hey! I just cloned this and added a convertKilogramsToPounds Function. I went through the acceptance criteria and I am not able to run yarn test convert. It gives me an error. I am new to this. Any help will be appreciated.

[2017-10-23 04:59] josephmcasey commented on #395
Sorry @freebird1195 ! My description is wrong. The jest regex match is catching too many tests.

`yarn test convert\.test\.js`

will only run the tests under the convert.test.js file.

[2017-10-23 05:18] devninja89 commented on #392
Done!

[2017-10-23 05:27] josephbhunt opened #401 "Fix convertYardsToMeters"
There is currently a method called `convertYardsToMeters ` that lives in `/lib/convertYardsToMeters .js`.
It is incomplete and needs to be fixed!

Convert yards to meters where 1 yard equals 0.9144 meters

### Acceptance Criteria:
1. Running `yarn test convertYardsToMeters` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrou

[2017-10-23 05:36] zuzanatoldyova commented on #399
Hi, can I work on this?

[2017-10-23 05:54] josephmcasey commented on #168
Awesome! I've submitted a pull request #402 ! An important behavior which was not defined by the original issue involves very large integers, like 128-bit. Without a behavior defined by the issue, I expanded the behavior to throw and error when the binary conversion can't be guaranteed.

[2017-10-23 05:59] gballesteros10 commented on #401
Mine, please. My first!

[2017-10-23 05:59] josephmcasey opened #403 "Implement `is`"
There is currently a method called `<methodName>` that lives in `/lib/<methodName>.js`.
It is incomplete and needs to be fixed!

is should be a functional monadic method which returns a function when a provided an argument of type string which corresponds with an existing boolean determinant. Invalid arguments throw Error.

### Acceptance Criteria:
1. Running `yarn test is\.test\.js` results in te

[2017-10-23 06:03] josephmcasey commented on #403
Awaiting pull request #168 . Consideration and review from public and project maintainers encouraged while waiting.

[2017-10-23 06:33] stillNovice opened #408 "Fix phi.js function"
There is currently a method called `phi` that lives in `/lib/phi.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test phi` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Optional: write

[2017-10-23 06:38] coymeetsworld commented on #278
I'll take a look at this

[2017-10-23 07:21] babhishek21 commented on #367
#365 is now merged. Get to work, folks!

[2017-10-23 07:42] gballesteros10 commented on #401
Side-note regarding my PR #412 : I know we're not supposed to alter test files, but the test says it expects a negative value but forgot to put "-" in the expected value. Included it in my changes. Cheers!

[2017-10-23 08:02] hyades commented on #193
On it

[2017-10-23 08:12] Yogendra0Sharma commented on #408
@stillNovice I am working on it.

[2017-10-23 08:17] Yogendra0Sharma commented on #408
@stillNovice Submitted PR https://github.com/BlakeGuilloud/ganon/pull/413 please review.

[2017-10-23 09:13] stillNovice commented on #408
@Yogendra0Sharma , I left a comment on the PR, please look into it.

[2017-10-23 10:17] JJEEGG2211 commented on #366
Can I try this one?
Thanks!

[2017-10-23 11:03] vincealdrin opened #416 "Fix tail method"
There is currently a method called `tail` that lives in `/lib/tail.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Optio

[2017-10-23 11:20] mrjwc commented on #416
I'll take this, @BlakeGuilloud!

[2017-10-23 12:07] Aonepathan commented on #374
@BlakeGuilloud  I guess @Yogendra0Sharma decided to take care of this issue before me...?

[2017-10-23 12:18] Aonepathan commented on #374
@BlakeGuilloud @Yogendra0Sharma Well I did this last night as well, was waiting to add a Acceleration.js skeleton, I've submitted my PR, please review that as I followed the steps for claiming this issue.

[2017-10-23 12:21] Yogendra0Sharma commented on #374
@Aonepathan No Problem:1st_place_medal:  @BlakeGuilloud You can merge @Aonepathan PR.

[2017-10-23 12:24] Aonepathan commented on #374
Thanks @Yogendra0Sharma, I'm sorry for sounding rude on this, I just was working on it also and had no idea you did it also! Thanks again

[2017-10-23 13:05] ktilcu commented on #399
@zuzanatoldyova Yes please! I will keep this locked to you for 24 hours. If you need more time please just let us know. We are looking forward to your contribution.

[2017-10-23 13:06] ktilcu commented on #401
@gballesteros10 Thanks for the PR i will look over it. No worries about the test files. ;P

[2017-10-23 13:09] ktilcu commented on #416
@mrjwc Thanks for jumping in! I will keep this locked to you for 24 hours. If you need more time please just let us know. We are looking forward to your contribution.

[2017-10-23 13:10] #361 closed

[2017-10-23 13:13] #392 closed

[2017-10-23 13:38] #364 closed

[2017-10-23 13:48] asafofer opened #418 "fix isJSON function"
There is currently a method called `isJSON` that lives in `/lib/isJSON.js`.
It is incomplete and needs to be fixed!

a function that returns true if an argument is valid JSON and false if it isn't

### Acceptance Criteria:
1. Running `yarn test isJSON` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton me

[2017-10-23 13:49] #396 closed

[2017-10-23 13:58] ktilcu commented on #367
haha

[2017-10-23 13:59] ktilcu commented on #193
@hyades you got it. Same rules as before.

[2017-10-23 14:50] josephmcasey commented on #403
Pull request #168 merged. Available for anyone interested.

[2017-10-23 15:16] jsjain007 opened #420 "fix convertMeterstoFeet method"
There is currently a method called `convertMeterstoFeet` that lives in `/lib/convertMeterstoFeet.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any e

[2017-10-23 15:33] andrey-semin commented on #418
i'lll take this one

[2017-10-23 15:46] ktilcu commented on #418
@andrey-semin You got it! We will lock this one for 24 hours while you finish.

[2017-10-23 16:03] devninja89 opened #423 "Fix isPangram"
There is currently a method called `<methodName>` that lives in `/lib/<methodName>.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the c

[2017-10-23 16:03] #423 closed

[2017-10-23 16:27] ktilcu commented on #395
@freebird1195 If you are wokring on this I will mark it as in progress

[2017-10-23 16:29] devninja89 opened #426 "fix isPangram"
There is currently a method called `isPangram` that lives in `/lib/isPangram.js`.
It is incomplete and needs to be fixed!

A pangram is a sentence that contains every letter of the alphabet at least once.  This method returns true if the input string is a pangram. Else, it returns false.

### Acceptance Criteria:
1. Running `yarn test isPangram` results in tests passing.
2. You have written a skel

[2017-10-23 16:31] damjanh commented on #426
@BlakeGuilloud I would like to work on this.

[2017-10-23 17:21] ktilcu commented on #426
@damjanh We will lock this one down for 24 hours while you work. Have Fun!

[2017-10-23 21:06] devninja89 commented on #420
@BlakeGuilloud I'll take this

[2017-10-23 21:24] #426 closed

[2017-10-23 21:35] damjanh opened #430 "Fix cartesian method"
There is currently a method called `cartesian` that lives in `/lib/cartesian.js`.
It is incomplete and needs to be fixed!

The method should return an array constructed with the rules for the cartesian product. Insure that the only valid parameters are arrays.

### Acceptance Criteria:
1. Running `yarn test cartesian` results in tests passing.
2. You have written a skeleton method for someone else

[2017-10-23 21:37] rgehan commented on #430
I'll have a look at it :)

[2017-10-23 21:49] FranceJ opened #431 "Fix convertRankinetoKelvin"
There is currently a method called `convertRankineToKelvin` that lives in `/lib/convertRankineToKelvin.js`.
It is incomplete and needs to be fixed!

This method should take an input temperature in Rankine and output in Kelvins to 6 significant figures.

### Acceptance Criteria:
1. Running `yarn test convertRankineToKelvin` results in tests passing.
2. You have written a skeleton method for someone

[2017-10-23 21:54] FranceJ commented on #430
@BlakeGuilloud looks like @rgehan wants to work on this. Can you apply the tags?

[2017-10-23 22:25] FranceJ commented on #271
@BlakeGuilloud I'd be happy to start working through some of the methods and adding in docstrings. Not sure how far I'll get but I can do some of the grunt work. I'd make sure to only touch completed methods to avoid conflicts.

[2017-10-23 22:29] FranceJ commented on #367
@BlakeGuilloud I'll have a look at this

[2017-10-23 22:49] xxnatc commented on #431
@BlakeGuilloud I would like to work on this!

[2017-10-23 23:08] rgehan opened #433 "Fix xorEncryption method"
There is currently a method called `xorEncryption` that lives in `/lib/xorEncryption.js`.
It is incomplete and needs to be fixed!

This method performs a XOR encryption with a repeating key.
The method prototype is `xorEncryption(data, key, outputAsString = false)`.
`data` and `key` can be a `string` or an `array` of integers ranging from 0 to 255. You have to handle both cases.
If `outputAsString

[2017-10-23 23:10] rgehan commented on #430
@BlakeGuilloud Method is fixed, I added another issue (#433), but this one needs to be merged first :)

[2017-10-23 23:11] rgehan commented on #433
Please wait that #430 be merged before attempting this one; the method won't be available before

[2017-10-24 00:14] #430 closed

[2017-10-24 00:15] #431 closed

[2017-10-24 00:17] BlakeGuilloud commented on #433
Merged. Thanks @rgehan !

[2017-10-24 00:37] zuzanatoldyova commented on #399
Hi, I just saw that this was already solved by someone else in pr #410

[2017-10-24 00:51] BlakeGuilloud commented on #399
Hey @zuzanatoldyova ! Sorry about that. We try to keep up with issues as best we can. Feel free to improve the existing implementation if you'd like. Or find a new issue :) Thanks!

[2017-10-24 02:23] vikene opened #435 "Fix cubeRoot method"
There is currently a method called `cubeRoot` that lives in `/lib/cubeRoot.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test cubeRoot` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. O

[2017-10-24 02:25] vikene commented on #433
@BlakeGuilloud I would like to work on this 👍

[2017-10-24 02:58] gballesteros10 commented on #435
I'll work on it.

[2017-10-24 03:23] zuzanatoldyova opened #438 "fix findAll method"
There is currently a method called `findAll` that lives in `/lib/findAll.js`.
It is incomplete and needs to be fixed!

Method excepts two arguments, an array and an element, it is supposed to return an array of indices of all the element positions in a given array.

### Acceptance Criteria:
1. Running `yarn test findAll` results in tests passing.
2. You have written a skeleton method for someone e

[2017-10-24 04:10] #399 closed

[2017-10-24 04:11] BlakeGuilloud commented on #435
Sounds good @gballesteros10 !

[2017-10-24 04:11] BlakeGuilloud commented on #433
Sounds good @vikene !

[2017-10-24 04:13] BlakeGuilloud commented on #271
That would be awesome @FranceJ ! Feel free to reach out here with any questions or email me: blake.guilloud@gmail.com

Thanks man!!

[2017-10-24 04:36] stillNovice opened #439 "Fix manhattanDistance function"
There is currently a method called `manhattanDistance` that lives in `/lib/manhattanDistance.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test manhattanDistance` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any

[2017-10-24 04:51] saiftase commented on #438
I'm on it!

[2017-10-24 05:02] bransonl commented on #439
@BlakeGuilloud I would like to work on this.

[2017-10-24 05:32] darthgera123 commented on #438
Ill work on it as well

[2017-10-24 08:00] stillNovice commented on #439
@bransonl go ahead...

[2017-10-24 09:08] Peradon commented on #403
I'm interested, can I do this one?

[2017-10-24 09:38] asafofer commented on #439
Can I work on it as well?

[2017-10-24 15:23] ktilcu commented on #439
@bransonl I will lock it down for you for 24 hours. @asafofer lets give @bransonl a chance first. There are a bunch of available methods if you'd like to try another.

[2017-10-24 15:24] ktilcu commented on #438
@darthgera123 sorry. We only want one person at a time. @saiftase I see your PR and I will take a peek at it.

[2017-10-24 15:26] #438 closed

[2017-10-24 15:48] josephmcasey commented on #155
🙁  Forgotten, not lost. I'll pick this up and clean it off.

[2017-10-24 15:48] #435 closed

[2017-10-24 15:51] ktilcu commented on #403
@Peradon it's yours. I will lock it for 24 hours. Enjoy!

[2017-10-24 15:53] #418 closed

[2017-10-24 15:55] #416 closed

[2017-10-24 15:57] kosciak9 commented on #155
Sorry guys, got caught on college duties. Looks like the only t-shirt I'm getting is the one from the dryer. :D take it and go for it my friend

On October 24, 2017 5:48:16 PM GMT+02:00, Joseph Michael Casey <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-10-24 16:05] #401 closed

[2017-10-24 16:08] mrjwc opened #447 "Fix isAnagram function"
There is currently a method called `isAnagram` that lives in `/lib/isAnagram.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test isAnagram` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5

[2017-10-24 16:43] smehta11 commented on #447
I would like to take this on!

[2017-10-24 16:53] erickgirard opened #448 "Fix takeWhile"
There is currently a method called `takeWhile` that lives in `/lib/takeWhile.js`.
It is incomplete and needs to be fixed!

This method will iterate a given array (first argument) until the function given in the second argument returns false.

This function should receive the current element iterated as the first argument.

Example use :
`takeWhile([1,2,3], e => e < 3); // will returns [1,2]`

###

[2017-10-24 16:59] josephmcasey commented on #155
I've submitted a pull request that addresses the issues brought up during the #210 pull request.

[2017-10-24 17:19] xxnatc opened #450 "Fix convertKelvinToRankine method"
There is currently a method called `convertKelvinToRankine ` that lives in `/lib/convertKelvinToRankine.js`.
It is incomplete and needs to be fixed!

### Description:
The [Rankine](https://en.wikipedia.org/wiki/Rankine_scale) and [Kelvin](https://en.wikipedia.org/wiki/Kelvin) scales are both absolute scales used to measure temperature. This method takes an input of Kelvin and converts it into Rank

[2017-10-24 17:27] gballesteros10 commented on #448
I'd like to work on this.

[2017-10-24 17:36] andrey-semin opened #451 "fix omit function"
There is currently a method called `omit` that lives in `/lib/omit.js`.
It is incomplete and needs to be fixed!

This function should take an object and a array of key names and return a new object with these keys omitted from it.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have wr

[2017-10-24 17:39] saiftase opened #452 "Fix findPair method."
There is currently a method called `findPair` that lives in `/lib/findPair.js`.
It is incomplete and needs to be fixed!

Given a desired sum and an array of integers, findPair returns the first set of two array elements that, if added together, would result in the desired sum.

For example findPair(7, [1, 4, 5, 3, 6]) would be expected to return [4, 3]

### Acceptance Criteria:
1. Running `yarn te

[2017-10-24 17:41] mr-rodgers commented on #451
Gimme gimme

[2017-10-24 17:46] BlakeGuilloud commented on #451
It's yours @mr-rodgers !!

[2017-10-24 18:07] freebird1195 commented on #395
@ktilcu Okay.

[2017-10-24 18:11] EvilEpicCoder commented on #450
I would like to take this #434

[2017-10-24 18:41] EvilEpicCoder commented on #450
I will take this #450

[2017-10-24 18:54] josephbhunt commented on #452
I'm working on this one.

[2017-10-24 19:21] Peradon commented on #403
This is my first pull request, if there is any problem please feel free to notify me.

[2017-10-24 19:41] freebird1195 opened #454 "Fix convertPoundToKilograms Methods"
There is currently a method called `<convertPoundToKilograms>` that lives in `/lib/<convertPoundToKilograms>.js`.
It is incomplete and needs to be fixed!

The method converts pounds to Kilograms where 1 pound is equal to 0.45 kilograms.

### Acceptance Criteria:
1. Running `yarn test <convertPoundToKilograms>` results in tests passing.
2. You have written a skeleton method for someone else to work

[2017-10-24 20:06] darthgera123 commented on #454
ill work on this issue

[2017-10-24 20:06] darthgera123 commented on #438
Ill work on it as well

[2017-10-24 20:16] darthgera123 commented on #454
There is no such method file in the directory, so do i create one?

[2017-10-24 21:22] #155 closed

[2017-10-24 21:24] freebird1195 commented on #454
@darthgera123 I've made a pull request. It's yet to be merged, then you'll see the file.

[2017-10-24 21:24] #451 closed

[2017-10-24 21:25] BlakeGuilloud commented on #452
Thanks @josephbhunt

[2017-10-24 21:26] BlakeGuilloud commented on #450
Thanks @EvilEpicCoder !

[2017-10-24 21:26] BlakeGuilloud commented on #448
Thanks @gballesteros10 !

[2017-10-24 21:26] BlakeGuilloud commented on #447
Thanks @smehta11 !

[2017-10-24 21:28] #374 closed

[2017-10-24 21:29] #147 closed

[2017-10-24 21:30] devninja89 commented on #420
hey guys, can you extend this for 24 hours? ran into some overtime at work and havent had time to come back

[2017-10-24 21:31] #383 closed

[2017-10-24 21:33] #357 closed

[2017-10-24 21:35] #403 closed

[2017-10-24 21:48] Aonepathan opened #456 "Fix averageAcceleration Method"
There is currently a method called `averageAcceleration` that lives in `/lib/averageAcceleration.js`.
It is incomplete and needs to be fixed!

This method calculates the average acceleration given the difference of velocity over the difference of time.

![image](https://user-images.githubusercontent.com/5911723/31969692-89cab6ba-b8e3-11e7-9d33-983d205ebfbf.png)

### Acceptance Criteria:
1. Running

[2017-10-24 21:54] amoradi opened #457 "Fix isObject function"
There is currently a method called `isObject` that lives in `/lib/isObject.js`.
It is incomplete and needs to be fixed!

`isObject` has one failing test, so the fn needs some rework.

### Acceptance Criteria:
1. Running `yarn test isObject` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Run

[2017-10-24 22:15] EvilEpicCoder opened #459 "convertCartesianToSpherical"
There is currently a method called `convertCartesianToSpherical` that lives in `/lib/convertCartesianToSpherical.js`.
It is incomplete and needs to be fixed!
convertCartesianToSpherical is a function what takes three coordinates, which lives in array [x,y,z], this function convert from `Cartesian system of coordinate` to `Spherical system of coordinate` with resulting array [r,θ,φ]
This task most

[2017-10-24 22:38] polo123qwe commented on #457
Will give it a go

[2017-10-24 22:38] darthgera123 opened #461 "convertMinutesToSeconds"
There is currently a method called `<convertMinutesToSeconds>` that lives in `/lib/<convertMinutesToSeconds>.js`.
It is incomplete and needs to be fixed!

This method converts minutes to seconds. 1 minute amounts to 60 seconds. May the force be with you.
### Acceptance Criteria:
1. Running `yarn test <convertMinutesToSeconds>` results in tests passing.
2. You have written a skeleton method for som

[2017-10-24 22:42] BlakeGuilloud commented on #457
Thanks @polo123qwe !

[2017-10-24 22:44] #395 closed

[2017-10-24 22:59] jturinetti commented on #461
@BlakeGuilloud I can take this one.

[2017-10-24 23:05] BlakeGuilloud commented on #461
Hey guys. Sorry- this hasn't been merged in yet. I"m going to apply the appropriate label.

[2017-10-24 23:05] jturinetti commented on #461
Whoops, didn't see the earlier comment.  I'll hold off.

[2017-10-24 23:08] adamjq commented on #456
I'll give it a go!

[2017-10-24 23:09] BlakeGuilloud commented on #456
Thanks @adamjq !

[2017-10-25 01:09] FranceJ opened #467 "Testing is not unique"
The instructions for running the tests do not result in a single test being run always.

Example: run `yarn test or` and a tremendous number of tests run. Not sure if this is something we can fix by configuring jest differently, but may come up for future methods.

[2017-10-25 01:27] josephmcasey commented on #467
It looks like it is referenced by the contributing guide.

https://github.com/BlakeGuilloud/ganon/blob/master/CONTRIBUTING.md

[2017-10-25 01:30] BlakeGuilloud commented on #467
Hey @FranceJ ! This was actually brought up for a different method. I'm going to try to dig it up

[2017-10-25 01:42] BlakeGuilloud commented on #467
Looks like it was actually joseph who brought it up: https://github.com/BlakeGuilloud/ganon/issues/395

I'll dig a little deeper into this. Feel free to share anything you find out here.

[2017-10-25 01:44] #457 closed

[2017-10-25 01:50] #459 closed

[2017-10-25 01:52] #454 closed

[2017-10-25 01:52] BlakeGuilloud commented on #461
Either of you want this- it's available.

[2017-10-25 02:02] vikene commented on #433
@BlakeGuilloud I find two files with same name, https://github.com/BlakeGuilloud/ganon/blob/master/test/convertPoundToKilograms.test.js
https://github.com/BlakeGuilloud/ganon/blob/master/test/convertPoundtoKilograms.test.js

I guess one should be deleted.

[2017-10-25 02:15] lucascruz96 opened #468 "Fix arrayAvg method"
There is currently a method called `arrayAvg` that lives in `/lib/arrayAvg.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!

[2017-10-25 02:34] FranceJ commented on #367
This is almost done I think. I will probably need another day though

[2017-10-25 02:46] smehta11 opened #469 "Fix hsv2rgb function"
There is currently a method called `hsv2rgb` that lives in `/lib/hsv2rgb.js`.
It is incomplete and needs to be fixed!

This function takes an array of HSV values and returns the RGB equivalent.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton

[2017-10-25 02:46] #447 closed

[2017-10-25 02:47] BlakeGuilloud commented on #367
Take your time @FranceJ ! Thanks for the update.

[2017-10-25 02:57] joshuafbarker commented on #469
I can take this one.

[2017-10-25 03:02] joshuafbarker commented on #468
I can take this one.

[2017-10-25 03:54] #278 closed

[2017-10-25 03:55] BlakeGuilloud commented on #468
Thanks @joshuafbarker !

[2017-10-25 03:55] BlakeGuilloud commented on #469
Thanks!

[2017-10-25 04:05] gballesteros10 opened #472 "Fix isLeapYear function"
There is currently a method called `isLeapYear` that lives in `/lib/isLeapYear.js`.
It is incomplete and needs to be fixed!

`isLeapYear` is a function that checks if the inputted number is a leap year.

### Acceptance Criteria:
1. Running `yarn test isLeapYear` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your s

[2017-10-25 04:13] saiftase commented on #472
Working on it!

[2017-10-25 04:29] davidkwan95 opened #474 "Fix caesarsCipher function"
There is currently a method called `caesarsCipher` that lives in `/lib/caesarCipher.js`.
It is incomplete and needs to be fixed!

`caesarsCipher` takes in a string and "encrypts" it by shifting the letters by a predefined amount. This function will implement a ROT13 cipher, meaning each letter will shift 13 places in the alphabet.

### Acceptance Criteria:
1. Running `yarn test <methodName>` resul

[2017-10-25 04:29] davidkwan95 commented on #474
@BlakeGuilloud I would like to work on this one

[2017-10-25 05:28] gballesteros10 opened #478 "Fix isDivisibleBy function"
There is currently a method called `isDivisibleBy` that lives in `/lib/isDivisibleBy.js`.
It is incomplete and needs to be fixed!

`isDivisibleBy` is a function that checks if a number is divisible by a set of divisors

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests

[2017-10-25 05:29] JJEEGG2211 commented on #478
@BlakeGuilloud
Mine please

[2017-10-25 09:57] Peradon opened #479 "implement isHasKey"
There is currently a method called `isHasKey` that lives in `/lib/isHasKey.js`.
It is incomplete and needs to be fixed!

This method will return true if the input object or the dictionary contains the input key. In the other hand, return false if the input object does not contain the input key. e.g. isHasKey({"key":"value"}, "key") => true

### Acceptance Criteria:
1. Running `yarn test isHasKey`

[2017-10-25 10:01] polo123qwe commented on #479
I'll take care of this

[2017-10-25 10:05] polo123qwe opened #480 "Fix isConsonant function"
There is currently a method called `isConsonant` that lives in `/lib/isConsonant.js`.
It is incomplete and needs to be fixed!

This method will return true if the parameter passed is a consonant, if its not it will return false.

### Acceptance Criteria:
1. Running `yarn test isConsonant` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have writt

[2017-10-25 10:06] vincealdrin commented on #480
@BlakeGuilloud I'll take this

[2017-10-25 10:57] kenhkelly opened #484 "Fix filesystem issues with convertPoundToKilogram"
At least on Mac, there are two files for converting pound to kilogram, convertPoundToKilogram and convertPoundtoKilogram. They are competing for attention. The "to" file needs to go and be replaced with the "To" file. Tests need to be updated.

[2017-10-25 10:57] kenhkelly commented on #484
I'm working on this.

[2017-10-25 15:08] LSBOSS opened #487 "Fix method "convertLitersPer100KilometerToMilesPerGallon""
There is currently a method called `convertLitersPer100KilometerToMilesPerGallon` that lives in `/lib/convertLitersPer100KilometerToMilesPerGallon.js`.
It is incomplete and needs to be fixed!

This functions converts fuel consumption specifications given in liter per 100km in miles per gallon.
See Wikipedia page for more details: [Link](https://en.wikipedia.org/wiki/Fuel_economy_in_automobiles#Con

[2017-10-25 15:14] #472 closed

[2017-10-25 15:24] #439 closed

[2017-10-25 15:27] #366 closed

[2017-10-25 15:31] #484 closed

[2017-10-25 15:48] ktilcu commented on #474
@davidkwan95 You know the drill ;P

[2017-10-25 15:48] ktilcu commented on #478
@JJEEGG2211 you know the drill!

[2017-10-25 15:49] ktilcu commented on #479
@polo123qwe I'll lock this down for 24 hours. Have fun!

[2017-10-25 15:49] ktilcu commented on #480
@vincealdrin I'll lock this down for 24 hours while you work on it. Enjoy!

[2017-10-25 16:11] saiftase opened #488 "Determine whether node in a directed graph isReachable()."
There is currently a method called `isReachable` that lives in `/lib/isReachable.js`.
It is incomplete and needs to be fixed!

A directed graph is represented as an array of 'edges'. Each 'edge' is composed of a start and end node.

For example:
[{from: 'A', to: 'C'},
    {from: 'B', to: 'D'},
    {from: 'C', to: 'E'},
    {from: 'D', to: 'A'},
    {from: 'E', to: 'F'}]

Given a directed graph, a

[2017-10-25 17:19] mr-rodgers opened #489 "fix 'partial' function"
There is currently a method called `partial` that lives in `/lib/partial.js`.
It is incomplete and needs to be fixed!

`partial` wraps a function *f* and return a new function *g* that when invoked, will call *f* with the arguments provided to `partial` prepended to the argument list provided to *g*.

### Acceptance Criteria:
1. Running `yarn test partial` results in tests passing.
2. You have wri

[2017-10-25 17:41] kenhkelly opened #490 "Fix up circumferenceOfACircle"
There is currently a method called `circumferenceOfACircle` that lives in `/lib/circumferenceOfACircle.js`.
It is incomplete and needs to be fixed!

This method should be used to calculate the circumference of a circle given the radius.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You h

[2017-10-25 18:25] Peradon commented on #490
I'll take care of this

[2017-10-25 18:35] ktilcu commented on #490
@Peradon You know the drill!

[2017-10-25 18:38] #479 closed

[2017-10-25 18:39] jtiala commented on #487
@BlakeGuilloud I would like to work on this

[2017-10-25 18:40] BlakeGuilloud commented on #487
You got it!

[2017-10-25 18:40] #480 closed

[2017-10-25 18:44] polo123qwe opened #492 "Fix removeWhitespace function"
There is currently a method called `removeWhitespace` that lives in `/lib/removeWhitespace.js`.
It is incomplete and needs to be fixed!

A string is passed to the method and the return is the same string with all the whitespaces removed. e.g. "this is a test" => "thisisatest"

### Acceptance Criteria:
1. Running `yarn test removeWhitespace` results in tests passing.
2. You have written a skeleton

[2017-10-25 19:20] N0V0S commented on #488
i'd like to work on this one :)

[2017-10-25 19:30] paolomangiadev commented on #492
Helping on this one :)

[2017-10-25 20:31] darthgera123 commented on #489
ill work on this

[2017-10-25 20:35] bransonl opened #495 "Fix slopeOfLine function"
There is currently a method called `slopeOfLine` that lives in `/lib/slopeOfLine.js`.
It is incomplete and needs to be fixed!

Given two 2D points, passed as objects with `x` and `y` properties representing `x` and `y` coordinates respectively, the function returns the slope of the straight line connecting them.

### Acceptance Criteria:
1. Running `yarn test slopeOfLine` results in tests passing.

[2017-10-25 21:04] Shaphil commented on #495
@BlakeGuilloud I would like to work on this

[2017-10-25 21:34] joshuafbarker commented on #469
@smehta11  The tests seem to be off on the conversions.

According to [https://codebeautify.org/hsv-to-rgb-converter](https://codebeautify.org/hsv-to-rgb-converter), [120, 1, 1] converts to [255, 0 , 0] , not [0, 255, 0], which is what the test is asking for.

[2017-10-25 22:32] sebassdc commented on #489
@BlakeGuilloud I would like to work on this.Its already taken?

[2017-10-25 23:12] Michelle12188 commented on #461
@BlakeGuilloud I can take this if no one else is going to take it? :)

[2017-10-25 23:17] azdavis opened #498 "Implement split"
There is currently a method called `split` that lives in `/lib/split.js`.
It is incomplete and needs to be fixed!

- `split` should take in an Array and return an Object containing two Arrays.
- If the input array has even length, i.e. length 2n for some non-negative integer n, then the length of each of the two arrays should be n. If the input array has odd length, i.e. length 2n + 1, then the le

[2017-10-25 23:18] sebassdc commented on #498
@BlakeGuilloud I would like to work on this :D

[2017-10-26 00:45] BlakeGuilloud commented on #498
You got it @sebassdc !

[2017-10-26 00:45] BlakeGuilloud commented on #461
Yeah absolutely @Michelle12188 ! Thanks

[2017-10-26 00:49] BlakeGuilloud commented on #489
Yeah absolutely! Thanks! @sebassdc

[2017-10-26 01:02] vincealdrin opened #500 "Fix pull method"
There is currently a method called `pull` that lives in `/lib/pull.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test pull` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any errors to the console!
5. Optional: wri

[2017-10-26 01:03] sebassdc commented on #500
@BlakeGuilloud I would like to work on this. Im on fire!!! :fire:

[2017-10-26 01:08] amoradi opened #501 "Fix getBiconditional function"
There is currently a method called `getBiconditional` that lives in `/lib/getBiconditional.js`.
It is incomplete and needs to be fixed!

"Logical equality (also known as biconditional) is an operation on two logical values, typically the values of two propositions, that produces a value of true if and only if both operands are false or both operands are true."
See https://en.wikipedia.org/wiki/Log

[2017-10-26 01:58] sebassdc commented on #501
@BlakeGuilloud I would like to work on this

[2017-10-26 02:06] BlakeGuilloud commented on #501
It's yours @sebassdc !

[2017-10-26 02:06] BlakeGuilloud commented on #500
OK @sebassdc ! Just make sure you write a new skeleton method for someone else for each method you solve.

[2017-10-26 02:08] sebassdc commented on #500
Ok i'll do my best :D

[2017-10-26 03:02] Michelle12188 opened #503 "Fix arrayVariance function"
There is currently a method called `<arrayVariance>` that lives in `/lib/<arrayVariance>.js`.
It is incomplete and needs to be fixed!

This method takes in a number array e.g. [1, 2, 3, 4] and returns the variance of the array

### Acceptance Criteria:
1. Running `yarn test <arrayVariance>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have wri

[2017-10-26 03:19] sebassdc commented on #489
When you pass a function as an argumentis a reference of the function itself. You cannot expect to create a new instance of the function because thats not posible in a simple an right way on javascript. It would make a mess the codebase.

[2017-10-26 03:25] gballesteros10 commented on #503
@BlakeGuilloud I'll take this. But I think the skeleton isn't merged yet.

[2017-10-26 04:18] #461 closed

[2017-10-26 04:18] BlakeGuilloud commented on #503
hey @gballesteros10 ! just merged it in. Go for it!

[2017-10-26 04:20] FranceJ opened #506 "Scientific Notation"
There is currently a method called `scientificNotation` that lives in `/lib/scientificNotation.js`.
It is incomplete and needs to be fixed!

This method should take in a float and output a string that can be used in an HTML document of the form `3.25 x 10<sup>2</sup>. It should also take a second argument which specifies the number of significant digits to include.

### Acceptance Criteria:
1. Run

[2017-10-26 04:21] #448 closed

[2017-10-26 04:22] #492 closed

[2017-10-26 04:22] FranceJ opened #507 "Update significant figures on methods"
Several methods currently are able to return repeating decimals or irrational numbers. We should either standardize the level of precision that our methods return or (better) add in an additional optional argument to specify the level of precision.

This would require updating several of the methods but seems necessary for users to have consistent results.

[2017-10-26 04:22] adamjq opened #508 "Fix sumPrimes method"
There is currently a method called `sumPrimes` that lives in `/lib/sumPrimes.js`.
It is incomplete and needs to be fixed!

The method returns the sum of all the prime numbers up to and including the provided number. The provided number will be a positive integer.

For example, sumPrimes(10) will return 17, as 2+3+5+7 = 17.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in te

[2017-10-26 06:59] JJEEGG2211 opened #509 "Fix hypotenuse function"
There is currently a method called `hypotenuse` that lives in `/lib/hypotenuse.js`.
It is incomplete and needs to be fixed!

`hypotenuse` calculates the length of the hypotenuse given the two input parameters.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surroundi

[2017-10-26 09:58] conradreuter commented on #509
I'll take it!

[2017-10-26 10:26] conradreuter commented on #509
Fixed in #510

[2017-10-26 10:27] conradreuter opened #511 "Fix castArray"
There is currently a method called `castArray` that lives in `/lib/castArray.js`.
It is incomplete and needs to be fixed!

The method packs a given value into an array if it is not already an array.

### Acceptance Criteria:
1. Running `yarn test castArray` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skelet

[2017-10-26 10:27] conradreuter commented on #511
Requires #510 to be merged first

[2017-10-26 11:44] BrainMaestro commented on #381
Is this still in progress? I would like to work on it

[2017-10-26 12:29] JJEEGG2211 commented on #478
Alright! Created the PR for this. Thanks @ktilcu
Hope I didn't make a mistake doing the PR. 😃

[2017-10-26 14:22] smehta11 commented on #469
@joshuafbarker Hue is typically given in degrees. However, that converter requires hue to be mapped to [0, 1] if saturation and value are also on that range (which is the norm). Instead of 120 degrees, try 0.333 for the hue (for that specific converter).

[2017-10-26 14:29] sebassdc opened #517 "fix arity method"
There is currently a method called arity that lives in `/lib/arity.js`.
It is incomplete and needs to be fixed!

This function acepts a function an return the arity of the function
See: https://en.wikipedia.org/wiki/Arity

### Acceptance Criteria:
1. Running `yarn test arity` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surr

[2017-10-26 14:31] sebassdc commented on #517
Requires #510 to be merged first

[2017-10-26 14:33] joshuafbarker commented on #469
Ah... I see now. Thanks for the clarification.

[2017-10-26 15:22] paolomangiadev opened #518 "fix convertInchesToCentimeters function"
There is currently a method called `convertInchesToCentimeters` that lives in `/lib/convertInchesToCentimeters.js`.
It is incomplete and needs to be fixed!

**Description:**
A number indicating a measurement in inches is passed to the method and the return is the same measurement  converted in centimeters. e.g. 7in => 17.78003556007112cm

### Acceptance Criteria:
1. Running `yarn test convertInche

[2017-10-26 16:30] lmauromb commented on #518
I'll take it!

[2017-10-26 16:39] roseg43 commented on #518
Was just taking a look at this and @paolomangiadev , it looks like the initial tests for this method pass no matter what.

The expect in "Should return converted inches to centimeters" always evaluates to true. Something to keep in mind @lmauromb

[2017-10-26 16:56] roseg43 commented on #508
@BlakeGuilloud I'd like to take a stab at this.

[2017-10-26 18:57] Peradon opened #523 "fix isArrayEqual"
There is currently a method called `isArrayEqual` that lives in `/lib/isArrayEqual.js`.
It is incomplete and needs to be fixed!

This method should return whether both of the input arrays are equal or not, ignore the element order in the arrays. e.g isArrayEqual([1,2,3], [3,1,2]) => true

### Acceptance Criteria:
1. Running `yarn test isArrayEqual` results in tests passing.
2. You have written a s

[2017-10-26 18:58] Peradon commented on #523
need to merge #514 first

[2017-10-26 19:24] jturinetti commented on #523
@BlakeGuilloud I will take this when it's ready!

[2017-10-26 20:41] showmeyourhits commented on #506
@BlakeGuilloud would love to work on dis

[2017-10-26 21:11] #193 closed

[2017-10-26 21:12] #468 closed

[2017-10-26 21:12] #487 closed

[2017-10-26 21:13] #488 closed

[2017-10-26 21:14] #489 closed

[2017-10-26 21:15] #367 closed

[2017-10-26 21:17] #490 closed

[2017-10-26 21:20] BlakeGuilloud commented on #523
Hey @jturinetti ! It's been merged in, but I think there is a typo in the test:

the method is called `isArrayEqual` but the test is importing `arrayUnion`. If you fix that, it should work!

Thanks!!
`const { arrayUnion } = require("../lib"); to const { isArrayEqual } = require('../lib');`

[2017-10-26 21:22] BlakeGuilloud commented on #518
Marking as in progress. @lmauromb - take a look at those tests while you're digging around, thanks!!

[2017-10-26 21:22] BlakeGuilloud commented on #506
Sounds good @showmeyourhits ! Go for it.

[2017-10-26 21:37] N0V0S opened #524 "fix method hasGraphCycle"
There is currently a method called `hasGraphCycle` that lives in `/lib/hasGraphCycle.js`.
It is incomplete and needs to be fixed! (along with the second test, the result should be 'false', not 'true' )

The method looks for a cycle in a directed graph and returns true if one is present, otherwise false.

### Acceptance Criteria:
1. Running `yarn test hasGraphCycle` results in tests passing.
2. You

[2017-10-26 22:14] hyades opened #526 "Fix countAlphaNumeric method"
There is currently a method called `countAlphaNumeric` that lives in `/lib/countAlphaNumeric.js`.
It is incomplete and needs to be fixed!

Write a function that counts all alphanumeric characters in a string.

### Acceptance Criteria:
1. Running `yarn test countAlphaNumeric` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surro

[2017-10-26 22:45] sebassdc opened #528 "Implement reverseArray function"
There is currently a method called `reverseArray` that lives in `/lib/reverseArray.js`.
It is incomplete and needs to be fixed!

This method should not modify the original array. It will take an array an return a new array with the items in the reverse order:
[code]
### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for some

[2017-10-26 22:49] sebassdc commented on #528
Requires #527 to be merged first

[2017-10-26 23:19] lmauromb opened #530 "fix convertCentimetersToInches function"
There is currently a method called `convertCentimetersToInches` that lives in `/lib/convertCentimetersToInches.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test convertCentimetersToInches` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yar

[2017-10-26 23:28] darthgera123 commented on #526
ill work on this

[2017-10-26 23:48] deB4SH opened #532 "Nth Key of a Map"
There is currently a method called `getMapKey` that lives in `/lib/getMapKey.js`.
It is incomplete and needs to be fixed!

This method should solve the issue to get the nth key from a map.
Follow-up of: https://github.com/BlakeGuilloud/ganon/pull/531

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to wor

[2017-10-27 00:02] BlakeGuilloud commented on #526
Cool deal!

[2017-10-27 00:08] #506 closed

[2017-10-27 00:09] #495 closed

[2017-10-27 00:11] #518 closed

[2017-10-27 00:15] #478 closed

[2017-10-27 03:04] jturinetti opened #534 "fix method deepCompare"
There is currently a method called `deepCompare` that lives in `/lib/deepCompare.js`.
It is incomplete and needs to be fixed!

Check if all properties on the provided parameters are equal.
This should recurse through all objects in the parameters' object graph.
Equivalence should be asserted on numbers, strings, and arrays in the object graph.

### Acceptance Criteria:
1. Running `yarn test deepCo

[2017-10-27 03:05] jturinetti commented on #534
Dependent on PR #533 being merged first.

[2017-10-27 03:59] gballesteros10 opened #535 "Fix mostFrequentChars function"
There is currently a method called `mostFrequentChars` that lives in `/lib/mostFrequentChars.js`.
It is incomplete and needs to be fixed!

`mostFrequentChars` returns an array of the most used character(s) from a string

### Acceptance Criteria:
1. Running `yarn test mostFrequentChars` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written

[2017-10-27 04:28] JJEEGG2211 opened #536 "Fix volumeOfCuboid function"
There is currently a method called `volumeOfCuboid` that lives in `/lib/volumeOfCuboid.js`.
It is incomplete and needs to be fixed!

volumeOfCuboid calculates the volume of a cuboid.

### Acceptance Criteria:
1. Running `yarn test volumeOfCuboid` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.

[2017-10-27 05:18] showmeyourhits opened #537 "Fix reduceRight"
There is currently a method called `reduceRight` that lives in `/lib/reduceRight.js`.
It is incomplete and needs to be fixed!

Like your usual reduce, but works from right to left.

### Acceptance Criteria:
1. Running `yarn test <methodName>` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. R

[2017-10-27 06:10] Shaphil opened #538 "Fix convertFeetInchesToCentimeter function"
There is currently a method called `convertFeetInchesToCentimeter` that lives in `/lib/convertFeetInchesToCentimeter.js`.
It is incomplete and needs to be fixed!

`convertFeetInchesToCentimeter` converts a height represented in Feet and Inches to Centimeters.

### Acceptance Criteria:
1. Running `yarn test convertFeetInchesToCentimeter` results in tests passing.
2. You have written a skeleton meth

[2017-10-27 08:11] Peradon commented on #538
Can I take care of this one?

[2017-10-27 09:37] rgehan commented on #537
I'll take it

[2017-10-27 10:05] jtiala opened #540 "fix convertBitsToBytes"
There is currently a method called `convertBitsToBytes` that lives in `/lib/convertBitsToBytes.js`.
It is incomplete and needs to be fixed!

The method should convert bits to bytes, as the name suggests. More information about bits and bytes can be found in [Wikipedia](https://en.wikipedia.org/wiki/Units_of_information).

### Acceptance Criteria:
1. Running `yarn test convertBitsToBytes` results i

[2017-10-27 10:42] rgehan opened #542 "Fix set()"
There is currently a method called `set` that lives in `/lib/set.js`.
It is incomplete and needs to be fixed!

It basically behaves just like lodash's `set` method.
You can use it like this:
[code]

⚠️  Please wait for https://github.com/BlakeGuilloud/ganon/issues/537 to be merged before attempting this one.

Instead of specifying the path with a dotted string, you can also use an array (`['a', 'b

[2017-10-27 10:59] thekhenzie opened #543 "fix countAlphaNumeric"
There is currently a method called `countAlphaNumeric` that lives in `/lib/countAlphaNumeric.js`.
It is incomplete and needs to be fixed!

### Acceptance Criteria:
1. Running `yarn test countAlphaNumeric` results in tests passing.
2. You have written a skeleton method for someone else to work on.
3. You have written tests surrounding your skeleton method.
4. Running `yarn lint` does not print any

[2017-10-27 11:32] thekhenzie commented on #543
Fixed in ([#544](https://github.com/BlakeGuilloud/ganon/pull/544))

[2017-10-27 13:15] aziznatour commented on #532
@BlakeGuilloud I would like to work on this

[2017-10-27 14:35] roseg43 opened #545 "Fix filterArray"
There is currently a method called `filterArray` that lives in `/lib/filterArray.js`.
It is incomplete and needs to be fixed!

This method takes an array of elements and runs each element through a truth test function argument, removing any element that does not pass the test. It then returns the filtered array.

### Acceptance Criteria:
1. Running `yarn test `filterArary` results in tests passing

[2017-10-27 14:49] joshuafbarker opened #546 "Fix sortBy method"
There is currently a method called `sortBy` that lives in `/lib/sortBy.js`.
It is incomplete and needs to be fixed!

`sortBy` takes in two arguments. The first is a sorting function. `(a, b) => a > b` The second argument is the array you wish to sort.

### Acceptance Criteria:
1. Running `yarn test sortBy` results in tests passing.
2. You have written a skeleton method for someone else to work on.

[2017-10-27 16:40] #523 closed

[2017-10-27 16:41] #503 closed

[2017-10-27 18:25] xxnatc commented on #540
I'd like to work on this!

[2017-10-27 21:56] #508 closed

[2017-10-27 21:58] #498 closed

[2017-10-27 21:59] kathnakon commented on #528
i want to solve this issue #528

[2017-10-27 22:27] amoradi opened #549 "Fix arrayHead function"
There is currently a method called `arrayHead` that lives in `/lib/arrayHead.js`.
It is incomplete and needs to be fixed!

This method should return the first element in an Array.
Note: you might consider renaming the file/method to `head`, since it also accepts `Strings`.

### Acceptance Criteria:
1. Running `yarn test arrayHead` results in tests passing.
2. You have written a skeleton method for

[2017-10-27 22:35] amoradi commented on #540
@xxnatc Great! Have at it.